/* sldsValidatorIgnore */

@import "c/sfGpsDsAuNswCoreOs";
@import "c/sfGpsDsAuNswFormOs";
@import "./table_gen.css";

thead tr {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

tbody tr {
  display: flex;
}

/* for the error column */
tr > th:first-child {
  display: none;
}

tbody tr td {
  flex: 0;
  padding-left: 0;
  padding-right: 0;
}

tbody tr td:nth-child(2) {
  flex: 1;
}

.nsw-hide {
  display: none;
}

.sfgpsds-au-nsw-editblock__delete {
  margin-right: 0.25rem;
}

.omni-edit-block-fs-row {
  cursor: pointer;
}
