@import "../../../../../node_modules/@dpc-sdp/ripple-global/scss/settings";
@import "../../../../../node_modules/@dpc-sdp/ripple-global/scss/tools";
@import "../../../../../node_modules/@dpc-sdp/ripple-global/scss/components/button";

$rpl-quick-exit-menu-header-height-xs: rem(48px) !default;
$rpl-quick-exit-menu-header-height-m: rem(62px) !default;
$rpl-quick-exit-menu-button-spacing: $rpl-space !default;

.rpl-quick-exit {
  padding-left: $rpl-space;
  margin-left: auto;
  z-index: $rpl-zindex-tooltip;

  @include rpl_print_hidden;

  &--sticky {
    &::before {
      // A phantom button to keep the space available.
      content: attr(data-text);
      @include rpl_narrow_button;
      pointer-events: none;
      opacity: 0;
    }
  }

  &__button {
    @include rpl_narrow_button;
    @include rpl_narrow_button_danger;

    &--stickable {
      z-index: $rpl-zindex-popover;
      top: $rpl-header-horizontal-padding-xs;
      right: $rpl-header-horizontal-padding-xs;

      @include rpl_breakpoint('s') {
        top: $rpl-header-horizontal-padding-s;
        right: $rpl-header-horizontal-padding-s;
      }
    }

    &--sticky {
      position: fixed;
      transition: margin ease-in .3s;
      left: auto;
    }

    &--header-visible {
      transition: margin ease-out .2s;
      margin-top: $rpl-quick-exit-menu-header-height-xs + $rpl-quick-exit-menu-button-spacing;

      @include rpl_breakpoint('m') {
        margin-top: $rpl-quick-exit-menu-header-height-m + $rpl-quick-exit-menu-button-spacing;
      }
    }

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: $rpl-button-danger-hover-background-color;
    }
  }
}