@import "node_modules/@dpc-sdp/ripple-global/scss/settings";
@import "node_modules/@dpc-sdp/ripple-global/scss/tools";

$rpl-text-link-light-underline-hover: rpl-color('mid_neutral_2') !default;
$rpl-text-link-dark-underline-hover: rpl-color('white') !default;
$rpl-text-link-text-color-hover: rpl_color('primary') !default;
$rpl-text-link-dark-text-color-hover: rpl-color('white') !default;

.rpl-text-link {
  &--underline {
    &.rpl-link {
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  &--dark {
    @include rpl_focus_dark;
  }

  &:hover,
  &:focus {
    color: $rpl-text-link-text-color-hover;

    .rpl-text-label {
      color: inherit;

      &--small {
        &--underline {
          border-bottom-color: $rpl-text-link-light-underline-hover;
        }
      }

      &--large {
        &--underline {
          border-bottom-color: $rpl-text-link-light-underline-hover;
        }
      }

      &--dark {
        &--underline {
          color: $rpl-text-link-dark-text-color-hover;
          border-bottom-color: $rpl-text-link-dark-underline-hover;
        }
      }
    }
  }
}