.qg-accordion.qg-accordion-v2 article:last-child {
  border-bottom: none !important;
}
.qg-accordion.qg-accordion-v2
  c-sf-gps-ds-au-qld-accordion-item:last-child
  article {
  border-bottom: 1px solid gray !important;
}
