@import "c/sfGpsDsAuNswCore";

.nsw-hero-banner {
  background-color: var(--nsw-white);
  position: relative;
  position: relative;
}
.nsw-hero-banner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}
.nsw-hero-banner__container {
  max-width: var(--nsw-container-width);
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.nsw-hero-banner__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
@media (min-width: 48rem) {
  .nsw-hero-banner__wrapper {
    margin-left: -1rem;
    margin-right: -1rem;
  }
}
.nsw-hero-banner__content {
  width: 100%;
  padding: 0.5rem;
}
@media (min-width: 48rem) {
  .nsw-hero-banner__content {
    padding: 1rem;
  }
}
@media (min-width: 48rem) {
  .nsw-hero-banner__content {
    width: 58.3333333333%;
    max-width: 58.3333333333%;
  }
}
@media (min-width: 75rem) {
  .nsw-hero-banner__content {
    width: 50%;
    max-width: 50%;
  }
}
@media (min-width: 0rem) {
  .nsw-hero-banner__content {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
@media (min-width: 48rem) {
  .nsw-hero-banner__content {
    min-height: 16.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 62rem) {
  .nsw-hero-banner__content {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
  }
}
@media (min-width: 48rem) {
  .nsw-hero-banner--wide .nsw-hero-banner__content {
    width: 66.6666666667%;
    max-width: 66.6666666667%;
  }
}
@media (min-width: 75rem) {
  .nsw-hero-banner--wide .nsw-hero-banner__content {
    width: 58.3333333333%;
    max-width: 58.3333333333%;
  }
}
@media (min-width: 48rem) {
  .nsw-hero-banner--featured .nsw-hero-banner__content {
    min-height: 0;
    display: block;
  }
}
.nsw-hero-banner__content .nsw-button {
  margin: 1.5rem 0 0 0;
}
.nsw-hero-banner__content .nsw-intro {
  margin: 0.5rem 0 0 0;
}
@media (min-width: 48rem) {
  .nsw-hero-banner__content .nsw-intro {
    margin-top: 1rem;
  }
}
.nsw-hero-banner__links {
  width: 100%;
  padding: 0.5rem;
}
@media (min-width: 48rem) {
  .nsw-hero-banner__links {
    padding: 1rem;
  }
}
@media (min-width: 48rem) {
  .nsw-hero-banner__links {
    width: 33.3333333333%;
    max-width: 33.3333333333%;
  }
}
@media (min-width: 75rem) {
  .nsw-hero-banner__links {
    width: 33.3333333333%;
    max-width: 33.3333333333%;
    margin-left: 8.3333333333%;
  }
}
@media (min-width: 0rem) {
  .nsw-hero-banner__links {
    margin-top: -0.5rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
@media (min-width: 48rem) {
  .nsw-hero-banner__links {
    margin-top: 0;
    padding-top: 2rem;
  }
}
@media (min-width: 62rem) {
  .nsw-hero-banner__links {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
  }
}
.nsw-hero-banner__list {
  z-index: 100;
  border-left: solid 4px var(--nsw-brand-accent);
  padding-left: 1rem;
  position: relative;
}
.nsw-hero-banner__list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nsw-hero-banner__list li {
  display: block;
  margin-top: 1rem;
}
.nsw-hero-banner__list li:first-child {
  margin-top: 0;
}
.nsw-hero-banner__sub-title {
  font-size: var(--nsw-font-size-md-mobile);
  line-height: var(--nsw-line-height-md-mobile);
  margin: 0 0 1rem 0;
  font-weight: var(--nsw-font-bold);
}
@media (min-width: 62rem) {
  .nsw-hero-banner__sub-title {
    font-size: var(--nsw-font-size-md-desktop);
    line-height: var(--nsw-line-height-md-desktop);
  }
}
.nsw-hero-banner__box {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 41.66667%;
  padding-left: 1rem;
  overflow: hidden;
}
@media (min-width: 48rem) {
  .nsw-hero-banner__box {
    display: flex;
  }
}
@media (min-width: 75rem) {
  .nsw-hero-banner__box {
    width: 50%;
    padding-left: calc(var(--nsw-container-width) / 12 + 1rem);
  }
}
.nsw-hero-banner__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.nsw-hero-banner__graphic {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.nsw-hero-banner__graphic--transparent {
  opacity: 0.2;
}
.nsw-hero-banner__bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: var(--nsw-brand-dark);
  opacity: 0.2;
  /* background-image: url("data:image/svg+xml,%3Csvg width='206' height='220' viewBox='0 0 206 220' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M206 220V36.232L32.136 220H206zm-189.5 0H0L206 2.143v17.46L16.5 220z'/%3E%3C/svg%3E");
  background-size: rem(206px);
  background-position: right bottom;
  background-repeat: no-repeat;
  */
}
.nsw-hero-banner--light {
  background-color: var(--nsw-brand-light);
}
.nsw-hero-banner--dark {
  background-color: var(--nsw-brand-dark);
  /* .nsw-hero-banner__bg {
    background-image: url("data:image/svg+xml,%3Csvg width='206' height='220' viewBox='0 0 206 220' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M206 220V36.232L32.136 220H206zm-189.5 0H0L206 2.143v17.46L16.5 220z'/%3E%3C/svg%3E");
 }
  */
}
.nsw-hero-banner--dark .nsw-hero-banner__content {
  color: var(--nsw-text-light);
}
.nsw-hero-banner--dark .nsw-hero-banner__links {
  color: var(--nsw-text-light);
}
.nsw-hero-banner--dark .nsw-hero-banner__links a {
  color: var(--nsw-text-light);
}
.nsw-hero-banner--dark .nsw-hero-banner__links a:hover {
  background-color: var(--nsw-text-hover-light);
  outline-color: var(--nsw-text-hover-light);
}
.nsw-hero-banner--dark .nsw-hero-banner__links a:focus {
  outline-color: var(--nsw-white);
}
.nsw-hero-banner--dark .nsw-hero-banner__links a:visited {
  color: var(--nsw-text-light);
}

/*
.nsw-hero-banner__bg {
  background-image: url("data:image/svg+xml,%3Csvg width='206' height='220' viewBox='0 0 206 220' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M206 220V36.232L32.136 220H206zm-189.5 0H0L206 2.143v17.46L16.5 220z'/%3E%3C/svg%3E");
}
*/
