.THIS {
  position: relative;
  z-index: 1;
}

.THIS .sr-only {
  display: none;
}

.THIS.sf-gps-ds-widget--no-margin
  .siteforceContentArea
  .comm-layout-column
  .ui-widget:not(:last-child),
.THIS.sf-gps-ds-widget--no-margin
  .siteforceContentArea
  .cb-section_column
  .ui-widget:not(:last-child) {
  margin-bottom: 0;
}
