@import "c/sfGpsDsAuNswCore";
@import "c/sfGpsDsAuNswForm";

/* Need to adjust this rule as in Omniscript they always be first child */
/* have same setup as for subsequent children. */

.nsw-form__group:first-child {
  margin-top: 1rem;
}

.omni-file-input {
  --lwc-spacingXxxSmall: 0.5rem;
  --lwc-colorBorder: var(--nsw-grey-01);
  --slds-c-button-neutral-color-background: var(--nsw-brand-dark);
  --slds-c-button-neutral-color-background-hover: #002664d9;
  --slds-c-button-neutral-color-border: transparent;
  --slds-c-button-neutral-color-border-hover: transparent;
  --slds-c-button-text-color: var(--nsw-text-light);
  --slds-c-button-text-color-hover: var(--nsw-text-light);
  --slds-c-button-spacing-block-start: 0.5rem; /* Found by trial & error, due to lightning primitive icon height */
  --slds-c-button-spacing-block-end: 0.5rem;
  --slds-c-button-neutral-spacing-inline-start: 1.375rem;
  --slds-c-button-neutral-spacing-inline-end: 1.375rem;
  font-weight: var(--nsw-font-bold);
}
