.omni-file-input {
  --local-border-width: var(--rpl-border-2);
  --rpl-focusable-border-width: var(--local-border-width);

  --local-outlined-border-clr: var(--rpl-clr-primary);
  --local-outlined-border-clr-hover: var(--rpl-clr-primary-alt);
  --local-outlined-type-clr: var(--rpl-clr-type-primary-accessible);
  --local-outlined-type-clr-hover: var(--rpl-clr-type-primary-alt-accessible);

  --lwc-spacingXxxSmall: 0.5rem;
  --lwc-colorBorder: var(--rpl-clr-neutral-600);

  --slds-c-button-line-height: var(--rpl-type-lh-2);

  font-family: var(--rpl-type-font-family);
  font-size: var(--rpl-type-size-2);
  letter-spacing: var(--rpl-type-ls-1);
}

.omni-file-input {
  order: 2;
}

.errors.help-block {
  order: 3;
}

.sfgpsds-file-list {
  order: 4;
}

.omni-file > li > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: var(--rpl-sp-2);
}

.remove-file-icon {
  color: var(--rpl-clr-primary);
}

.remove-file-icon:hover {
  color: var(--rpl-clr-primary-alt);
}
