.rpl-site-footer {
  font-family: "VIC-Regular", "Arial", "Helvetica", "sans-serif";
  font-size: 0.75rem;
  line-height: 1em;
  font-weight: normal;
  color: #fff;
  background-color: #023b89;
}
@media screen {
  .rpl-site-footer {
    overflow-x: hidden;
  }
}
@media print {
  .rpl-site-footer {
    color: #000;
  }
}
@media screen and (min-width: 992px) {
  .rpl-site-footer {
    background-image: url("/sfsites/c/resource/sfGpsDsAuVic/images/footer-shape.500c524.png");
    background-position: calc(100% + 37.5rem) bottom;
    background-repeat: no-repeat;
    background-size: 55rem;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-site-footer {
    background-position: calc(100% + 27.5rem) bottom;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-site-footer {
    background-position: calc(100% + 6.25rem) bottom;
  }
}
@media print {
  .rpl-site-footer {
    background-image: none;
    background-color: transparent;
  }
}
.rpl-site-footer a {
  color: #fff;
}
.rpl-site-footer a:focus {
  outline: 1px solid #fff;
}
.rpl-site-footer ul {
  padding: 0;
  list-style: none;
}
.rpl-site-footer__acknowledgement {
  padding: 0.75rem 0 2.25rem;
}
@media screen and (min-width: 992px) {
  .rpl-site-footer__acknowledgement {
    padding: 2rem 0 1rem;
  }
}
.rpl-site-footer__caption {
  font-family: "VIC-Medium", "Arial", "Helvetica", "sans-serif";
  font-size: 0.75rem;
  line-height: 1.17em;
  font-weight: normal;
  margin: 0 0 1.25rem;
}
@media screen and (min-width: 992px) {
  .rpl-site-footer__caption {
    margin: 1rem 0 -1rem;
  }
}

.rpl-site-footer__main {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
  border-bottom: 1px solid #0052c2;
  padding-top: 0.25rem;
}
@media screen and (min-width: 576px) {
  .rpl-site-footer__main {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}
@media print {
  .rpl-site-footer__main {
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .rpl-site-footer__main {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}
@media screen and (min-width: 992px) {
  .rpl-site-footer__main {
    padding-left: 4.25rem !important;
    padding-right: 4.25rem !important;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-site-footer__main {
    padding-left: 5.75rem !important;
    padding-right: 5.75rem !important;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-site-footer__main {
    padding-left: 17rem !important;
    padding-right: 17rem !important;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-site-footer__main {
    padding-left: calc((100% - 66rem) / 2) !important;
    padding-right: calc((100% - 66rem) / 2) !important;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-site-footer__main {
    padding-left: calc((100% - 88.75rem) / 2) !important;
    padding-right: calc((100% - 88.75rem) / 2) !important;
  }
}
@media print {
  .rpl-site-footer__main {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media print {
  .rpl-site-footer__main {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .rpl-site-footer__main {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.rpl-site-footer__bottom {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
  background-color: transparent;
  padding-top: 0.75rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 576px) {
  .rpl-site-footer__bottom {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}
@media print {
  .rpl-site-footer__bottom {
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .rpl-site-footer__bottom {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}
@media screen and (min-width: 992px) {
  .rpl-site-footer__bottom {
    padding-left: 4.25rem !important;
    padding-right: 4.25rem !important;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-site-footer__bottom {
    padding-left: 5.75rem !important;
    padding-right: 5.75rem !important;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-site-footer__bottom {
    padding-left: 17rem !important;
    padding-right: 17rem !important;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-site-footer__bottom {
    padding-left: calc((100% - 66rem) / 2) !important;
    padding-right: calc((100% - 66rem) / 2) !important;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-site-footer__bottom {
    padding-left: calc((100% - 88.75rem) / 2) !important;
    padding-right: calc((100% - 88.75rem) / 2) !important;
  }
}
@media print {
  .rpl-site-footer__bottom {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media screen and (min-width: 992px) {
  .rpl-site-footer__bottom {
    width: 100%;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 992px) {
  .rpl-site-footer__bottom {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
@media print {
  .rpl-site-footer__bottom {
    background-color: transparent;
  }
}

@media screen and (max-width: 991px) {
  .rpl-footer-nav {
    height: auto !important;
  }
}
.rpl-footer-nav__menu-item {
  border-bottom: 1px solid #0052c2;
}
@media screen and (min-width: 992px) {
  .rpl-footer-nav__menu-item {
    border-bottom: 0;
  }
}
.rpl-footer-nav__heading {
  font-family: "VIC-Bold", "Arial", "Helvetica", "sans-serif";
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: normal;
}
.rpl-footer-nav__heading .rpl-icon {
  float: right;
  height: 1.5rem !important;
}
.rpl-footer-nav__menu-item--parent .rpl-footer-nav__heading {
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .rpl-footer-nav__menu-item--parent .rpl-footer-nav__heading {
    cursor: auto;
  }
}
.rpl-footer-nav__submenu-item li {
  display: block;
  margin-bottom: 1rem;
}
.rpl-footer-nav__submenu-item a {
  font-family: "VIC-Regular", "Arial", "Helvetica", "sans-serif";
  font-size: 0.875rem;
  line-height: 1.4em;
  font-weight: normal;
}
@media screen and (min-width: 992px) {
  .rpl-footer-nav__submenu-item {
    display: block;
  }
}

.rpl-links-and-copyright__links {
  margin: 0;
}
@media print {
  .rpl-links-and-copyright__links {
    display: none;
  }
}
.rpl-links-and-copyright__links li {
  display: inline-block;
  border-left: 1px solid #fff;
  padding: 0 0.75rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.rpl-links-and-copyright__links li:first-child {
  border-left: 0;
  padding-left: 0;
}

.rpl-links-and-copyright__copyright {
  margin: 0 0 1rem;
}
.rpl-links-and-copyright__copyright p {
  margin-top: 0;
}
@media screen and (min-width: 992px) {
  .rpl-links-and-copyright__copyright {
    margin-bottom: 0.5rem;
  }
}
@media print {
  .rpl-links-and-copyright__copyright {
    margin-top: 0;
    margin-bottom: 0;
    margin-top: 2rem;
  }
}

.rpl-site-footer__logos {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .rpl-site-footer__logos {
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
  }
}

.rpl-site-footer__logo {
  display: flex;
  align-items: center;
  max-width: 7rem;
  max-height: 3.25rem;
  margin-left: 0.5rem;
}
.rpl-site-footer__logo:focus {
  outline: 1px solid #fff;
}
@media screen and (min-width: 576px) {
  .rpl-site-footer__logo {
    width: auto;
    margin-left: 2rem;
    max-width: none;
    max-height: none;
  }
}
@media print {
  .rpl-site-footer__logo {
    display: none;
  }
}
.rpl-site-footer__logo:first-child {
  margin-left: 0;
}
.rpl-site-footer__logo img {
  max-width: 100%;
  max-height: 100%;
}
@media screen and (min-width: 576px) {
  .rpl-site-footer__logo img {
    width: initial;
    max-width: 7rem;
    max-height: 3.25rem;
  }
}

/*# sourceMappingURL=sfGpsDsAuVicSiteFooter.css.map */
