@import "c/sfGpsDsAuNswCore";
@import "c/sfGpsDsAuNswForm";

/* the goal here is to bring the next rows closer */

.sfgpsds-nsw-edit-block__nextindex.nsw-col {
  margin-top: -1rem;
}

@media (min-width: 48rem) {
  .sfgpsds-nsw-edit-block__nextindex.nsw-col {
    margin-top: -2rem;
  }
}

/* allow button menu to span over next elements */
.sfgpsds-nsw-edit-block__nextindex {
  overflow: visible;
}
