@import "c/sfGpsDsUkGovCoreOs";
@import "./input.gen.css";

/* repeat icons */

[data-label] {
  display: table;
}

[data-label] .govuk-label-wrapper {
  margin-right: 0.5rem;
}

[data-label] slot {
  display: table-cell;
}
