@import "c/sfGpsDsAuNswCore";

.nsw-footer hr {
  margin: 1rem 0;
  height: 1px;
  border: 0;
  background-color: var(--nsw-grey-03);
}
.nsw-footer__upper {
  background-color: var(--nsw-white);
  border-top: solid 1px var(--nsw-grey-03);
  padding-top: 1.5rem;
}
.nsw-footer__upper .nsw-container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (min-width: 62rem) {
  .nsw-footer__upper .nsw-container {
    padding-left: 0;
    padding-right: 0;
  }
}
.nsw-footer__group {
  padding: 0 0.5rem 1rem 0.5rem;
  flex: 1 0 auto;
  min-width: 16rem;
  max-width: 50%;
}
@media (min-width: 48rem) {
  .nsw-footer__group {
    flex-basis: 50%;
    min-width: auto;
  }
}
@media (min-width: 62rem) {
  .nsw-footer__group {
    padding: 0 1rem 1.5rem 1rem;
    flex-basis: 25%;
  }
}
.nsw-footer__group ul {
  font-size: var(--nsw-font-size-xs-mobile);
  line-height: var(--nsw-line-height-xs-mobile);
  list-style: none;
  margin: 0.25rem 0 0 0;
  padding: 0;
}
@media (min-width: 62rem) {
  .nsw-footer__group ul {
    font-size: var(--nsw-font-size-xs-desktop);
    line-height: var(--nsw-line-height-xs-desktop);
  }
}
.nsw-footer__group ul a {
  font-weight: var(--nsw-font-normal);
}
.nsw-footer__group li:first-child {
  margin-top: 0;
}
.nsw-footer__heading {
  font-size: var(--nsw-font-size-sm-mobile);
  line-height: var(--nsw-line-height-sm-mobile);
}
@media (min-width: 62rem) {
  .nsw-footer__heading {
    font-size: var(--nsw-font-size-sm-desktop);
    line-height: var(--nsw-line-height-sm-desktop);
  }
}
.nsw-footer__lower {
  font-size: var(--nsw-font-size-xxs-mobile);
  line-height: var(--nsw-line-height-xxs-mobile);
  background-color: var(--nsw-grey-01);
  color: var(--nsw-text-light);
  padding: 1rem 0 1.5rem 0;
}
@media (min-width: 62rem) {
  .nsw-footer__lower {
    font-size: var(--nsw-font-size-xxs-desktop);
    line-height: var(--nsw-line-height-xxs-desktop);
  }
}
.nsw-footer__lower a {
  color: var(--nsw-text-light);
}
.nsw-footer__lower a:hover {
  background-color: var(--nsw-text-hover-light);
  outline-color: var(--nsw-text-hover-light);
}
.nsw-footer__lower a:focus {
  outline-color: var(--nsw-white);
}
.nsw-footer__lower a:visited {
  color: var(--nsw-text-light);
}
.nsw-footer__lower p {
  margin: 0.75rem 0;
}
.nsw-footer__lower ul {
  list-style: none;
  margin: 1rem -0.5rem 0 -0.5rem;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (min-width: 48rem) {
  .nsw-footer__lower ul {
    margin-left: 0;
    margin-right: 0;
  }
}
.nsw-footer__lower li {
  flex: 1 0 50%;
  max-width: 50%;
  padding: 0 0.5rem;
  margin: 0 0 1rem 0;
}
@media (min-width: 48rem) {
  .nsw-footer__lower li {
    margin-right: 1.5rem;
    padding: 0;
    flex: 0 0 auto;
    max-width: none;
  }
}
@media (min-width: 48rem) {
  .nsw-footer__info {
    display: flex;
    flex-wrap: nowrap;
  }
}
.nsw-footer__copyright {
  flex: 1 1 auto;
  margin: 0.75rem 0;
}
.nsw-footer__built {
  flex: 0 0 12.5rem;
  margin: 0.75rem 0;
}
@media (min-width: 48rem) {
  .nsw-footer__built {
    text-align: right;
  }
}
