@import "c/sfGpsDsUkGovCoreOs";
@import "./checkboxes.gen.css";
@import "./input.gen.css";

/* Custom Styles **govuk-col** is not part of GovUK-Frontend */
.govuk-form__group:first-child {
  margin-top: 1rem;
}

.govuk-col.street,
.govuk-col.suburb,
.govuk-col.state,
.govuk-col.postalcode,
.govuk-col.country {
  padding-top: 0;
  padding-bottom: 0;
}

.govuk-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

@media (min-width: 48rem) {
  .govuk-grid {
    margin-left: -1rem;
    margin-right: -1rem;
  }
}

.govuk-col {
  width: 100%;
  padding: 0.5rem;
}
@media (min-width: 48rem) {
  .govuk-col {
    padding: 1rem;
  }
}
.govuk-col-12 {
  width: 100%;
  max-width: 100%;
}

.address-container input {
  text-transform: capitalize;
}

.label-link {
  color: #1d70b8;
  cursor: pointer;
  font-size: 1.18rem;
}

.sfgpsds-hide {
  display: none;
}

.sfgpsds-label__group {
  display: flex;
}

.sfgpsds-label__group_label_container {
  display: flex;
  flex-grow: 1;
  min-width: 0;
}

.sfgpsds-label__group_label {
  display: inline-flex;
  flex-grow: 1;
  align-items: center;
  min-width: 0;
}

.sfgpsds-label__group_action {
  min-width: 0;
}
