@import "@dpc-sdp/ripple-ui-core/src/styles/breakpoints";

:host {
  --rpl-content-max-width: none;
}

.docs-main {
  @media (--rpl-bp-l) {
    padding-left: var(--rpl-sp-9);
  }
}

.docs-hide-mobile-sidebar .docs-sidebar {
  display: none;

  @media (--rpl-bp-l) {
    display: block;
  }
}

.docs-content {
  padding-top: var(--rpl-sp-3);
  padding-bottom: var(--rpl-sp-4);

  @media (--rpl-bp-m) {
    padding-top: var(--rpl-sp-4);
  }
}