@import "../../../../../node_modules/@dpc-sdp/ripple-global/scss/settings";
@import "../../../../../node_modules/@dpc-sdp/ripple-global/scss/tools";

$rpl-publish-date-and-author-date-location-ruleset: ('xs', 1em, 'bold');
$rpl-publish-date-and-author-author-ruleset: ('xs', 1.4em, 'regular');
$rpl-publish-date-and-author-author-margin: $rpl-space 0 0 0;

.rpl-publish-date-and-author {
  &__date-location {
    @include rpl_typography_ruleset($rpl-publish-date-and-author-date-location-ruleset);
    @include rpl_text_color(rpl-color('extra_dark_neutral'));
  }

  &__author {
    @include rpl_typography_ruleset($rpl-publish-date-and-author-author-ruleset);
    @include rpl_text_color(rpl-color('extra_dark_neutral'));
    margin: $rpl-publish-date-and-author-author-margin;
  }
}