/* Ontario Design System Back to Top Styles */
/* Using CSS Custom Properties with fallbacks for theming */

@import "@ongov/ontario-design-system-component-library/dist/collection/components/ontario-back-to-top/ontario-back-to-top";
