.qld__card-list--row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.qld__card-list--col {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.qld__card-list--matchheight c-sf-gps-ds-au-qld-card-comm,
.qld__card-list--matchheight c-sf-gps-ds-au-qld-card {
  display: flex;
  flex-grow: 1;
}

.qld__card-list--col
  c-sf-gps-ds-au-qld-card-comm
  + c-sf-gps-ds-au-qld-card-comm {
  margin-top: 24px;
}

@media (min-width: 992px) {
  .qld__card-list--col
    c-sf-gps-ds-au-qld-card-comm
    + c-sf-gps-ds-au-qld-card-comm {
    margin-top: 32px;
  }
}
