<template lwc:render-mode="light">
  <div lwc:ref="theme" class={themeClassName}>
    <a
      href={mainId}
      class="ontario-show-for-sr ontario-show-on-focus text-center"
    >
      {skipToContentLabel}
    </a>

    <div class={layoutClassName}>
      <div
        lwc:if={hasAboveHeader}
        id={aboveHeaderId}
        class={aboveHeaderClassName}
        aria-live="polite"
      >
        <slot name="aboveHeader"></slot>
      </div>

      <div
        lwc:if={hasHeader}
        id={headerId}
        data-f6-region
        class={headerClassName}
        aria-live="polite"
      >
        <slot name="header"></slot>
      </div>

      <div
        lwc:if={hasBelowHeader}
        id={belowHeaderId}
        class={belowHeaderClassName}
        aria-live="polite"
      >
        <slot name="belowHeader"></slot>
      </div>

      <div class="grid__outer-wrap">
        <main id={mainId} aria-live="polite">
          <slot></slot>
        </main>
      </div>

      <div data-f6-region class={footerClassName} aria-live="polite">
        <slot name="footer"></slot>
      </div>
      <!-- footer -->
    </div>
  </div>
</template>
