@import '@dpc-sdp/ripple-ui-core/src/styles/breakpoints';

.docs-header {
  --docs-header-color: var(--rpl-clr-primary);
}

.docs-header-top {
  background: var(--docs-header-color);
  color: var(--rpl-clr-light);
}

.docs-header-inner {
  display: flex;
  align-items: center;
  height: 60px;
}

.docs-header-logo img {
  display: block;
  height: 16px;
  width: 106px;
}

.docs-header-title {
  margin-left: var(--rpl-sp-4);
  padding-left: var(--rpl-sp-4);
  border-left: var(--rpl-border-2) solid var(--rpl-clr-light);
  font-weight: 700;
  height: var(--rpl-sp-6);
  display: flex;
  align-items: center;

  font-size: 13px;
  line-height: 13px;

  @media (--rpl-bp-l) {
    font-size: 16px;
    line-height: 16px;
  }
}

.docs-header-bottom {
  background: var(--rpl-clr-neutral-100);
  border-bottom: var(--rpl-border-1) solid var(--rpl-clr-neutral-300);

  @media (--rpl-bp-l) {
    display: none;
  }
}

.docs-header-bottom-inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
}

.docs-header-link {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
}

.docs-header-link-icon {
  margin-left: var(--rpl-sp-2);
}

.docs-header-menu {
  @media (--rpl-bp-l) {
    display: none;
  }

  overflow-y: auto;
  background: var(--rpl-clr-neutral-100);
  padding-top: var(--rpl-sp-4);
  padding-bottom: var(--rpl-sp-5);
  padding-left: var(--rpl-sp-3);
  padding-right: var(--rpl-sp-3);
  position: fixed;
  top: 101px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}

.docs-header-menu-inner {
  max-width: 400px;
  margin: 0 auto;
}