@import "c/sfGpsDsFrGovCoreOs";
@import "./radios.gen.css";

/* repeat icons */

.fr-fieldset__legend > span:first-child {
  margin-right: 0.5rem;
}

.fr-fieldset__legend slot {
  display: inline;
}

/* /* added to align with omnistudio 246 darkenining the background of read only widgets wholesale */
.fr-label--disabled:before {
  opacity: 0.5;
  background: white !important;
  background-image: linear-gradient(
      0deg,
      var(--text-disabled-grey),
      var(--text-disabled-grey)
    ),
    linear-gradient(0deg, var(--text-disabled-grey), var(--text-disabled-grey)),
    linear-gradient(0deg, var(--text-disabled-grey), var(--text-disabled-grey)),
    linear-gradient(
      0deg,
      var(--border-default-grey),
      var(--border-default-grey)
    );
}
