@import "c/sfGpsDsUkGovCoreOs";
@import "c/sfGpsDsUkGovPredictiveCssOsN";
@import "./input.gen.css";

[data-label] {
  display: table;
}

[data-label] label {
  margin-right: 0.5rem;
}

[data-label] slot {
  display: table-cell;
}
