@import "c/sfGpsDsUkGovCoreOs";
@import "./input.gen.css";
@import "./checkboxes.gen.css";

/* repeat icons */

[data-label="true"] {
  display: table;
}

[data-label="true"] .govuk-label {
  margin-right: 0.5rem;
}

[data-label="true"] slot {
  display: table-cell;
}

/* added to align with omnistudio 246 darkenining the background of read only widgets wholesale */
.govuk-checkboxes__label:before {
  background: white;
}
