@import "../sfGpsDsUkGovCore/fonts-path.scss";


/* Force Masthead H1 text bigger */
@media (min-width: 40.0625em) {
  .govuk-heading-xl {
      font-size: 48px;
      font-size: 3rem;
      line-height: 1.0416666667;
  }
}
