.omniscript-article.slds-card {
  border: none;
}

.omniscript-body {
  padding: 0 !important;
}

.slds-omniscript_stepform {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.omniscript-body {
  border-right: 0 !important;
}
