@import "./byo_auralwr_omniscript-base";

.omniscript-sfl-actions,
.omniscript-button-position,
.omniscript-btn-next,
.omniscript-btn-previous,
.omniscript-btn-save-for-later {
  display: none !important;
}
