.omniscript-article.slds-card {
  border: none;
  webkit-box-shadow: none;
  box-shadow: none;
}

.slds-omniscript_stepform {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.omniscript-side-content {
  margin-top: 0;
}

.omniscript-body {
  padding: 0 !important;
  border-right: 0 !important;
  margin-top: 0;

  &[data-stepborder=left] {
    padding-left: 1rem !important;
  }

  &[data-stepborder=right] {
    padding-right: 1rem !important;
  }

  /* BEGIN: caters to standard buttons in Omniscript with NSW DS */
  > .slds-grid {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 1rem;

    @media(max-width: 62rem) {
      display: flex;
      flex-direction: column;
      gap: .25rem;

      > .slds-col {
        width: 100%;
      }

      > .slds-medium-order_1 {
        order: 2;
      }

      > .slds-medium-order_2 {
        order: 1;
      }

      .omniscript-btn-previous,
      .omniscript-btn-next {
        width: 100% !important;
        margin: 0 !important;
      }

      .omniscript-button-position {
        gap: .25rem;
      }
        
      .omniscript-sfl-actions omnistudio-navigate-action {
        margin-bottom: -.25rem;
      }
    }

    @media(min-width: 62rem){
      padding-top: 2rem;
    }

    &.slds-gutters > .slds-col {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.omniscript-sfl-actions {
  display: flex;
  gap: .25rem;

  > div {
    padding: 0 !important;
    border: none !important;
  }
}

/* mobile */
    
@media screen and (max-width: 768px) {
  .omniscript-sfl-actions {
    flex-direction: column;
    align-items: stretch !important;
    justify-content: stretch !important;

      > * {
      flex-grow: 1;
    }
  }
  
  .omniscript-btn-save-for-later > button {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

c-sf-gps-ds-au-nsw-form-block-os-n > .nsw-accordion > .slds-button-group,
c-sf-gps-ds-au-nsw-form-block > .nsw-accordion > .slds-button-group {
  .slds-button {
    margin-top: 0.5rem;
  }
}

omnistudio-omniscript-action-block,
c-sf-gps-ds-osrt-omniscript-action-block,
omnistudio-omniscript-calculation-action,
c-sf-gps-ds-osrt-omniscript-calculation-action,
omnistudio-omniscript-delete-action,
c-sf-gps-ds-osrt-omniscript-delete-action,
omnistudio-omniscript-docusign-envelope-action,
c-sf-gps-ds-osrt-omniscript-docusign-envelope-action,
omnistudio-omniscript-docusign-signature-action,
c-sf-gps-ds-osrt-omniscript-docusing-signature-action,
omnistudio-omniscript-dr-extract-action,
c-sf-gps-ds-osrt-omniscript-dr-extract-action,
omnistudio-omniscript-dr-post-action,
c-sf-gps-ds-osrt-omniscript-dr-post--action,
omnistudio-omniscript-dr-turbo-action,
c-sf-gps-ds-osrt-omniscript-dr-turbo-action,
omnistudio-omniscript-dr-transform-action,
c-sf-gps-ds-osrt-omniscript-dr-transform-action,
omnistudio-omniscript-http-action,
c-sf-gps-ds-osrt-omniscript-http-action,
omnistudio-omniscript-ip-action,
c-sf-gps-ds-osrt-omniscript-ip-action,
omnistudio-omniscript-matrix-action,
c-sf-gps-ds-osrt-omniscript-matrix-action,
omnistudio-omniscript-navigate-action,
c-sf-gps-ds-osrt-omniscript-navigate-action,
omnistudio-omniscript-pdf-action,
c-sf-gps-ds-osrt-omniscript-pdf-action,
omnistudio-omniscript-remote-action,
c-sf-gps-ds-osrt-omniscript-remote-action,
omnistudio-omniscript-set-values,
c-sf-gps-ds-osrt-omniscript-set-values-action,
omnistudio-omniscript-set-errors,
c-sf-gps-ds-osrt-omniscript-set-errors-action,
omnistudio-omniscript-edit-block,
c-sf-gps-ds-osrt-omniscript-edit-block,
c-sf-gps-ds-au-nsw-form-block-os-n > .nsw-accordion > .slds-button-group,
c-sf-gps-ds-au-nsw-form-block > .nsw-accordion > .slds-button-group,
.omniscript-body > .slds-grid {
  .slds-button {
    --lwc-borderWidthThin: 2px;
    --lwc-border-radius: var(--nsw-border-radius);
    --slds-c-button-radius-border: var(--nsw-border-radius); 
    --slds-c-button-text-color-hover: var(--nsw-brand-dark);

    border-color: var(--nsw-brand-dark);
    color: var(--nsw-brand-dark);

    font-size: var(--nsw-font-size-sm-mobile);
    font-weight: var(--nsw-font-bold);
    line-height: var(--nsw-line-height-sm-mobile);
    min-height: calc(var(--nsw-line-height-sm-mobile) * var(--nsw-font-size-sm-mobile) + 2 * 0.625rem + 4px);
    padding: .625rem 1.375rem;

    @media (min-width: 62rem) {
      font-size: var(--nsw-font-size-sm-desktop);
      line-height: var(--nsw-line-height-sm-desktop);
      min-height: calc(var(--nsw-line-height-sm-desktop) * var(--nsw-font-size-sm-desktop) + 2 * 0.625rem + 4px);
    }

    &:focus {
      background-color: var(--nsw-white);
      box-shadow: none;
      outline: 3px solid var(--nsw-focus);
      outline-offset: 3px;
    }  

    &:hover {
      background-color: var(--nsw-brand-dark);
      border-color: transparent;
      color: var(--nsw-text-light);
    }

    &.slds-button--neutral,
    &.slds-button_neutral  {
      background-color: var(--nsw-white);
      border-color: var(--nsw-brand-dark);
      color: var(--nsw-brand-dark);
      
      &:hover {
        background-color: var(--nsw-brand-dark);
        border-color: transparent;
        color: var(--nsw-text-light);
      }        
    }

    &.slds-button--brand,
    &.slds-button_brand {
      background-color: var(--nsw-brand-dark);
      border-color: transparent;
      color: var(--nsw-text-light);

      &:focus {
        background-color: var(--nsw-brand-dark);
        box-shadow: none;
        outline: 3px solid var(--nsw-focus);
        outline-offset: 3px;
      }  

      &:hover {
        background-image: linear-gradient(rgba(var(--nsw-white-rgb), .15), 
                                          rgba(var(--nsw-white-rgb), .15));
        border-color: transparent;
        color: var(--nsw-text-light);
      }
    }

    & .slds-button__icon {
      line-height: 0.625rem;
    }
  }

  a {
    div {
      color: var(--nsw-text-link);
      font-weight: var(--nsw-font-bold);
      text-decoration: underline;  
    }

    &:visited div {
      color: var(--nsw-text-visited);
    }

    &:hover div {
      background-color: var(--nsw-text-link-hover);
      outline: 2px solid var(--nsw-text-link-hover);
    }

    &:focus div {
      outline: solid 3px var(--nsw-focus);
      outline-offset: 0;
    }
  }
}

