@import "c/sfGpsDsAuNswCore";

.main-nav-active {
  overflow: hidden;
}

.nsw-main-nav {
  z-index: 200;
  position: fixed; /* FIX absolute; */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--nsw-white);
  transition: all 0.25s ease-in-out;
  transform: translateX(-100%);
  visibility: hidden;
  overflow-y: auto;
}
.nsw-main-nav.activating,
.nsw-main-nav.active {
  transform: translateX(0);
  visibility: visible;
}
.nsw-main-nav.closing {
  transform: translateX(-100%);
}
@media (min-width: 62rem) {
  .nsw-main-nav {
    position: relative;
    transform: none;
    background-color: var(--nsw-off-white);
    top: auto;
    left: auto;
    transition: none;
    visibility: visible;
    overflow-y: visible;
    height: auto;
  }
}
.nsw-main-nav__header {
  padding: 0.5rem 1rem;
  border-bottom: solid 2px var(--nsw-brand-dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 62rem) {
  .nsw-main-nav__header {
    display: none;
  }
}
.nsw-main-nav__header .nsw-icon-button:first-child {
  margin-left: -1rem;
}
.nsw-main-nav__header .nsw-icon-button:last-child {
  margin-right: -1rem;
}
.nsw-main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 62rem) {
  .nsw-main-nav__list {
    max-width: var(--nsw-container-width);
    padding-left: 0rem;
    padding-right: 0rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    position: relative;
  }
}
@media (min-width: 62rem) {
  .nsw-main-nav__list > li > a .nsw-material-icons {
    transform: rotate(90deg);
    margin-left: 0.375rem;
  }
  .nsw-main-nav__list > li > a.active {
    background-color: var(--nsw-white);
  }
  .nsw-main-nav__list > li > a.active .nsw-material-icons {
    transform: rotate(270deg);
  }
}
.nsw-main-nav__sub-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nsw-main-nav li {
  margin: 0;
  border-bottom: solid 1px var(--nsw-grey-04);
}
@media (min-width: 62rem) {
  .nsw-main-nav li {
    border: 0;
  }
}
.nsw-main-nav li a {
  padding: 1rem;
  color: var(--nsw-text-dark);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.nsw-main-nav li a .nsw-material-icons {
  color: var(--nsw-brand-dark);
  margin-right: -0.5rem;
}
@media (min-width: 62rem) {
  .nsw-main-nav li a {
    font-weight: var(--nsw-font-bold);
  }
}
.nsw-main-nav a {
  font-weight: var(--nsw-font-normal);
}
@media (min-width: 62rem) {
  .nsw-main-nav a {
    z-index: 200;
    position: relative;
  }
}
.nsw-main-nav a:hover {
  outline-width: 0;
}
.nsw-main-nav a:focus {
  outline-width: 3px;
}
.nsw-main-nav__title {
  font-weight: var(--nsw-font-bold);
}
@media (min-width: 62rem) {
  .nsw-main-nav__title {
    font-size: var(--nsw-font-size-md-mobile);
    line-height: var(--nsw-line-height-md-mobile);
    display: inline-flex;
  }
}
@media (min-width: 62rem) and (min-width: 62rem) {
  .nsw-main-nav__title {
    font-size: var(--nsw-font-size-md-desktop);
    line-height: var(--nsw-line-height-md-desktop);
  }
}
.nsw-main-nav__sub-nav .nsw-main-nav__title {
  border-bottom: solid 1px var(--nsw-grey-04);
}
@media (min-width: 62rem) {
  .nsw-main-nav__sub-nav .nsw-main-nav__title {
    border-bottom: 0;
  }
}
.nsw-main-nav__title a {
  font-weight: var(--nsw-font-bold);
}
.nsw-main-nav__title a .nsw-material-icons {
  display: none;
}
@media (min-width: 62rem) {
  .nsw-main-nav__title a .nsw-material-icons {
    display: block;
  }
}
.nsw-main-nav__description {
  font-size: var(--nsw-font-size-xs-mobile);
  line-height: var(--nsw-line-height-xs-mobile);
  margin-top: 1rem;
  display: none;
}
@media (min-width: 62rem) {
  .nsw-main-nav__description {
    font-size: var(--nsw-font-size-xs-desktop);
    line-height: var(--nsw-line-height-xs-desktop);
  }
}
@media (min-width: 62rem) {
  .nsw-main-nav__description {
    display: block;
  }
}
.nsw-main-nav__sub-nav {
  z-index: 100;
  background-color: var(--nsw-white);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.25s ease-in-out;
  transform: translateX(-100%);
  visibility: hidden;
  overflow-y: auto;
}
.nsw-main-nav__sub-nav.active {
  transform: translateX(0);
  visibility: visible;
}
@media (min-width: 62rem) {
  .nsw-main-nav__sub-nav {
    max-width: var(--nsw-container-width);
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 2.5rem;
    top: 100%;
    background-color: var(--nsw-white);
    box-shadow: 0 4px 9px -5px rgba(var(--nsw-black-rgb), 0.4);
    transition: none;
    transform: none;
    height: auto;
    overflow: auto;
  }
  .nsw-main-nav__sub-nav.active {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (min-width: 62rem) {
  .nsw-main-nav__sub-nav ul {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .nsw-main-nav__sub-nav ul .nsw-material-icons {
    display: none;
  }
}
@media (min-width: 62rem) {
  .nsw-main-nav__sub-nav li {
    width: 32%;
    border-top: solid 1px var(--nsw-grey-04);
  }
  .nsw-main-nav__sub-nav li:nth-child(3n + 2) {
    margin-left: 2%;
    margin-right: 2%;
  }
  .nsw-main-nav__sub-nav li:nth-last-child(-n + 3) {
    border-bottom: solid 1px var(--nsw-grey-04);
  }
  .nsw-main-nav__sub-nav li a {
    color: var(--nsw-brand-dark);
  }
}
@media (min-width: 62rem) {
  .nsw-main-nav__sub-nav .nsw-main-nav__title a {
    padding: 0;
    color: var(--nsw-brand-dark);
  }
  .nsw-main-nav__sub-nav .nsw-main-nav__title .nsw-material-icons {
    margin: 0 0 0 0.75rem;
  }
}
@media (min-width: 62rem) {
  .nsw-main-nav__sub-nav .nsw-main-nav__sub-nav {
    display: none;
  }
}
