@import "c/sfGpsDsAuNswCoreOs";
@import "c/sfGpsDsAuNswFormOs";

/* Need to adjust this rule as in Omniscript they always be first child */
/* have same setup as for subsequent children. */

.nsw-form__group:first-child {
  margin-top: 1rem;
}

input[readonly][role="combobox"] {
  border-radius: var(--nsw-border-radius);
  background-color: var(--nsw-white);
  color: var(--nsw-text-dark);
  border: 1px solid var(--nsw-grey-01);
}

.nsw-form__predictive .nsw-form__input {
  padding-right: 3rem;
  background: var(--nsw-white)
    url("data:image/svg+xml,%3Csvg fill='%23333333' version='1.1' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath d='M16 26l16-16-4-4-12 12-12-12-4 4 16 16z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat right 1rem center;
  background-size: 1rem auto;
}

.nsw-form__predictive .nsw-form__input:hover {
  background: url("data:image/svg+xml,%3Csvg fill='%23333333' version='1.1' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath d='M16 26l16-16-4-4-12 12-12-12-4 4 16 16z'%3E%3C/path%3E%3C/svg%3E")
      no-repeat right 1rem center,
    linear-gradient(var(--nsw-text-hover), var(--nsw-text-hover));
  background-size: 1rem auto, auto;
  background-color: var(--nsw-white);
}

.nsw-form__predictive .nsw-form__input:disabled {
  background: var(--nsw-off-white)
    url("data:image/svg+xml,%3Csvg fill='%23333333' version='1.1' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath d='M16 26l16-16-4-4-12 12-12-12-4 4 16 16z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat right 1rem center;
  background-size: 1rem auto;
}

.nsw-form__predictive .nsw-form__input[aria-invalid="true"]:hover,
.nsw-form__predictive .nsw-form__input.has-error:hover {
  background: var(--nsw-status-error-bg)
    url("data:image/svg+xml,%3Csvg fill='%23333333' version='1.1' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath d='M16 26l16-16-4-4-12 12-12-12-4 4 16 16z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat right 1rem center;
  background-size: 1rem auto;
}

.nsw-form__predictive-list div {
  display: block;
  padding: 0.625rem;
  color: var(--nsw-text-dark);
  font-weight: var(--nsw-font-normal);
}

.nsw-form__predictive-list div:hover {
  outline-width: 0;
  cursor: pointer;
  background-color: var(--nsw-brand-light);
  color: var(--nsw-text-dark);
}

.nsw-form__input {
  cursor: pointer;
}

.nswds-listbox__option-text_entity {
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin-bottom: 0.125rem;
  overflow: hidden;
}

.nswds-dropdown_fluid {
  min-width: auto;
}

.nswds-listbox_selection-group {
  height: auto;
}

.nswds-dropdown-container {
  max-height: 300px;
  overflow-y: scroll;
}

.nswds-listbox__flex {
  display: flex;
}

.nswds-listbox__flex .slds-listbox-item {
  overflow: hidden;
}

.nswds-listbox__flex .slds-pill__label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nswds-dropdown-trigger--click .nswds-dropdown,
.nswds-dropdown-trigger--click:hover .nswds-dropdown,
.nswds-dropdown-trigger_click .nswds-dropdown,
.nswds-dropdown-trigger_click:hover .nswds-dropdown {
  display: none;
}

.nswds-dropdown-trigger_click .nswds-dropdown {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.1s linear, visibility 0.1s linear;
  transition: opacity 0.1s linear, visibility 0.1s linear;
}

.nswds-dropdown-trigger_click.nswds-is-open .nswds-dropdown {
  display: block;
  visibility: visible;
  opacity: 1;
}
