@import "c/sfGpsDsAuNswCoreOs";
@import "c/sfGpsDsAuNswFormOs";
@import "c/sfGpsDsAuNswPredictiveListOsN";

/*
.nsw-form__group:first-child {
  margin-top: 1rem;
}

input[readonly][role="combobox"] {
  border-radius: var(--nsw-border-radius);
  background-color: var(--nsw-white);
  color: var(--nsw-text-dark);
  border: 1px solid var(--nsw-grey-01);
}

.nsw-form__predictive .nsw-form__input {
  padding-right: 3rem;
  background: var(--nsw-white)
    url("data:image/svg+xml,%3Csvg fill='%23333333' version='1.1' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath d='M16 26l16-16-4-4-12 12-12-12-4 4 16 16z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat right 1rem center;
  background-size: 1rem auto;
}

.nsw-form__predictive .nsw-form__input:hover {
  background: var(--nsw-text-hover)
    url("data:image/svg+xml,%3Csvg fill='%23333333' version='1.1' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath d='M16 26l16-16-4-4-12 12-12-12-4 4 16 16z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat right 1rem center;
  background-size: 1rem auto;
}

.nsw-form__predictive .nsw-form__input:disabled {
  background: var(--nsw-off-white)
    url("data:image/svg+xml,%3Csvg fill='%23333333' version='1.1' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath d='M16 26l16-16-4-4-12 12-12-12-4 4 16 16z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat right 1rem center;
  background-size: 1rem auto;
}

.nsw-form__predictive .nsw-form__input[aria-invalid="true"]:hover,
.nsw-form__predictive .nsw-form__input.has-error:hover {
  background: var(--nsw-status-error-bg)
    url("data:image/svg+xml,%3Csvg fill='%23333333' version='1.1' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath d='M16 26l16-16-4-4-12 12-12-12-4 4 16 16z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat right 1rem center;
  background-size: 1rem auto;
}


.nsw-form__predictive-list .sfgpsds-listbox__option {
  display: block;
  padding: 0.625rem;
  color: var(--nsw-text-dark);
  font-weight: var(--nsw-font-normal);
}

.nsw-form__predictive-list .sfgpsds-listbox__option:hover {
  outline-width: 0;
  cursor: pointer;
  background-color: var(--nsw-text-hover);
  color: var(--nsw-text-dark);
}

.nsw-form__predictive-list .sfgpsds-listbox__option.sfgpsds-is-selected {
  outline-width: 0;
  background-color: var(--nsw-brand-dark);
  color: var(--nsw-text-light);
}

.nsw-form__predictive-list .sfgpsds-listbox__option.sfgpsds-has-focus,
.nsw-form__predictive-list .sfgpsds-listbox__option:focus {
  outline-offset: -3px;
  outline-width: 3px;
  outline: solid 3px var(--nsw-focus);
}

.nsw-form__input {
  cursor: pointer;
}

.sfgpsds-listbox__option-text {
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  overflow: hidden;
}

.sfgpsds-dropdown_fluid {
  min-width: auto;
}

.sfgpsds-listbox_selection-group {
  height: auto;
}

.sfgpsds-dropdown-container {
  max-height: 300px;
  overflow-y: scroll;
}

.sfgpsds-listbox__flex {
  display: flex;
}

.sfgpsds-listbox__flex .slds-listbox-item {
  overflow: hidden;
}

.sfgpsds-listbox__flex .slds-pill__label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sfgpsds-dropdown-trigger--click .sfgpsds-dropdown,
.sfgpsds-dropdown-trigger--click:hover .sfgpsds-dropdown,
.sfgpsds-dropdown-trigger_click .sfgpsds-dropdown,
.sfgpsds-dropdown-trigger_click:hover .sfgpsds-dropdown {
  display: none;
}

.sfgpsds-dropdown-trigger--click .sfgpsds-dropdown,
.sfgpsds-dropdown-trigger_click .sfgpsds-dropdown {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.1s linear, visibility 0.1s linear;
  transition: opacity 0.1s linear, visibility 0.1s linear;
}

.sfgpsds-dropdown-trigger_click.sfgpsds-is-open .sfgpsds-dropdown {
  display: block;
  visibility: visible;
  opacity: 1;
}
*/
/* add not allow cursor if disabled */

.nsw-form__input:disabled {
  cursor: not-allowed;
}

/* START: dealing with the new styling in omnistudio__OmniLwcUtilsCss in omni246 */
/*
.nsw-form__predictive input.nsw-form__input[readonly]:not([type=range]):not([type=checkbox]):not([type=radio]) {
  color: var(--nsw-text-dark);
  font-size: var(--nsw-font-size-sm-mobile);
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 62rem) {
  .nsw-form__predictive input.nsw-form__input[readonly]:not([type=range]):not([type=checkbox]):not([type=radio]) {
    font-size: var(--nsw-font-size-sm-desktop);
  }
}
*/
/* END */
