<template>
  <section data-f6-region id={aboveBodyId} class={aboveBodyClassName}>
    <slot name="aboveBody" aria-live="polite"></slot>
  </section>
  <!-- above body -->

  <div class="rpl-layout__body-wrap">
    <div class="rpl-container">
      <div class={bodyClassName}>
        <main
          id={mainId}
          data-f6-region
          class={computedMainClassName}
          dir={direction}
          aria-live="polite"
        >
          <slot name="main"></slot>
        </main>

        <aside
          lwc:if={hasSidebar}
          data-f6-region
          id="rpl-sidebar"
          class={sidebarClassName}
          aria-live="polite"
        >
          <slot name="sidebar"></slot>
        </aside>
      </div>
    </div>
  </div>
  <!-- body -->

  <section
    id={belowBodyId}
    data-f6-region
    class={belowBodyClassName}
    aria-live="polite"
  >
    <slot name="belowBody"></slot>
  </section>
  <!-- below body -->
</template>
