@import "c/sfGpsDsAuNswCore";

.nsw-content-block__title {
  font-size: var(--nsw-font-size-lg-mobile);
  line-height: var(--nsw-line-height-lg-mobile);
  font-weight: var(--nsw-font-bold);
}
@media (min-width: 62rem) {
  .nsw-content-block__title {
    font-size: var(--nsw-font-size-lg-desktop);
    line-height: var(--nsw-line-height-lg-desktop);
  }
}
.nsw-content-block__list {
  padding: 0;
  list-style-type: none;
}
.nsw-content-block__list li {
  margin: 0;
  padding: 0.5rem 0 0.5rem 0.875rem;
  position: relative;
}
.nsw-content-block__list li::before {
  content: "";
  position: absolute;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 100%;
  background-color: var(--nsw-text-dark);
  top: 1.125rem;
  left: 0;
}
.nsw-section--invert .nsw-content-block__list li::before {
  background-color: var(--nsw-text-light);
}
.nsw-content-block__link {
  margin-top: 1rem;
}
.nsw-content-block__image {
  max-height: 12.5rem;
  margin-bottom: 1.5rem;
}
.nsw-content-block__image img {
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
}
.nsw-content-block__icon {
  max-width: 4rem;
  max-height: 4rem;
}
.nsw-content-block__icon svg {
  max-width: 4rem;
  max-height: 4rem;
}
