.slds-form-element__control.slds-grid {
  width: 100%;
}

.slds-radio_custom-group.slds-static-wrapper
  input[type="radio"]:checked
  + .slds-img_select-container {
  border: 2px solid #05a6df;
}

.slds-radio_custom-group.slds-img-wrapper_cont label.slds-img_no-width-height {
  cursor: pointer;
}

.slds-radio_custom-group.slds-img-wrapper_cont
  input[type="radio"]:checked
  + label.slds-img_no-width-height {
  border: 2px solid #05a6df;
}

.slds-img_select-container {
  position: relative;
  display: inline-block;
  margin: 0.125rem 1rem 0.5rem 0;
}

.slds-radio_custom-group.slds-static-wrapper
  .slds-img_select-container
  .slds-img-item_select-container.slds-img_option-width-height {
  width: 100%;
  height: 100%;
}

.slds-img-wrapper_cont {
  position: relative;
}

.slds-radio_custom-group.slds-static-wrapper
  .slds-radio__label.slds-img_select-container {
  border: 2px solid #d8dde6;
}

.slds-img-item {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slds-img-item-caption {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slds-radio_custom-group .slds-img-item_select-container {
  cursor: pointer;
}

.slds-radio_custom-group.slds-img-wrapper_cont
  .slds-img_no-width-height
  .slds-img-item_select-container {
  width: 100%;
  height: 100%;
}

.slds-img_option-width-height {
  display: inline-block;
  height: inherit;
  width: inherit;
  border-radius: 0.1875rem;
  position: relative;
}

.slds-img_no-width-height {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 30px;
  border: 2px solid #d8dde6;
}

.slds-img_no-width-height.slds-custom_m-bottom-small {
  margin-bottom: 0.25rem;
}

.slds-caption-out_cont {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  width: inherit;
}

.slds-align_absolute-center,
.nds-align_absolute-center {
  height: 100%;
}
