.timepicker-input.slds-combobox__input[readonly] {
  padding-left: var(--lwc-spacingSmall, 0.75rem);
  border-color: #939393;
  background-color: #f3f3f3;
}

.timepicker-input.slds-combobox__input[readonly]:focus {
  border-color: #939393;
  transition: var(--slds-g-color-brand-base-60, #0176d3) 0.3s;
  background: #f3f3f3;
}
