.rpl-link {
  text-decoration: none;
}
@media print {
  .rpl-link[href]:after {
    content: " <" attr(data-print-url) "> ";
  }
  .rpl-link[href^="tel:"]:after {
    content: "";
  }
}
.rpl-link__inner {
  display: inline;
}
@media print {
  .rpl-link__inner {
    text-decoration: underline;
  }
}
.rpl-link:hover,
.rpl-link:focus {
  text-decoration: underline;
}
