@import "c/sfGpsDsAuNswCore";

.nsw-accordion {
  margin-top: 1.5rem;
}
.nsw-accordion:first-child {
  margin-top: 0;
}
@media (min-width: 48rem) {
  .nsw-accordion {
    margin-top: 2rem;
  }
}
.nsw-accordion__title,
.nsw-accordion__button {
  font-size: var(--nsw-font-size-md-mobile);
  line-height: var(--nsw-line-height-md-mobile);
  font-weight: var(--nsw-font-bold);
  padding: 1rem 3rem 1rem 1rem;
  margin-top: 0.5rem;
  background-color: var(--nsw-off-white);
  display: block;
  width: 100%;
  text-align: left;
  position: relative;
  transition: background 0.15s ease-in-out, color 0.15s ease-in-out;
}
@media (min-width: 62rem) {
  .nsw-accordion__title,
  .nsw-accordion__button {
    font-size: var(--nsw-font-size-md-desktop);
    line-height: var(--nsw-line-height-md-desktop);
  }
}

.nsw-accordion__title .active,
.nsw-accordion__button .active,
.nsw-accordion__title:hover,
.nsw-accordion__button:hover {
  background-color: var(--nsw-brand-dark);
  color: var(--nsw-text-light);
}
.nsw-section--invert .nsw-accordion__title .active,
.nsw-section--invert .nsw-accordion__button .active,
.nsw-section--invert .nsw-accordion__title:hover,
.nsw-section--invert .nsw-accordion__button:hover {
  background-color: var(--nsw-brand-light);
  color: var(--nsw-text-dark);
}
.nsw-section--invert .nsw-accordion__title .active .nsw-material-icons,
.nsw-section--invert .nsw-accordion__button .active .nsw-material-icons,
.nsw-section--invert .nsw-accordion__title:hover .nsw-material-icons,
.nsw-section--invert .nsw-accordion__button:hover .nsw-material-icons {
  color: var(--nsw-brand-dark);
}
.nsw-accordion__title .active .nsw-material-icons,
.nsw-accordion__button .active .nsw-material-icons,
.nsw-accordion__title:hover .nsw-material-icons,
.nsw-accordion__button:hover .nsw-material-icons {
  color: var(--nsw-text-light);
}
.nsw-accordion__toggle {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
.nsw-accordion__toggle button {
  font-size: var(--nsw-font-size-sm-mobile);
  line-height: var(--nsw-line-height-sm-mobile);
  color: var(--nsw-brand-dark);
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  font-weight: var(--nsw-font-bold);
  border: 0;
  padding: 0;
  background: none;
}
@media (min-width: 62rem) {
  .nsw-accordion__toggle button {
    font-size: var(--nsw-font-size-sm-desktop);
    line-height: var(--nsw-line-height-sm-desktop);
  }
}
.nsw-accordion__toggle button:hover:enabled {
  background-color: var(--nsw-text-hover);
  outline: 2px solid var(--nsw-text-hover);
}
.nsw-section--invert .nsw-accordion__toggle button:hover:enabled {
  background-color: var(--nsw-text-hover-light);
  outline-color: var(--nsw-text-hover-light);
}
.nsw-accordion__toggle button:focus {
  outline: solid 3px var(--nsw-focus);
  outline-offset: 0;
}
.nsw-accordion__toggle button:first-child {
  margin-right: 1.5rem;
}
.nsw-accordion__toggle button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.nsw-section--invert .nsw-accordion__toggle button {
  color: var(--nsw-text-light);
}
.nsw-section--invert .nsw-accordion__toggle button:focus {
  outline-color: var(--nsw-white);
}

/* ADJUSTED: does actually always apply but we have .ready and .nsw-accordion__title in two distinct scopes */
/*
.ready */
.nsw-accordion__title {
  padding: 0;
  margin-top: 0;
}
/* END ADJUSTED */

.nsw-accordion__title .nsw-material-icons {
  font-size: 1.875rem;
  color: var(--nsw-brand-dark);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transition: transform 0.15s ease-in-out, color 0.15s ease-in-out;
}
.nsw-accordion__button {
  border: 0;
  color: var(--nsw-text-dark);
}
.nsw-accordion__button:focus {
  outline: solid 3px var(--nsw-focus);
  outline-offset: 0;
  outline-offset: 3px;
  z-index: 100;
  position: relative;
}
.nsw-accordion__button.active .nsw-material-icons {
  transform: translateY(-50%) rotate(180deg);
}
.nsw-accordion__content {
  padding: 1rem;
}
