@import "node_modules/@dpc-sdp/ripple-global/scss/settings";
@import "node_modules/@dpc-sdp/ripple-global/scss/tools";

$rpl-alert-base-background-color: rpl-color('dark_neutral') !default;
$rpl-alert-base-padding: ($rpl-space * 5) !default;
$rpl-alert-base-ruleset: (
  'xs': ('xs', 1em, 'bold'),
  's': ('s', 1em, 'bold')
) !default;
$rpl-alert-base-text-color: rpl-color('white') !default;
$rpl-alert-base-icom-margin: 0 $rpl-space-4 0 0 !default;

.rpl-alert-base {
  $root: &;
  background-color: $rpl-alert-base-background-color;
  padding: $rpl-alert-base-padding;
  display: flex;
  align-items: center;
  @include rpl_print_hidden;
  $rpl-all-colors: rpl-get-colors();

  @each $color-name, $color-value in $rpl-all-colors {
    &--color-#{str-replace($color-name, ' ', '-')} {
      background-color: rpl-color($color-name);
    }
  }

  &__icon {
    margin: $rpl-alert-base-icom-margin;
  }

  &__content {
    @include rpl_typography_ruleset($rpl-alert-base-ruleset);
    color: $rpl-alert-base-text-color;
    @each $color-name, $color-value in $rpl-all-colors {
      &--color-#{str-replace($color-name, ' ', '-')} {
        color: rpl-color($color-name);
      }
    }

    a {
      color: $rpl-alert-base-text-color;
      @at-root {
        @each $color-name, $color-value in $rpl-all-colors {
          #{$root}__content--color-#{str-replace($color-name, ' ', '-')} a {
            color: rpl-color($color-name);
          }
        }
      }
      &.rpl-text-link {
        &:hover,
        &:focus {
          color: inherit;
        }
      }
    }
  }

  &__close {
    background: transparent;
    border: 0;
    margin-left: auto;
    cursor: pointer;

    svg {
      display: block;
    }

    span {
      @include rpl_visually_hidden;
    }
  }
}