@import "c/sfGpsDsAuNswCore";
@import "c/sfGpsDsAuNswFormCss";

@media (min-width: 48rem) {
  .hero-search {
    padding: 2rem 1rem;
  }
}
.hero-search__form {
  padding: 1.5rem 0;
}
.hero-search__form .nsw-material-icons:first-child {
  margin: 0;
}
.hero-search__wrapper {
  padding: 2rem 1rem;
  background-color: var(--nsw-off-white);
  border-bottom: solid 4px var(--nsw-brand-accent);
}
@media (min-width: 48rem) {
  .hero-search__wrapper {
    border-top-left-radius: var(--nsw-border-radius);
    border-top-right-radius: var(--nsw-border-radius);
    padding: 2rem 5rem;
  }
}
.hero-search__content {
  max-width: 43.75rem;
  margin: 0 auto;
  text-align: center;
}
.hero-search__suggested ul {
  list-style: none;
  text-align: center;
  margin-top: -0.5rem;
  padding: 0;
}
.hero-search__suggested li {
  margin: 0.5rem 1rem 0 1rem;
  display: inline-block;
}
.hero-search .nsw-container {
  padding: 0;
}
