.rpl-meta-tag {
  display: inline-block;
}
.rpl-meta-tag--light,
.rpl-meta-tag--dark,
.rpl-meta-tag--solid {
  margin: 0 0.5rem 0.5rem 0;
}
.rpl-meta-tag__link {
  display: inline-block;
  text-decoration: none;
}
.rpl-meta-tag--light .rpl-meta-tag__link,
.rpl-meta-tag--dark .rpl-meta-tag__link {
  border: 2px solid #0052c2;
  border-radius: 2.5rem;
  padding: 0.25rem 1.25rem;
}
@media print {
  .rpl-meta-tag--light .rpl-meta-tag__link,
  .rpl-meta-tag--dark .rpl-meta-tag__link {
    border-color: #000;
  }
}
.rpl-meta-tag--light .rpl-meta-tag__link {
  color: #0052c2;
}
@media print {
  .rpl-meta-tag--light .rpl-meta-tag__link {
    color: #000;
  }
}
.rpl-meta-tag--light .rpl-meta-tag__link:hover {
  background: #0052c2;
}
.rpl-meta-tag--dark .rpl-meta-tag__link {
  color: #0052c2;
  border-color: #fff;
}
@media print {
  .rpl-meta-tag--dark .rpl-meta-tag__link {
    color: #000;
  }
}
.rpl-meta-tag--dark .rpl-meta-tag__link:focus {
  outline: 1px solid #fff;
}
.rpl-meta-tag--solid .rpl-meta-tag__link {
  color: #fff;
  border-radius: 0.875rem;
  background-color: #465870;
  padding: 0.125rem 0.75rem;
}
@media print {
  .rpl-meta-tag--solid .rpl-meta-tag__link {
    color: #000;
  }
}
.rpl-meta-tag--light .rpl-meta-tag__text,
.rpl-meta-tag--dark .rpl-meta-tag__text {
  font-family: "VIC-Medium", "Arial", "Helvetica", "sans-serif";
  font-size: 0.75rem;
  line-height: 1.2em;
  font-weight: normal;
  text-transform: uppercase;
}
.rpl-meta-tag--light .rpl-meta-tag__text {
  color: #0052c2;
}
@media print {
  .rpl-meta-tag--light .rpl-meta-tag__text {
    color: #000;
  }
}
.rpl-meta-tag--light .rpl-meta-tag__link:hover .rpl-meta-tag__text {
  color: #fff;
}
@media print {
  .rpl-meta-tag--light .rpl-meta-tag__link:hover .rpl-meta-tag__text {
    color: #000;
  }
}
.rpl-meta-tag--dark .rpl-meta-tag__text {
  color: #fff;
}
@media print {
  .rpl-meta-tag--dark .rpl-meta-tag__text {
    color: #000;
  }
}
.rpl-meta-tag--solid .rpl-meta-tag__text {
  font-family: "VIC-Medium", "Arial", "Helvetica", "sans-serif";
  font-size: 0.875rem;
  line-height: 1.28em;
  font-weight: normal;
}
.rpl-meta-tag--solid .rpl-meta-tag__text {
  color: #fff;
}
@media print {
  .rpl-meta-tag--solid .rpl-meta-tag__text {
    color: #000;
  }
}
