/* Ontario Design System Back Button Styles */
/* Using CSS Custom Properties with fallbacks for theming */

@import "../../staticresources/sfGpsDsCaOnGlobalStyles/_ontario-variables.scss";

$ontario-icon-size: 24px;

.ontario-back-button {
  display: inline-flex;
  align-items: center;
  margin: 0.75rem 0 1rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
  min-width: 2rem;
  text-decoration: none;
  cursor: pointer;

  @media screen and (max-width: 40em) {
    width: unset;
  }

  .ontario-icon {
    margin: 0 0.375rem 0 0;
    padding: 0;
    min-width: $ontario-icon-size;
    min-height: $ontario-icon-size;
    fill: currentColor;
  }
}

/* Tertiary button base styles for back button */
.ontario-button--tertiary {
  background-color: transparent;
  border: none;
  color: var(--ontario-color-link, #{$ontario-color-link});
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;

  &:hover {
    color: var(--ontario-color-link-hover, #{$ontario-color-link-hover});
    background-color: var(--ontario-greyscale-5, #{$ontario-greyscale-5});
    text-decoration: underline;
  }

  &:focus {
    outline: 0.25rem solid var(--ontario-color-focus, #{$ontario-color-focus});
    outline-offset: 0.125rem;
    background-color: transparent;
  }

  &:active {
    color: var(--ontario-color-link-active, #{$ontario-color-link-active});
    background-color: var(--ontario-greyscale-10, #{$ontario-greyscale-10});
  }
}
