@import "../../../../../node_modules/@dpc-sdp/ripple-global/scss/settings";
@import "../../../../../node_modules/@dpc-sdp/ripple-global/scss/tools";

/* ADDED copy from SiteFooter */
$rpl-footer-breakpoint: 'l' !default;
$rpl-footer-border-width: $rpl-border-width !default;
$rpl-footer-border-color: rpl-color('primary') !default;
/* END ADDED */

.rpl-footer-nav {
  padding: 0;

  /* ADDED */
  & .rpl-link {
    color: var(--rpl-link-a-color)
  }
  /* END ADDED */
}

.rpl-footer-nav__menu-item {
  width: 100%;

  @include rpl_breakpoint(l) {
    display: inline-block;
    width: calc(33.33% - 16px);
  }
}

.rpl-footer-nav {
  $root: &;

  @include rpl_breakpoint_down('l') {
    height: auto !important;
  }

  &__menu-item {
    border-bottom: $rpl-footer-border-width solid $rpl-footer-border-color;

    @include rpl_breakpoint($rpl-footer-breakpoint) {
      border-bottom: 0;
    }
  }

  &__heading {
    @include rpl_typography('heading_xs');

    .rpl-icon {
      float: right;
      height: ($rpl-space * 6) !important;
    }

    #{$root}__menu-item--parent & {
      cursor: pointer;

      @include rpl_breakpoint($rpl-footer-breakpoint) {
        cursor: auto;
      }
    }
  }

  &__submenu-item {
    li {
      display: block;
      margin-bottom: $rpl-space-4;
    }

    a {
      @include rpl_typography('body_small');
    }

    @include rpl_breakpoint($rpl-footer-breakpoint) {
      display: block;
    }
  }
}