@import "c/sfGpsDsAuNswCore";

.nsw-link-list {
  margin-top: 1.5rem;
}
.nsw-link-list:first-child {
  margin-top: 0;
}
@media (min-width: 48rem) {
  .nsw-link-list {
    margin-top: 2rem;
  }
}
.nsw-link-list__title {
  font-size: var(--nsw-font-size-lg-mobile);
  line-height: var(--nsw-line-height-lg-mobile);
  font-weight: var(--nsw-font-bold);
  padding-bottom: 1rem;
}
@media (min-width: 62rem) {
  .nsw-link-list__title {
    font-size: var(--nsw-font-size-lg-desktop);
    line-height: var(--nsw-line-height-lg-desktop);
  }
}
@media (min-width: 48rem) {
  .nsw-link-list__title {
    padding-bottom: 1.5rem;
  }
}
.nsw-link-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.nsw-link-list li {
  margin: 0;
  border-top: 1px solid var(--nsw-grey-04);
}
.nsw-link-list li:last-child {
  border-bottom: 1px solid var(--nsw-grey-04);
}
.nsw-link-list a {
  padding: 1rem;
  color: var(--nsw-brand-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.nsw-link-list a:hover {
  outline-width: 0;
}
.nsw-link-list a:focus {
  outline-width: 3px;
}
.nsw-link-list a span {
  text-decoration: underline;
}
.nsw-link-list a .nsw-material-icons {
  text-decoration: none;
}
.nsw-section--invert .nsw-link-list a {
  color: var(--nsw-text-light);
}
.nsw-link-list .nsw-material-icons {
  font-size: 1.25rem;
  margin-left: 1rem;
}
