@import "c/sfGpsDsAuNswCore";

.nsw-skip {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.nsw-skip a {
  font-size: var(--nsw-font-size-xxs-mobile);
  line-height: var(--nsw-line-height-xxs-mobile);
  z-index: 200;
  background-color: #002664;
  color: #ffffff;
  width: 100%;
  text-decoration: none;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-101%);
}
@media (min-width: 62rem) {
  .nsw-skip a {
    font-size: var(--nsw-font-size-xxs-desktop);
    line-height: var(--nsw-line-height-xxs-desktop);
  }
}
.nsw-skip a:focus {
  transform: translateY(0);
  outline: none;
}
.nsw-skip a:focus span {
  outline: solid 3px #ffffff;
  outline-offset: 0;
  outline-offset: 3px;
}
@media (min-width: 62rem) {
  .nsw-skip a {
    text-align: left;
  }
}
.nsw-skip--light a {
  background-color: #f2f2f2;
  color: #22272b;
}
.nsw-skip--light a:focus span {
  outline: solid 3px var(--nsw-focus);
  outline-offset: 0;
  outline-offset: 3px;
}

.nsw-masthead {
  font-size: var(--nsw-font-size-xxs-mobile);
  line-height: var(--nsw-line-height-xxs-mobile);
  padding: 0.5rem 0;
  background-color: #002664;
  color: #ffffff;
}
@media (min-width: 62rem) {
  .nsw-masthead {
    font-size: var(--nsw-font-size-xxs-desktop);
    line-height: var(--nsw-line-height-xxs-desktop);
  }
}
.nsw-masthead--light {
  background-color: #f2f2f2;
  color: #22272b;
}
