/* DEVIATION: introducing disabled for back/next buttons */

.nsw-pagination {
  a {
    &[aria-disabled="true"] {
      opacity: 0.4;
      cursor: not-allowed;

      &:hover {
        background-color: transparent;
      }
    }
  }
}