@import "c/sfGpsDsUkGovCoreOs";
@import "./textarea.gen.css";
@import "./character-count.gen.css";

/* Override bottom margin ONLY when using Text character counter */
.govuk-textarea.govuk-js-character-count {
  margin-bottom: 5px;
}

/* Show the character error message in red */
.govuk-character-count__message.govuk-error-message {
  color: #d4351c;
}

[data-label] {
  display: flex;
}

[data-label] .govuk-label {
  margin-right: 0.5rem;
}
