@import "c/sfGpsDsUkGovCoreOs";
@import "./input.gen.css";

.govuk-disclosure {
  margin-top: 0.5rem;
  padding: 1rem;
  border-left: solid 4px #1d70b8;
}

.govuk-disclosure:first-child {
  margin-top: 0;
}

.govuk-section--invert .govuk-disclosure {
  border-color: #cbedfd;
}

.govuk-disclosure__content {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3157894737;
}

.govuk-disclosure__consent {
  margin-top: 1rem;
}
