.nsw-header__waratah {
  img {
    height: 3rem;
  } 

  /* Add this as standard stylesheet only supports svg tags */
  a {
    img:not(:first-child) {
      margin-left: 1.5rem;

      @media (min-width: 62rem) {
        margin-left: 2.5rem;
      }
    }
  }
}

.nsw-header__name {
  svg,
  img {
    height: 3rem;
    display: block;
  }
}

@media (min-width: 62rem) {
  .nsw-header__waratah {
    img {
      height: 4.75rem;
    } 
  }

  .nsw-header__name {
    svg,
    img {
      height: 4.75rem;
    }
  }
}
