@import "c/sfGpsDsAuNswCore";

/* Added to manage co-logo size */

.nsw-header__name svg,
.nsw-header__name img {
  height: 3rem;
  display: block;
}
@media (min-width: 62rem) {
  .nsw-header__name svg,
  .nsw-header__name img {
    height: 4.75rem;
  }
}

/* standard */

.nsw-header {
  background-color: var(--nsw-white);
  position: relative;
  border-bottom: solid 1px var(--nsw-grey-04);
}
@media (min-width: 62rem) {
  .nsw-header {
    border-bottom: 0;
  }
}
@media (min-width: 62rem) {
  .nsw-header--simple {
    border-bottom: solid 1px var(--nsw-grey-04);
  }
}
.nsw-header__container {
  max-width: var(--nsw-container-width);
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.nsw-header__inner {
  position: relative;
}
@media (min-width: 62rem) {
  .nsw-header__inner {
    display: flex;
  }
}
.nsw-header__menu button,
.nsw-header__search button {
  font-size: var(--nsw-font-size-xxs-mobile);
  line-height: var(--nsw-line-height-xxs-mobile);
  font-weight: var(--nsw-font-bold);
  border-radius: var(--nsw-border-radius);
  color: var(--nsw-brand-dark);
  width: 3rem;
  height: 3rem;
  background: none;
  border: 0;
  padding: 0;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 62rem) {
  .nsw-header__menu button,
  .nsw-header__search button {
    font-size: var(--nsw-font-size-xxs-desktop);
    line-height: var(--nsw-line-height-xxs-desktop);
  }
}
.nsw-header__menu button:hover,
.nsw-header__search button:hover {
  background-color: var(--nsw-text-hover);
}
.nsw-header__menu button:focus,
.nsw-header__search button:focus {
  outline: solid 3px var(--nsw-focus);
  outline-offset: 0;
  outline-offset: 3px;
}
.nsw-header__menu button .nsw-material-icons,
.nsw-header__search button .nsw-material-icons {
  font-size: 1.5rem;
}
.nsw-header__menu {
  position: absolute;
  top: 0.75rem;
  left: -0.375rem;
}
@media (min-width: 62rem) {
  .nsw-header__menu button {
    display: none;
  }
}
.nsw-header__search {
  position: absolute;
  top: 0.75rem;
  right: -0.25rem;
}
@media (min-width: 62rem) {
  .nsw-header__search {
    right: 0;
    top: 50%;
    margin-top: -1.5rem;
  }
}
@media (min-width: 62rem) {
  .nsw-header__search button > span:last-child {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }
  .nsw-header__search button .nsw-material-icons {
    font-size: 2.25rem;
  }
}
@media (min-width: 62rem) {
  .nsw-header__main {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1.25rem 4.5rem 1.25rem 0;
  }
  .nsw-header__main:focus-within {
    outline: solid 3px var(--nsw-focus);
    outline-offset: 0;
    outline-offset: 3px;
  }
}
@media (min-width: 62rem) {
  .nsw-header__main .nsw-header__rectangular-logo {
    height: 3.75rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
.nsw-header__waratah {
  padding: 0.75rem 3rem;
  display: flex;
  justify-content: center;
}
@media (min-width: 62rem) {
  .nsw-header__waratah {
    padding: 0;
  }
}
.nsw-header__waratah svg,
.nsw-header__waratah img {
  /* img added to cater to masterbrand override */
  height: 3rem;
  display: block;
}
@media (min-width: 62rem) {
  /* img added to cater to masterbrand override */
  .nsw-header__waratah svg,
  .nsw-header__waratah img {
    height: 4.75rem;
  }
}
.nsw-header__waratah svg.nsw-header__waratah-gov {
  height: 3.4375rem;
}
@media (min-width: 62rem) {
  .nsw-header__waratah svg.nsw-header__waratah-gov {
    height: 4.75rem;
  }
}
.nsw-header__waratah a {
  display: flex;
  color: var(--nsw-brand-dark);
  text-decoration: none;
  align-items: center;
}
.nsw-header__waratah a:hover {
  background: transparent;
  outline-width: 0;
}
.nsw-header__waratah a:focus {
  outline-width: 3px;
}
@media (min-width: 62rem) {
  .nsw-header__waratah a:focus {
    outline: none;
  }
}
@media (min-width: 62rem) {
  .nsw-header__waratah a::after {
    z-index: 100;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
.nsw-header__waratah a svg:not(:first-child),
.nsw-header__waratah a img:not(:first-child) {
  /* img added to cater to img co-logo */
  margin-left: 1.5rem;
}
@media (min-width: 62rem) {
  .nsw-header__waratah a svg:not(:first-child),
  .nsw-header__waratah a img:not(:first-child) {
    /* img added to cater to img co-logo */
    margin-left: 2.5rem;
  }
}
.nsw-header__waratah-gov {
  margin-bottom: -0.4375rem;
}
@media (min-width: 62rem) {
  .nsw-header__waratah-gov {
    margin-bottom: 0;
  }
}
.nsw-header__waratah-gov .hide {
  display: none;
}
@media (min-width: 62rem) {
  .nsw-header__waratah-gov .hide {
    display: inline;
  }
}
.nsw-header__name {
  padding: 0.75rem 0;
  color: var(--nsw-brand-dark);
}
@media (min-width: 62rem) {
  .nsw-header__name {
    padding: 0;
    margin-left: 2.5rem;
  }
}
.nsw-header__title {
  font-size: var(--nsw-font-size-lg-mobile);
  line-height: var(--nsw-line-height-lg-mobile);
  font-weight: var(--nsw-font-bold);
  color: var(--nsw-brand-dark);
  display: flex;
  align-items: center;
}
@media (min-width: 62rem) {
  .nsw-header__title {
    font-size: var(--nsw-font-size-lg-desktop);
    line-height: var(--nsw-line-height-lg-desktop);
  }
}
@media (min-width: 62rem) {
  .nsw-header__title {
    line-height: 1.75rem;
  }
}
.nsw-header__title .nsw-tag {
  margin-left: 1.5rem;
}
.nsw-header__description {
  font-size: var(--nsw-font-size-xs-mobile);
  line-height: var(--nsw-line-height-xs-mobile);
  color: var(--nsw-brand-dark);
}
@media (min-width: 62rem) {
  .nsw-header__description {
    font-size: var(--nsw-font-size-xs-desktop);
    line-height: var(--nsw-line-height-xs-desktop);
  }
}
.nsw-header__logo {
  display: flex;
  justify-content: center;
}
@media (min-width: 62rem) {
  .nsw-header__logo {
    justify-content: flex-start;
  }
}
.nsw-header__logo svg {
  height: 3rem;
  display: block;
}
@media (min-width: 62rem) {
  .nsw-header__logo svg {
    height: 4.75rem;
  }
}
.nsw-header__search-area {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
@media (min-width: 62rem) {
  .nsw-header__search-area {
    width: 24.625rem;
    left: auto;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
.nsw-header__search-area button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.nsw-header__search-area > button {
  border-radius: 0;
}
@media (min-width: 62rem) {
  .nsw-header__search-area > button {
    display: none;
  }
}
.nsw-header__search-area form button {
  display: none;
  padding: 0;
  width: 3rem;
}
@media (min-width: 62rem) {
  .nsw-header__search-area form button {
    display: flex;
  }
}
.nsw-header__search-area form .nsw-material-icons {
  font-size: 2.25rem;
}
.nsw-header__search-area input {
  font-size: var(--nsw-font-size-md-mobile);
  line-height: var(--nsw-line-height-md-mobile);
  background: var(--nsw-off-white);
  padding: 0.5rem 4.5rem 0.5rem 1rem;
  color: var(--nsw-text-dark);
  width: 100%;
  appearance: none;
  border: 0;
  height: 4.5rem;
}
@media (min-width: 62rem) {
  .nsw-header__search-area input {
    font-size: var(--nsw-font-size-md-desktop);
    line-height: var(--nsw-line-height-md-desktop);
  }
}
.nsw-header__search-area input:focus {
  outline: solid 3px var(--nsw-focus);
  outline-offset: 0;
}
@media (min-width: 62rem) {
  .nsw-header__search-area input {
    border-radius: var(--nsw-border-radius);
    height: 3rem;
    padding: 0 1rem;
  }
}
