/* sldsValidatorIgnore */
.slds-datepicker__filter h2,
.sfgpsds-datepicker__filter h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}

.slds-datepicker .slds-select,
.sfgpsds-datepicker .sfgpsds-select {
  font-size: var(--nsw-s-font-size-sm-mobile);
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 2rem;
}

.slds-datepicker .slds-select_container:after,
.sfgpsds-datepicker .sfgpsds-select_container:after {
  display: none;
}
