@import "c/sfGpsDsAuNswCore";
@import "c/sfGpsDsAuNswForm";
@import "./table.gen.css";

th {
  display: list-item;
}

/* for the error column */
tr > th:first-child {
  display: none;
}

.nsw-hide {
  display: none;
}
