@import "./select.gen.css";

:host {
  font-family: Marianne, arial, sans-serif;
}

/* repeat icons */

.fr-label > span:first-child {
  margin-right: 0.5rem;
}

.fr-select-group {
  margin-bottom: 1.5rem;
}

.fr-select-group--disabled .fr-select {
  background: white !important;
  cursor: not-allowed;
}
