@import "c/sfGpsDsAuVicFormCssOs";
@import "c/sfGpsDsAuVicColCssOs";
@import "c/sfGpsDsAuVicRowCssOs";

/* Leave space next to label for label slot  */
.form-group > .slds-form-element > label > span {
  margin-right: 0.25rem;
}

.rpl-form .form-group.required > div > label > span:after {
  /* margin-left: $rpl-space; */ /* message already has space */
  font-family: "VIC-Regular", "Arial", "Helvetica", "sans-serif";
  font-size: 0.875rem;
  line-height: 0.8em;
  font-weight: normal;
  color: #af272f;
  content: " (Required)";
}

.fieldset {
  margin-bottom: 1.75rem;
}
