.nsw-side-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.nsw-side-nav > ul > li.active {
  border-left: solid 2px var(--nsw-brand-accent);
}
.nsw-side-nav li {
  margin: 0;
  border-top: solid 1px var(--nsw-grey-04);
}
.nsw-side-nav li li a {
  padding-left: 1.5rem;
}
.nsw-side-nav li li li a {
  padding-left: 2rem;
}
.nsw-side-nav li li li li a {
  padding-left: 3rem;
}
.nsw-side-nav li.active > a {
  font-weight: var(--nsw-font-bold);
}
.nsw-side-nav a {
  font-weight: var(--nsw-font-normal);
  display: block;
  text-decoration: none;
  color: var(--nsw-text-dark);
  padding: 1rem;
}
.nsw-side-nav a:hover {
  background-color: var(--nsw-text-hover);
  outline-width: 0;
}
.nsw-side-nav a:focus {
  outline-width: 3px;
}
.nsw-side-nav a.current {
  background-color: var(--nsw-off-white);
}
.nsw-section--invert .nsw-side-nav a.current {
  background-color: var(--nsw-text-hover-light);
}
.nsw-section--invert .nsw-side-nav a {
  color: var(--nsw-text-light);
}
.nsw-side-nav__header {
  border-bottom: solid 2px var(--nsw-brand-dark);
}
.nsw-section--invert .nsw-side-nav__header {
  border-color: var(--nsw-brand-light);
}
.nsw-side-nav__header a {
  font-weight: var(--nsw-font-bold);
  padding: 0.5rem 0;
}
.nsw-side-nav__header + ul > li:first-child {
  border-top: 0;
}
.nsw-scope.nsw-side-nav li {
  margin: 0;
}
