.rpl-site-header {
  position: absolute;
  z-index: 1040;
  padding: 0.625rem;
  box-sizing: border-box;
  width: 100%;
}
@media print {
  .rpl-site-header {
    display: none;
  }
}
@media screen and (min-width: 576px) {
  .rpl-site-header {
    padding: 1.25rem;
  }
}
.rpl-site-header__inner {
  overflow: hidden;
  background-color: #0052c2;
  border-radius: 0.25rem;
  transition: height 0.25s;
  height: 3rem;
}
@media screen and (min-width: 768px) {
  .rpl-site-header__inner {
    height: 3.875rem;
  }
}
.rpl-site-header--sticky:not(.rpl-site-header--open) {
  position: fixed;
  top: 0;
}
.rpl-site-header--open {
  position: fixed;
  top: 0;
  height: 100%;
}
.rpl-site-header--open .rpl-site-header__inner {
  margin: 0;
  border-radius: 0.25rem;
  background-color: #023b89;
  height: 100%;
}
.rpl-site-header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1.5rem 1.25rem;
  border-radius: 0.25rem;
  height: 3rem;
}
@media screen and (min-width: 768px) {
  .rpl-site-header__top {
    height: 3.875rem;
  }
}
.rpl-site-header__top__title {
  font-size: 1.25rem;
}
.rpl-site-header__divider {
  height: 0.875rem;
  margin: 0 0.5rem;
  border-right: 1px solid #fff;
}
@media screen and (min-width: 992px) {
  .rpl-site-header__divider {
    margin: 0 1rem;
    height: 1.6875rem;
  }
}
.rpl-site-header__divider--vic {
  display: none;
}
.rpl-site-header__divider--vic.rpl-site-header__divider--110 {
  display: block;
}
@media screen and (min-width: 768px) {
  .rpl-site-header__divider--vic.rpl-site-header__divider--111 {
    display: block;
  }
}
.rpl-site-header__divider--cobrand {
  display: none;
}
@media screen and (min-width: 768px) {
  .rpl-site-header__divider--cobrand.rpl-site-header__divider--011 {
    display: block;
  }
}
.rpl-site-header__divider--cobrand.rpl-site-header__divider--101 {
  display: block;
}
.rpl-site-header__divider--cobrand.rpl-site-header__divider--111 {
  display: block;
}
.rpl-site-header__logo-container-inner {
  display: flex;
  align-items: center;
}
.rpl-site-header__logo-container .rpl-link {
  display: flex;
  flex-flow: column;
}
.rpl-site-header__logo-container .rpl-link:focus {
  outline: 1px solid #fff;
}
.rpl-site-header__logo-container img {
  image-rendering: -webkit-optimize-contrast;
  width: auto;
  display: block;
}
.rpl-site-header__logo-container--vic-logo-primary {
  display: block;
}
.rpl-site-header__logo-container--vic-logo-primary img {
  width: 6.125rem;
}
.rpl-site-header__logo-container--vic-logo-primary--cobrand {
  display: none;
}
@media screen and (min-width: 768px) {
  .rpl-site-header__logo-container--vic-logo-primary--cobrand {
    display: block;
  }
}
.rpl-site-header__menu-container--vertical {
  width: auto;
  position: absolute;
  bottom: 0.625rem;
  left: 0.625rem;
  right: 0.625rem;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: auto;
  top: 3rem;
}
@media screen and (min-width: 768px) {
  .rpl-site-header__menu-container--vertical {
    top: 3.5rem;
  }
}
@media screen and (min-width: 576px) {
  .rpl-site-header__menu-container--vertical {
    left: 1.25rem;
    right: 1.25rem;
  }
}
.rpl-site-header__menu-container--horizontal {
  flex: 1;
}
.rpl-site-header__search-container {
  position: relative;
  background-color: #023b89;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  top: 0;
  height: calc(100vh - 3rem);
}
@media screen and (min-width: 992px) {
  .rpl-site-header__search-container {
    height: calc(100vh - 3.875rem);
  }
}
.rpl-site-header__btn-container {
  display: flex;
}
.rpl-site-header__btn {
  background-color: transparent;
  border: 0;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.rpl-site-header__btn:focus {
  outline: 1px solid #fff;
}
.rpl-site-header__btn--menu span {
  padding-left: 0.5rem;
  display: none;
}
@media screen and (min-width: 576px) {
  .rpl-site-header__btn--menu span {
    display: block;
  }
}
.rpl-site-header__btn--menu-open {
  border-right: 0;
  display: flex;
}
@media screen and (max-width: 767px) {
  .rpl-site-header__btn--search span {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
    pointer-events: none;
  }
}
@media screen and (min-width: 768px) {
  .rpl-site-header__btn--search span {
    margin-right: 0.25rem;
    display: block;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .rpl-site-header__btn--search span {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
    pointer-events: none;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-site-header__btn--search span {
    display: block;
  }
}
.rpl-site-header__btn--search .rpl-icon {
  margin: auto 0 auto 0.5rem;
}
.rpl-site-header__btn--search-open span {
  display: flex;
}
.rpl-site-header__btn--logout {
  border-radius: 0.25rem;
  background-color: #012557;
  display: none;
  margin-right: 1rem;
  padding: 0.5rem 0.625rem;
}
.rpl-site-header__btn--logout-open {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .rpl-site-header__btn--logout {
    background-color: #023b89;
    display: inline-block;
    padding: 0.625rem;
  }
}
.rpl-site-header__btn--logout .rpl-icon {
  margin: 0 0 0 0.5rem;
}
.rpl-site-header__btn span {
  font-family: "VIC-Medium", "Arial", "Helvetica", "sans-serif";
  font-size: 0.875rem;
  line-height: 1em;
  font-weight: normal;
  color: #fff;
}
.rpl-site-header__btn .rpl-icon {
  display: inline;
}

/* from _transition */
.rpl-header-fade-enter-active,
.rpl-header-fade-leave-active {
  transition: transform ease-out 0.3s, opacity ease-out 0.3s;
}
.rpl-header-fade-enter,
.rpl-header-fade-leave-to {
  transform: translateY(-1.5rem);
  opacity: 0;
}

/*# sourceMappingURL=sfGpsDsAuVicSiteHeader.css.map */
