/**
 * Ontario Design System - Selectable Card Group Styles
 */

/* Fieldset container */
.sfgpsdscaon-selectable-card-group {
  border: none;
  padding: 0;
  margin: 0;
}

/* Cards container */
.sfgpsdscaon-selectable-card-group__cards {
  margin-top: 1rem;
}
