/* compensate for .rpl-chip + .rpl-chip { margin-left: var(--rpl-sp-3); } which does not get executed due to different containment */

.chip-container {
  display: inline-flex;
  gap: var(--rpl-sp-3);
  flex-wrap: wrap;
}

/* introducing a deviation for chips with no href or an empty one */

.rpl-chip[href=""]:hover,
.rpl-chip:not([href]):hover {
  text-decoration: none;
  cursor: default;
}

.rpl-chip--default[href=""]:hover,
.rpl-chip--default:not([href]):hover {
  --rpl-chip-border-clr: var(--rpl-clr-primary);
  --rpl-chip-type-clr: var(--rpl-clr-type-primary-accessible);
}
