/* compensate for .rpl-chip + .rpl-chip { margin-left: var(--rpl-sp-3); } which does not get executed to different containment */

c-sf-gps-ds-au-vic2-chip > c-sf-gps-ds-au-vic2-link + c-sf-gps-ds-au-vic2-link {
  margin-left: var(--rpl-sp-3);
}

/* introducing a deviation for chips with no href or an empty one */

.rpl-chip[href=""]:hover,
.rpl-chip:not([href]):hover {
  text-decoration: none;
  cursor: default;
}
