@import "node_modules/@dpc-sdp/ripple-global/scss/settings";
@import "node_modules/@dpc-sdp/ripple-global/scss/tools";

$rpl-back-to-top-bottom-offset: $rpl-space-3 !default;
$rpl-back-to-top-bottom-height: rem(48px) + $rpl-back-to-top-bottom-offset !default;
$rpl-back-to-top-button-ruleset: ('xs', 1em, 'semibold') !default;
$rpl-back-to-top-button-text-color: rpl_color('extra_dark_neutral') !default;
$rpl-back-to-top-button-text-hover: rpl_color('primary') !default;
$rpl-back-to-top-button-background: rpl_color('white') !default;
$rpl-back-to-top-button-border: 1px solid #cdd3d7 !default;
$rpl-back-to-top-button-shadow: 0 rem(4px) rem(4px) 0 rgba(0, 0, 0, 0.08) !default;
$rpl-back-to-top-button-radius: rem(4px) !default;
$rpl-back-to-top-button-padding: $rpl-space-4 !default;
$rpl-back-to-top-button-padding-l: $rpl-space-4 ($rpl-space * 5) !default;
$rpl-back-to-top-icon-margin: 0 0 0 $rpl-space !default;

.rpl-back-to-top {
  @include rpl_print_hidden;

  &__inner {
    @include rpl_mobile_padding;
    @include rpl_site_constrain;
    text-align: right;
    position: relative;
    z-index: $rpl-zindex-fixed;
    height: 0;
    bottom: $rpl-back-to-top-bottom-height;
    right: 0;

    &--sticky {
      position: fixed;
    }
  }

  &__button {
    @include rpl_typography_ruleset($rpl-back-to-top-button-ruleset);
    color: $rpl-back-to-top-button-text-color;
    background: $rpl-back-to-top-button-background;
    border: $rpl-back-to-top-button-border;
    box-shadow: $rpl-back-to-top-button-shadow;
    border-radius: $rpl-back-to-top-button-radius;
    text-decoration: none;
    margin-left: auto;
    margin-right: 0;
    display: inline-block;
    padding: $rpl-back-to-top-button-padding;

    @include rpl_breakpoint('l') {
      padding: $rpl-back-to-top-button-padding-l;
    }

    &:hover,
    &:focus {
      color: $rpl-back-to-top-button-text-hover;
    }
  }

  &__text {
    @include rpl_breakpoint_down('l') {
      @include rpl_visually_hidden;
    }
  }

  .rpl-icon {
    vertical-align: middle;

    @include rpl_breakpoint('l') {
      margin: $rpl-back-to-top-icon-margin;
    }
  }
}