.rpl-campaign-secondary {
  position: relative;
  padding-bottom: 1.25rem;
}
@media screen and (min-width: 576px) {
  .rpl-campaign-secondary {
    padding: 1.75rem;
  }
}
@media screen and (min-width: 992px) {
  .rpl-campaign-secondary {
    padding: 1.5rem 0;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-campaign-secondary {
    padding: 2rem 0;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-campaign-secondary {
    padding: 2rem 0;
  }
}
@media print {
  .rpl-campaign-secondary {
    padding: 0;
  }
}
.rpl-campaign-secondary__row {
  margin: auto;
}
@media screen and (min-width: 992px) {
  .rpl-campaign-secondary__row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    width: calc(100% + 0.75rem * 2);
  }
}
@media screen and (min-width: 992px) {
  .rpl-campaign-secondary__row {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 992px) {
  .rpl-campaign-secondary__left {
    width: calc(33.3333333333% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 992px) {
  .rpl-campaign-secondary__left {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-campaign-secondary__left {
    width: calc(25% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-campaign-secondary__left {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .rpl-campaign-secondary__right {
    width: calc(66.6666666667% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 992px) {
  .rpl-campaign-secondary__right {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-campaign-secondary__right {
    width: calc(75% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-campaign-secondary__right {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
.rpl-campaign-secondary__content {
  display: block;
  width: 100%;
}
.rpl-campaign-secondary__image {
  border-radius: 0.25rem;
  display: block;
  width: 100%;
}
@media screen and (min-width: 0) {
  .rpl-campaign-secondary__image {
    max-height: 422px;
  }
}
@media screen and (min-width: 576px) {
  .rpl-campaign-secondary__image {
    max-height: 300px;
  }
}
@media screen and (min-width: 992px) {
  .rpl-campaign-secondary__image {
    max-height: 207px;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-campaign-secondary__image {
    max-height: 180px;
  }
}
@media screen and (min-width: 576px) {
  .rpl-campaign-secondary__image {
    padding: 0;
  }
}
.rpl-campaign-secondary__title {
  color: #011a3c;
  box-sizing: border-box;
  margin: 1.5rem 0 0.75rem;
  width: 100%;
}
@media screen and (min-width: 0) {
  .rpl-campaign-secondary__title {
    font-family: "VIC-Bold", "Arial", "Helvetica", "sans-serif";
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: normal;
  }
}
@media screen and (min-width: 576px) {
  .rpl-campaign-secondary__title {
    font-family: "VIC-Bold", "Arial", "Helvetica", "sans-serif";
    font-size: 1.5rem;
    line-height: 1.2em;
  }
}
@media screen and (min-width: 768px) {
  .rpl-campaign-secondary__title {
    font-family: "VIC-Bold", "Arial", "Helvetica", "sans-serif";
    font-size: 1.75rem;
    line-height: 1.3em;
  }
}
@media print {
  .rpl-campaign-secondary__title {
    color: #000;
  }
}
@media screen and (min-width: 768px) {
  .rpl-campaign-secondary__title {
    margin: 2.25rem 0 0.75rem;
  }
}
@media screen and (min-width: 992px) {
  .rpl-campaign-secondary__title {
    margin: 0;
  }
}
.rpl-campaign-secondary__summary {
  color: #132a4a;
  box-sizing: border-box;
  margin: 0.75rem 0 1.25rem;
  width: 100%;
}
@media screen and (min-width: 0) {
  .rpl-campaign-secondary__summary {
    font-family: "VIC-Regular", "Arial", "Helvetica", "sans-serif";
    font-size: 0.875rem;
    line-height: 1.4em;
    font-weight: normal;
  }
}
@media screen and (min-width: 576px) {
  .rpl-campaign-secondary__summary {
    font-family: "VIC-Regular", "Arial", "Helvetica", "sans-serif";
    font-size: 1rem;
    line-height: 1.5em;
  }
}
@media print {
  .rpl-campaign-secondary__summary {
    color: #000;
  }
}
@media screen and (min-width: 576px) {
  .rpl-campaign-secondary__summary {
    margin: 1rem 0 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .rpl-campaign-secondary__summary {
    margin: 0.75rem 0 1.5rem;
  }
}
.rpl-campaign-secondary__summary a {
  color: var(--sf-gps-ds-au-vic-color-primary, #0052c2);
  text-decoration: none;
}
.rpl-campaign-secondary__summary a:focus,
.rpl-campaign-secondary__summary a:hover {
  text-decoration: underline;
}
