@media screen and (min-width: 768px) {
  .rpl-acknowledgement {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}
.rpl-acknowledgement--standalone {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid #d7dbe0;
  border-bottom: 1px solid #d7dbe0;
}
@media screen and (min-width: 768px) {
  .rpl-hero-banner + .rpl-acknowledgement--standalone {
    border-top: 0;
  }
}
.rpl-acknowledgement__flag {
  width: 3.3125rem;
  height: 2.25rem;
  border: 1px solid #fff;
  margin-right: 0.5rem;
}
@media screen and (min-width: 768px) {
  .rpl-acknowledgement__flag {
    margin-right: 0.75rem;
    flex-shrink: 0;
  }
}
.rpl-acknowledgement__text {
  font-family: "VIC-SemiBold", "Arial", "Helvetica", "sans-serif";
  font-size: 1rem;
  line-height: 1.25em;
  font-weight: normal;
  margin-top: 0.75rem;
}
.rpl-acknowledgement--standalone .rpl-acknowledgement__text {
  font-family: "VIC-Regular", "Arial", "Helvetica", "sans-serif";
  font-size: 0.875rem;
  line-height: 1.43em;
  font-weight: normal;
  max-width: 46.375rem;
}
@media screen and (min-width: 768px) {
  .rpl-acknowledgement__text {
    margin-top: 0;
    margin-left: 0.75rem;
  }
}
