.nav-button {
  height: auto;
  width: 100%;
  padding: calc((44px - 1.5rem) / 2) 1.5rem;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.5s ease 0s, background-color 0.5s ease 0s,
    color 0.5s ease 0s;
  color: rgb(46, 82, 153);
  background-color: rgb(249, 253, 255);
  border: 2px solid rgb(46, 82, 153);
}

@media screen and (min-width: 30em) {
  .nav-button {
    width: auto;
    min-width: 12.5rem;
  }
}

.nav-button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(46, 82, 153);
  border: 2px solid rgb(46, 82, 153);
}
