@import "@dpc-sdp/ripple-global/scss/settings";
@import "@dpc-sdp/ripple-global/scss/tools";
@import "@dpc-sdp/ripple-global/scss/components/button";

.rpl-button {
  @include rpl_button;

  &--primary {
    @include rpl_button_primary;
  }

  &--secondary {
    @include rpl_button_secondary;
  }

  &--disabled {
    @include rpl_button_disabled;
  }

  &--primary,
  &--secondary {
    &.rpl-link {
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}