@import "c/sfGpsDsUkGovCoreOs";
@import "./input.gen.css";
@import "c/sfGpsDsUkGovPredictiveCssOsN";

.sfgpsds-combobox__input {
  padding-right: 3rem;
  background: #ffff
    url("data:image/svg+xml,%3Csvg fill='%230b0c0c' version='1.1' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath d='M16 26l16-16-4-4-12 12-12-12-4 4 16 16z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat right 1rem center;
  background-size:
    1rem auto,
    auto;
}

.sfgpsds-is-open .sfgpsds-combobox__input:hover {
  background: #ffff
    url("data:image/svg+xml,%3Csvg transform='scale(1 -1)' fill='%230b0c0c' version='1.1' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath d='M16 26l16-16-4-4-12 12-12-12-4 4 16 16z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat right 1rem center;
  background-size:
    1rem auto,
    auto;
}

/* repetable icons */

[data-label] {
  display: table;
}

[data-label] label {
  margin-right: 0.5rem;
}

[data-label] span {
  display: table-cell;
}
