.rpl-card-content {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #d7dbe0;
  border-radius: 0.25rem;
}
.rpl-card-content:hover,
.rpl-card-content:focus {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
}
.rpl-card-content:hover.rpl-link,
.rpl-card-content:focus.rpl-link {
  text-decoration: none;
}
.rpl-card-content:hover .rpl-card-content__link,
.rpl-card-content:focus .rpl-card-content__link {
  color: #0052c2;
}
@media screen and (min-width: 768px) {
  .rpl-card-content--default {
    height: 28.75rem;
  }
}
@media screen and (min-width: 992px) {
  .rpl-card-content--default {
    height: 31.25rem;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-card-content--default {
    height: 28.75rem;
  }
}
.rpl-card-content--default.rpl-card-content--no-image {
  padding: 2.25rem 0 0 0;
}
.rpl-card-content--default.rpl-card-content--no-image.rpl-card-content--hide-rainbow {
  padding-top: 0;
}
@media screen and (min-width: 768px) {
  .rpl-card-content--default.rpl-card-content--center {
    padding-top: 0;
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .rpl-card-content--inline {
    flex-wrap: nowrap;
    padding: 2rem 2rem;
  }
}
.rpl-card-content--has-border {
  background-image: linear-gradient(
    -90deg,
    #0052c2 0%,
    #825dff 12%,
    #ef4a81 23%,
    #e57200 37%,
    #ffc166 51%,
    #f9e062 81%
  );
  background-size: 100% 0.5rem;
  background-repeat: no-repeat;
}
.rpl-card-content--has-border.rpl-card-content--hide-rainbow {
  background-image: none;
}
.rpl-card-content__image-wrapper {
  width: 100%;
}
@media screen and (min-width: 0) {
  .rpl-card-content--default .rpl-card-content__image-wrapper,
  .rpl-card-content--simple .rpl-card-content__image-wrapper {
    height: 18.75rem;
  }
}
@media screen and (min-width: 768px) {
  .rpl-card-content--default .rpl-card-content__image-wrapper,
  .rpl-card-content--simple .rpl-card-content__image-wrapper {
    height: 12.5rem;
  }
}
@media screen and (min-width: 992px) {
  .rpl-card-content--default .rpl-card-content__image-wrapper,
  .rpl-card-content--simple .rpl-card-content__image-wrapper {
    height: 14.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-card-content--default .rpl-card-content__image-wrapper,
  .rpl-card-content--simple .rpl-card-content__image-wrapper {
    height: 12.5rem;
  }
}
@media screen and (min-width: 768px) {
  .rpl-card-content--inline .rpl-card-content__image-wrapper {
    margin-right: 1.5rem;
    width: 40%;
    max-width: 19rem;
  }
}
.rpl-card-content__image {
  width: 100%;
  display: table;
}
@media screen and (min-width: 0) {
  .rpl-card-content--default .rpl-card-content__image,
  .rpl-card-content--simple .rpl-card-content__image {
    height: 18.75rem;
  }
}
@media screen and (min-width: 768px) {
  .rpl-card-content--default .rpl-card-content__image,
  .rpl-card-content--simple .rpl-card-content__image {
    height: 12.5rem;
  }
}
@media screen and (min-width: 992px) {
  .rpl-card-content--default .rpl-card-content__image,
  .rpl-card-content--simple .rpl-card-content__image {
    height: 14.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-card-content--default .rpl-card-content__image,
  .rpl-card-content--simple .rpl-card-content__image {
    height: 12.5rem;
  }
}
@media screen and (min-width: 768px) {
  .rpl-card-content--inline .rpl-card-content__image {
    border-radius: 0.25rem;
  }
}
.rpl-card-content__details {
  width: 100%;
  box-sizing: border-box;
}
.rpl-card-content--default .rpl-card-content__details {
  padding: 1.25rem 1.25rem;
}
@media screen and (min-width: 576px) {
  .rpl-card-content--default .rpl-card-content__details {
    padding: 1.25rem 1.75rem;
  }
}
@media screen and (min-width: 768px) {
  .rpl-card-content--default .rpl-card-content__details {
    padding: 1.25rem 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  .rpl-card-content--default.rpl-card-content--center
    .rpl-card-content__details {
    margin: auto 0;
  }
}
.rpl-card-content--simple .rpl-card-content__details {
  padding: 1.5rem 1.5rem;
}
@media screen and (min-width: 576px) {
  .rpl-card-content--simple .rpl-card-content__details {
    padding: 2rem 2rem;
  }
}
@media screen and (min-width: 768px) {
  .rpl-card-content--simple .rpl-card-content__details {
    padding: 2rem 2rem;
  }
}
.rpl-card-content--inline .rpl-card-content__details {
  padding: 1.25rem 1.25rem;
}
@media screen and (min-width: 576px) {
  .rpl-card-content--inline .rpl-card-content__details {
    padding: 1.25rem 1.75rem;
  }
}
@media screen and (min-width: 768px) {
  .rpl-card-content--inline .rpl-card-content__details {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 60%;
  }
}
.rpl-card-content--has-link-text .rpl-card-content__details {
  padding-bottom: 0;
}
@media screen and (min-width: 576px) {
  .rpl-card-content--has-link-text .rpl-card-content__details {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .rpl-card-content--has-link-text .rpl-card-content__details {
    padding-bottom: 0;
  }
}
.rpl-card-content__link {
  color: #011a3c;
  align-self: flex-end;
  display: block;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}
.rpl-card-content--default .rpl-card-content__link {
  font-family: "VIC-SemiBold", "Arial", "Helvetica", "sans-serif";
  font-size: 0.875rem;
  line-height: 1em;
  font-weight: normal;
  padding: 0.75rem 1.25rem;
}
@media screen and (min-width: 576px) {
  .rpl-card-content--default .rpl-card-content__link {
    padding: 0.75rem 1.75rem;
  }
}
@media screen and (min-width: 768px) {
  .rpl-card-content--default .rpl-card-content__link {
    padding: 0.75rem 1.25rem;
  }
}
.rpl-card-content--default .rpl-card-content__link::before {
  content: "";
  background-color: #d7dbe0;
  height: 1px;
  display: block;
  position: absolute;
  top: 0;
  left: 1.25rem;
  right: 1.25rem;
}
@media screen and (min-width: 576px) {
  .rpl-card-content--default .rpl-card-content__link::before {
    left: 1.75rem;
    right: 1.75rem;
  }
}
@media screen and (min-width: 768px) {
  .rpl-card-content--default .rpl-card-content__link::before {
    left: 1.25rem;
    right: 1.25rem;
  }
}
.rpl-card-content--simple .rpl-card-content__link {
  padding: 0.75rem 1.5rem 1.5rem 1.5rem;
}
@media screen and (min-width: 0) {
  .rpl-card-content--simple .rpl-card-content__link {
    font-family: "VIC-SemiBold", "Arial", "Helvetica", "sans-serif";
    font-size: 0.875rem;
    line-height: 1em;
    font-weight: normal;
  }
}
@media screen and (min-width: 576px) {
  .rpl-card-content--simple .rpl-card-content__link {
    font-family: "VIC-SemiBold", "Arial", "Helvetica", "sans-serif";
    font-size: 1rem;
    line-height: 1em;
  }
}
@media screen and (min-width: 576px) {
  .rpl-card-content--simple .rpl-card-content__link {
    padding: 0.75rem 2rem 2rem 2rem;
  }
}
@media screen and (min-width: 768px) {
  .rpl-card-content--simple .rpl-card-content__link {
    padding: 0.75rem 2rem 2rem 2rem;
  }
}
.rpl-card-content--inline .rpl-card-content__link {
  padding: 0.75rem 0 0.75rem 0;
}
@media screen and (min-width: 0) {
  .rpl-card-content--inline .rpl-card-content__link {
    font-family: "VIC-SemiBold", "Arial", "Helvetica", "sans-serif";
    font-size: 0.875rem;
    line-height: 1em;
    font-weight: normal;
  }
}
@media screen and (min-width: 768px) {
  .rpl-card-content--inline .rpl-card-content__link {
    font-family: "VIC-SemiBold", "Arial", "Helvetica", "sans-serif";
    font-size: 1rem;
    line-height: 1em;
  }
}
@media screen and (min-width: 576px) {
  .rpl-card-content--inline .rpl-card-content__link {
    padding: 0.75rem 0 0.75rem 0;
  }
}
@media screen and (min-width: 768px) {
  .rpl-card-content--inline .rpl-card-content__link {
    padding: 0.75rem 0 0 0;
  }
}
.rpl-card-content__link .rpl-icon {
  vertical-align: middle;
}

/*# sourceMappingURL=sfGpsDsAuVicCardContent.css.map */
