.tableRowCell {
  display: table-cell;
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
  position: relative;
}

.editableTextArea {
  display: inherit;
}

.checkBoxCell {
  width: 0.1%;
}

.top-padding {
  padding-top: 0.75rem;
}
