.nsw-container {
  max-width: var(--nsw-container-width);
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.nsw-container--flush {
  padding-left: 0;
  padding-right: 0;
}
.nsw-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
@media (min-width: 48rem) {
  .nsw-grid {
    margin-left: -1rem;
    margin-right: -1rem;
  }
}
.nsw-grid--spaced {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}
@media (min-width: 48rem) {
  .nsw-grid--spaced {
    margin-top: -1rem;
    margin-bottom: -1rem;
  }
}
.nsw-grid--spaced .nsw-col {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  .nsw-grid--spaced .nsw-col {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.nsw-grid--flush {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}
@media (min-width: 48rem) {
  .nsw-grid--flush {
    margin-top: -1rem;
    margin-bottom: -1rem;
  }
}
.nsw-grid-overlay {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
.nsw-grid-overlay .nsw-container,
.nsw-grid-overlay .nsw-grid {
  height: 100%;
}
.nsw-grid-overlay .nsw-col {
  padding-top: 0;
  padding-bottom: 0;
}
.nsw-grid-overlay .nsw-col > div {
  height: 100%;
  background-color: var(--nsw-brand-accent);
  opacity: 0.1;
}
.nsw-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 62rem) {
  .nsw-row--reverse {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}
.nsw-col {
  width: 100%;
  padding: 0.5rem;
}
@media (min-width: 48rem) {
  .nsw-col {
    padding: 1rem;
  }
}
.nsw-col-1 {
  width: 8.3333333333%;
  max-width: 8.3333333333%;
}
.nsw-col-2 {
  width: 16.6666666667%;
  max-width: 16.6666666667%;
}
.nsw-col-3 {
  width: 25%;
  max-width: 25%;
}
.nsw-col-4 {
  width: 33.3333333333%;
  max-width: 33.3333333333%;
}
.nsw-col-5 {
  width: 41.6666666667%;
  max-width: 41.6666666667%;
}
.nsw-col-6 {
  width: 50%;
  max-width: 50%;
}
.nsw-col-7 {
  width: 58.3333333333%;
  max-width: 58.3333333333%;
}
.nsw-col-8 {
  width: 66.6666666667%;
  max-width: 66.6666666667%;
}
.nsw-col-9 {
  width: 75%;
  max-width: 75%;
}
.nsw-col-10 {
  width: 83.3333333333%;
  max-width: 83.3333333333%;
}
.nsw-col-11 {
  width: 91.6666666667%;
  max-width: 91.6666666667%;
}
.nsw-col-12 {
  width: 100%;
  max-width: 100%;
}
@media (min-width: 0rem) {
  .nsw-col-xs-1 {
    width: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .nsw-col-xs-2 {
    width: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .nsw-col-xs-3 {
    width: 25%;
    max-width: 25%;
  }
  .nsw-col-xs-4 {
    width: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .nsw-col-xs-5 {
    width: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .nsw-col-xs-6 {
    width: 50%;
    max-width: 50%;
  }
  .nsw-col-xs-7 {
    width: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .nsw-col-xs-8 {
    width: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .nsw-col-xs-9 {
    width: 75%;
    max-width: 75%;
  }
  .nsw-col-xs-10 {
    width: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .nsw-col-xs-11 {
    width: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .nsw-col-xs-12 {
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 36rem) {
  .nsw-col-sm-1 {
    width: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .nsw-col-sm-2 {
    width: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .nsw-col-sm-3 {
    width: 25%;
    max-width: 25%;
  }
  .nsw-col-sm-4 {
    width: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .nsw-col-sm-5 {
    width: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .nsw-col-sm-6 {
    width: 50%;
    max-width: 50%;
  }
  .nsw-col-sm-7 {
    width: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .nsw-col-sm-8 {
    width: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .nsw-col-sm-9 {
    width: 75%;
    max-width: 75%;
  }
  .nsw-col-sm-10 {
    width: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .nsw-col-sm-11 {
    width: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .nsw-col-sm-12 {
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 48rem) {
  .nsw-col-md-1 {
    width: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .nsw-col-md-2 {
    width: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .nsw-col-md-3 {
    width: 25%;
    max-width: 25%;
  }
  .nsw-col-md-4 {
    width: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .nsw-col-md-5 {
    width: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .nsw-col-md-6 {
    width: 50%;
    max-width: 50%;
  }
  .nsw-col-md-7 {
    width: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .nsw-col-md-8 {
    width: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .nsw-col-md-9 {
    width: 75%;
    max-width: 75%;
  }
  .nsw-col-md-10 {
    width: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .nsw-col-md-11 {
    width: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .nsw-col-md-12 {
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 62rem) {
  .nsw-col-lg-1 {
    width: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .nsw-col-lg-2 {
    width: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .nsw-col-lg-3 {
    width: 25%;
    max-width: 25%;
  }
  .nsw-col-lg-4 {
    width: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .nsw-col-lg-5 {
    width: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .nsw-col-lg-6 {
    width: 50%;
    max-width: 50%;
  }
  .nsw-col-lg-7 {
    width: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .nsw-col-lg-8 {
    width: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .nsw-col-lg-9 {
    width: 75%;
    max-width: 75%;
  }
  .nsw-col-lg-10 {
    width: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .nsw-col-lg-11 {
    width: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .nsw-col-lg-12 {
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 75rem) {
  .nsw-col-xl-1 {
    width: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .nsw-col-xl-2 {
    width: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .nsw-col-xl-3 {
    width: 25%;
    max-width: 25%;
  }
  .nsw-col-xl-4 {
    width: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .nsw-col-xl-5 {
    width: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .nsw-col-xl-6 {
    width: 50%;
    max-width: 50%;
  }
  .nsw-col-xl-7 {
    width: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .nsw-col-xl-8 {
    width: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .nsw-col-xl-9 {
    width: 75%;
    max-width: 75%;
  }
  .nsw-col-xl-10 {
    width: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .nsw-col-xl-11 {
    width: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .nsw-col-xl-12 {
    width: 100%;
    max-width: 100%;
  }
}
.nsw-offset-1 {
  margin-left: 8.3333333333%;
}
.nsw-offset-2 {
  margin-left: 16.6666666667%;
}
.nsw-offset-3 {
  margin-left: 25%;
}
.nsw-offset-4 {
  margin-left: 33.3333333333%;
}
.nsw-offset-5 {
  margin-left: 41.6666666667%;
}
.nsw-offset-6 {
  margin-left: 50%;
}
.nsw-offset-7 {
  margin-left: 58.3333333333%;
}
.nsw-offset-8 {
  margin-left: 66.6666666667%;
}
.nsw-offset-9 {
  margin-left: 75%;
}
.nsw-offset-10 {
  margin-left: 83.3333333333%;
}
.nsw-offset-11 {
  margin-left: 91.6666666667%;
}
.nsw-offset-12 {
  margin-left: 100%;
}
@media (min-width: 0rem) {
  .nsw-offset-xs-1 {
    margin-left: 8.3333333333%;
  }
  .nsw-offset-xs-2 {
    margin-left: 16.6666666667%;
  }
  .nsw-offset-xs-3 {
    margin-left: 25%;
  }
  .nsw-offset-xs-4 {
    margin-left: 33.3333333333%;
  }
  .nsw-offset-xs-5 {
    margin-left: 41.6666666667%;
  }
  .nsw-offset-xs-6 {
    margin-left: 50%;
  }
  .nsw-offset-xs-7 {
    margin-left: 58.3333333333%;
  }
  .nsw-offset-xs-8 {
    margin-left: 66.6666666667%;
  }
  .nsw-offset-xs-9 {
    margin-left: 75%;
  }
  .nsw-offset-xs-10 {
    margin-left: 83.3333333333%;
  }
  .nsw-offset-xs-11 {
    margin-left: 91.6666666667%;
  }
  .nsw-offset-xs-12 {
    margin-left: 100%;
  }
}
@media (min-width: 36rem) {
  .nsw-offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .nsw-offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .nsw-offset-sm-3 {
    margin-left: 25%;
  }
  .nsw-offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .nsw-offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .nsw-offset-sm-6 {
    margin-left: 50%;
  }
  .nsw-offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .nsw-offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .nsw-offset-sm-9 {
    margin-left: 75%;
  }
  .nsw-offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .nsw-offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .nsw-offset-sm-12 {
    margin-left: 100%;
  }
}
@media (min-width: 48rem) {
  .nsw-offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .nsw-offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .nsw-offset-md-3 {
    margin-left: 25%;
  }
  .nsw-offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .nsw-offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .nsw-offset-md-6 {
    margin-left: 50%;
  }
  .nsw-offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .nsw-offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .nsw-offset-md-9 {
    margin-left: 75%;
  }
  .nsw-offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .nsw-offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .nsw-offset-md-12 {
    margin-left: 100%;
  }
}
@media (min-width: 62rem) {
  .nsw-offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .nsw-offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .nsw-offset-lg-3 {
    margin-left: 25%;
  }
  .nsw-offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .nsw-offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .nsw-offset-lg-6 {
    margin-left: 50%;
  }
  .nsw-offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .nsw-offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .nsw-offset-lg-9 {
    margin-left: 75%;
  }
  .nsw-offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .nsw-offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .nsw-offset-lg-12 {
    margin-left: 100%;
  }
}
@media (min-width: 75rem) {
  .nsw-offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .nsw-offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .nsw-offset-xl-3 {
    margin-left: 25%;
  }
  .nsw-offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .nsw-offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .nsw-offset-xl-6 {
    margin-left: 50%;
  }
  .nsw-offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .nsw-offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .nsw-offset-xl-9 {
    margin-left: 75%;
  }
  .nsw-offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .nsw-offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .nsw-offset-xl-12 {
    margin-left: 100%;
  }
}
