.nsw-material-icons--20 {
  font-size: 1.25rem;
}
.nsw-material-icons--24 {
  font-size: 1.5rem;
}
.nsw-material-icons--30 {
  font-size: 1.875rem;
}
.nsw-material-icons--36 {
  font-size: 2.25rem;
}
.nsw-material-icons--brand {
  color: var(--nsw-brand-dark);
}
.nsw-material-icons--accent {
  color: var(--nsw-brand-accent);
}
.nsw-material-icons--error {
  color: var(--nsw-status-error);
}
.nsw-material-icons--success {
  color: var(--nsw-status-success);
}
.nsw-material-icons--info {
  color: var(--nsw-status-info);
}
.nsw-material-icons--warning {
  color: var(--nsw-status-warning);
}
.nsw-material-icons--rotate-90 {
  transform: rotate(90deg);
}
.nsw-material-icons--rotate-180 {
  transform: rotate(180deg);
}
.nsw-material-icons--rotate-270 {
  transform: rotate(270deg);
}
.nsw-material-icons--inline {
  font-size: 1.25rem;
  line-height: 0.625rem;
  position: relative;
  bottom: -0.3125rem;
  margin-right: 0.25rem;
}
.nsw-icon-button {
  font-size: var(--nsw-font-size-sm-mobile);
  line-height: var(--nsw-line-height-sm-mobile);
  border-radius: var(--nsw-border-radius);
  font-weight: var(--nsw-font-bold);
  color: var(--nsw-brand-dark);
  background: none;
  border: 0;
  text-decoration: none;
  padding: 0.5rem;
  display: inline-block;
}
@media (min-width: 62rem) {
  .nsw-icon-button {
    font-size: var(--nsw-font-size-sm-desktop);
    line-height: var(--nsw-line-height-sm-desktop);
  }
}
.nsw-icon-button:hover {
  background-color: var(--nsw-text-hover);
  outline-width: 0;
}
.nsw-icon-button:focus {
  outline: solid 3px var(--nsw-focus);
  outline-offset: 0;
}
.nsw-icon-button .nsw-material-icons,
.nsw-icon-button svg {
  display: block;
}
a.nsw-icon-button {
  cursor: pointer;
}
.nsw-icon-button--flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nsw-section--invert .nsw-icon-button {
  color: var(--nsw-text-light);
}
.nsw-section--invert .nsw-icon-button:hover {
  background-color: var(--nsw-text-hover-light);
  outline-color: var(--nsw-text-hover-light);
}
.nsw-section--invert .nsw-icon-button:focus {
  outline-color: var(--nsw-white);
}
.nsw-section--invert .nsw-icon-button:visited {
  color: var(--nsw-text-light);
}
