.nsw-block {
  margin-top: 1.5rem;
}
.nsw-block:first-child {
  margin-top: 0;
}
@media (min-width: 48rem) {
  .nsw-block {
    margin-top: 2rem;
  }
}
.nsw-m-xs {
  margin: 0.25rem;
}
.nsw-m-top-xs {
  margin-top: 0.25rem;
}
.nsw-m-right-xs {
  margin-right: 0.25rem;
}
.nsw-m-bottom-xs {
  margin-bottom: 0.25rem;
}
.nsw-m-left-xs {
  margin-left: 0.25rem;
}
.nsw-m-x-xs {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.nsw-m-y-xs {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
@media (min-width: 62rem) {
  .nsw-m-xs {
    margin: 0.5rem;
  }
  .nsw-m-top-xs {
    margin-top: 0.5rem;
  }
  .nsw-m-right-xs {
    margin-right: 0.5rem;
  }
  .nsw-m-bottom-xs {
    margin-bottom: 0.5rem;
  }
  .nsw-m-left-xs {
    margin-left: 0.5rem;
  }
  .nsw-m-x-xs {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .nsw-m-y-xs {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
.nsw-m-sm {
  margin: 0.5rem;
}
.nsw-m-top-sm {
  margin-top: 0.5rem;
}
.nsw-m-right-sm {
  margin-right: 0.5rem;
}
.nsw-m-bottom-sm {
  margin-bottom: 0.5rem;
}
.nsw-m-left-sm {
  margin-left: 0.5rem;
}
.nsw-m-x-sm {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.nsw-m-y-sm {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 62rem) {
  .nsw-m-sm {
    margin: 1rem;
  }
  .nsw-m-top-sm {
    margin-top: 1rem;
  }
  .nsw-m-right-sm {
    margin-right: 1rem;
  }
  .nsw-m-bottom-sm {
    margin-bottom: 1rem;
  }
  .nsw-m-left-sm {
    margin-left: 1rem;
  }
  .nsw-m-x-sm {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .nsw-m-y-sm {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
.nsw-m-md {
  margin: 1rem;
}
.nsw-m-top-md {
  margin-top: 1rem;
}
.nsw-m-right-md {
  margin-right: 1rem;
}
.nsw-m-bottom-md {
  margin-bottom: 1rem;
}
.nsw-m-left-md {
  margin-left: 1rem;
}
.nsw-m-x-md {
  margin-left: 1rem;
  margin-right: 1rem;
}
.nsw-m-y-md {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 62rem) {
  .nsw-m-md {
    margin: 2rem;
  }
  .nsw-m-top-md {
    margin-top: 2rem;
  }
  .nsw-m-right-md {
    margin-right: 2rem;
  }
  .nsw-m-bottom-md {
    margin-bottom: 2rem;
  }
  .nsw-m-left-md {
    margin-left: 2rem;
  }
  .nsw-m-x-md {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .nsw-m-y-md {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
.nsw-m-lg {
  margin: 1.5rem;
}
.nsw-m-top-lg {
  margin-top: 1.5rem;
}
.nsw-m-right-lg {
  margin-right: 1.5rem;
}
.nsw-m-bottom-lg {
  margin-bottom: 1.5rem;
}
.nsw-m-left-lg {
  margin-left: 1.5rem;
}
.nsw-m-x-lg {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.nsw-m-y-lg {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 62rem) {
  .nsw-m-lg {
    margin: 3rem;
  }
  .nsw-m-top-lg {
    margin-top: 3rem;
  }
  .nsw-m-right-lg {
    margin-right: 3rem;
  }
  .nsw-m-bottom-lg {
    margin-bottom: 3rem;
  }
  .nsw-m-left-lg {
    margin-left: 3rem;
  }
  .nsw-m-x-lg {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .nsw-m-y-lg {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
.nsw-m-xl {
  margin: 2rem;
}
.nsw-m-top-xl {
  margin-top: 2rem;
}
.nsw-m-right-xl {
  margin-right: 2rem;
}
.nsw-m-bottom-xl {
  margin-bottom: 2rem;
}
.nsw-m-left-xl {
  margin-left: 2rem;
}
.nsw-m-x-xl {
  margin-left: 2rem;
  margin-right: 2rem;
}
.nsw-m-y-xl {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 62rem) {
  .nsw-m-xl {
    margin: 4rem;
  }
  .nsw-m-top-xl {
    margin-top: 4rem;
  }
  .nsw-m-right-xl {
    margin-right: 4rem;
  }
  .nsw-m-bottom-xl {
    margin-bottom: 4rem;
  }
  .nsw-m-left-xl {
    margin-left: 4rem;
  }
  .nsw-m-x-xl {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .nsw-m-y-xl {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}
.nsw-m-xxl {
  margin: 2.5rem;
}
.nsw-m-top-xxl {
  margin-top: 2.5rem;
}
.nsw-m-right-xxl {
  margin-right: 2.5rem;
}
.nsw-m-bottom-xxl {
  margin-bottom: 2.5rem;
}
.nsw-m-left-xxl {
  margin-left: 2.5rem;
}
.nsw-m-x-xxl {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
.nsw-m-y-xxl {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
@media (min-width: 62rem) {
  .nsw-m-xxl {
    margin: 5rem;
  }
  .nsw-m-top-xxl {
    margin-top: 5rem;
  }
  .nsw-m-right-xxl {
    margin-right: 5rem;
  }
  .nsw-m-bottom-xxl {
    margin-bottom: 5rem;
  }
  .nsw-m-left-xxl {
    margin-left: 5rem;
  }
  .nsw-m-x-xxl {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .nsw-m-y-xxl {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}
.nsw-p-xs {
  padding: 0.25rem;
}
.nsw-p-top-xs {
  padding-top: 0.25rem;
}
.nsw-p-right-xs {
  padding-right: 0.25rem;
}
.nsw-p-bottom-xs {
  padding-bottom: 0.25rem;
}
.nsw-p-left-xs {
  padding-left: 0.25rem;
}
.nsw-p-x-xs {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.nsw-p-y-xs {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
@media (min-width: 62rem) {
  .nsw-p-xs {
    padding: 0.5rem;
  }
  .nsw-p-top-xs {
    padding-top: 0.5rem;
  }
  .nsw-p-right-xs {
    padding-right: 0.5rem;
  }
  .nsw-p-bottom-xs {
    padding-bottom: 0.5rem;
  }
  .nsw-p-left-xs {
    padding-left: 0.5rem;
  }
  .nsw-p-x-xs {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .nsw-p-y-xs {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.nsw-p-sm {
  padding: 0.5rem;
}
.nsw-p-top-sm {
  padding-top: 0.5rem;
}
.nsw-p-right-sm {
  padding-right: 0.5rem;
}
.nsw-p-bottom-sm {
  padding-bottom: 0.5rem;
}
.nsw-p-left-sm {
  padding-left: 0.5rem;
}
.nsw-p-x-sm {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.nsw-p-y-sm {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (min-width: 62rem) {
  .nsw-p-sm {
    padding: 1rem;
  }
  .nsw-p-top-sm {
    padding-top: 1rem;
  }
  .nsw-p-right-sm {
    padding-right: 1rem;
  }
  .nsw-p-bottom-sm {
    padding-bottom: 1rem;
  }
  .nsw-p-left-sm {
    padding-left: 1rem;
  }
  .nsw-p-x-sm {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .nsw-p-y-sm {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.nsw-p-md {
  padding: 1rem;
}
.nsw-p-top-md {
  padding-top: 1rem;
}
.nsw-p-right-md {
  padding-right: 1rem;
}
.nsw-p-bottom-md {
  padding-bottom: 1rem;
}
.nsw-p-left-md {
  padding-left: 1rem;
}
.nsw-p-x-md {
  padding-left: 1rem;
  padding-right: 1rem;
}
.nsw-p-y-md {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 62rem) {
  .nsw-p-md {
    padding: 2rem;
  }
  .nsw-p-top-md {
    padding-top: 2rem;
  }
  .nsw-p-right-md {
    padding-right: 2rem;
  }
  .nsw-p-bottom-md {
    padding-bottom: 2rem;
  }
  .nsw-p-left-md {
    padding-left: 2rem;
  }
  .nsw-p-x-md {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .nsw-p-y-md {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.nsw-p-lg {
  padding: 1.5rem;
}
.nsw-p-top-lg {
  padding-top: 1.5rem;
}
.nsw-p-right-lg {
  padding-right: 1.5rem;
}
.nsw-p-bottom-lg {
  padding-bottom: 1.5rem;
}
.nsw-p-left-lg {
  padding-left: 1.5rem;
}
.nsw-p-x-lg {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.nsw-p-y-lg {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
@media (min-width: 62rem) {
  .nsw-p-lg {
    padding: 3rem;
  }
  .nsw-p-top-lg {
    padding-top: 3rem;
  }
  .nsw-p-right-lg {
    padding-right: 3rem;
  }
  .nsw-p-bottom-lg {
    padding-bottom: 3rem;
  }
  .nsw-p-left-lg {
    padding-left: 3rem;
  }
  .nsw-p-x-lg {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .nsw-p-y-lg {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
.nsw-p-xl {
  padding: 2rem;
}
.nsw-p-top-xl {
  padding-top: 2rem;
}
.nsw-p-right-xl {
  padding-right: 2rem;
}
.nsw-p-bottom-xl {
  padding-bottom: 2rem;
}
.nsw-p-left-xl {
  padding-left: 2rem;
}
.nsw-p-x-xl {
  padding-left: 2rem;
  padding-right: 2rem;
}
.nsw-p-y-xl {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (min-width: 62rem) {
  .nsw-p-xl {
    padding: 4rem;
  }
  .nsw-p-top-xl {
    padding-top: 4rem;
  }
  .nsw-p-right-xl {
    padding-right: 4rem;
  }
  .nsw-p-bottom-xl {
    padding-bottom: 4rem;
  }
  .nsw-p-left-xl {
    padding-left: 4rem;
  }
  .nsw-p-x-xl {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .nsw-p-y-xl {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
.nsw-p-xxl {
  padding: 2.5rem;
}
.nsw-p-top-xxl {
  padding-top: 2.5rem;
}
.nsw-p-right-xxl {
  padding-right: 2.5rem;
}
.nsw-p-bottom-xxl {
  padding-bottom: 2.5rem;
}
.nsw-p-left-xxl {
  padding-left: 2.5rem;
}
.nsw-p-x-xxl {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.nsw-p-y-xxl {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
@media (min-width: 62rem) {
  .nsw-p-xxl {
    padding: 5rem;
  }
  .nsw-p-top-xxl {
    padding-top: 5rem;
  }
  .nsw-p-right-xxl {
    padding-right: 5rem;
  }
  .nsw-p-bottom-xxl {
    padding-bottom: 5rem;
  }
  .nsw-p-left-xxl {
    padding-left: 5rem;
  }
  .nsw-p-x-xxl {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .nsw-p-y-xxl {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
