:host {
  /* Colours */
  --nsw-brand-dark: var(--nsw-brand-dark-override, var(--nsw-palette-blue-01));
  --nsw-brand-light: var(
    --nsw-brand-light-override,
    var(--nsw-palette-blue-04)
  );
  --nsw-brand-accent: var(
    --nsw-brand-accent-override,
    var(--nsw-palette-red-02)
  );
  --nsw-brand-supplementary: var(
    --nsw-brand-supplementary-override,
    var(--nsw-palette-blue-02)
  );
  --nsw-text-dark: var(--nsw-text-dark-override, var(--nsw-palette-grey-01));
  --nsw-text-light: var(--nsw-text-light-override, var(--nsw-palette-white));
  --nsw-focus: var(--nsw-focus-override, var(--nsw-palette-focus));
  --nsw-text-hover: var(--nsw-text-hover-override, var(--nsw-palette-hover));
  --nsw-text-hover-light: var(
    --nsw-text-hover-light-override,
    var(--nsw-palette-hover-light)
  );
  --nsw-text-visited: var(
    --nsw-text-visited-override,
    var(--nsw-palette-visited)
  );
  --nsw-black: var(--nsw-black-override, var(--nsw-palette-black));
  --nsw-white: var(--nsw-white-ovveride, var(--nsw-palette-white));
  --nsw-off-white: var(--nsw-off-white-override, var(--nsw-palette-off-white));
  --nsw-grey-01: var(--nsw-grey-01-override, var(--nsw-palette-grey-01));
  --nsw-grey-02: var(--nsw-grey-02-override, var(--nsw-palette-grey-02));
  --nsw-grey-03: var(--nsw-grey-03-override, var(--nsw-palette-grey-03));
  --nsw-grey-04: var(--nsw-grey-04-override, var(--nsw-palette-grey-04));
  --nsw-status-info: var(
    --nsw-status-info-override,
    var(--nsw-palette-info-blue)
  );
  --nsw-status-info-bg: var(
    --nsw-status-info-bg-override,
    var(--nsw-palette-info-blue-bg)
  );
  --nsw-status-success: var(
    --nsw-status-success-override,
    var(--nsw-palette-success-green)
  );
  --nsw-status-success-bg: var(
    --nsw-status-success-bg-override,
    var(--nsw-palette-success-green-bg)
  );
  --nsw-status-warning: var(
    --nsw-status-warning-override,
    var(--nsw-palette-warning-orange)
  );
  --nsw-status-warning-bg: var(
    --nsw-status-warning-bg-override,
    var(--nsw-palette-warning-orange-bg)
  );
  --nsw-status-error: var(
    --nsw-status-error-override,
    var(--nsw-palette-error-red)
  );
  --nsw-status-error-bg: var(
    --nsw-status-error-bg-override,
    var(--nsw-palette-error-red-bg)
  );
  --nsw-black-rgb: var(--nsw-black-rgb-override, 0, 0, 0);
  --nsw-white-rgb: var(--nsw-white-rgb-ovveride, 255, 255, 255);

  /* Font */
  --nsw-font-family: var(--nsw-font-family-override, "Public Sans", sans-serif);
  --nsw-font-size: var(--nsw-font-size-override, 16px);
  --nsw-line-height: var(--nsw-line-height-override, 1.5);
  --nsw-font-normal: var(--nsw-font-normal-override, 400);
  --nsw-font-bold: var(--nsw-font-bold-override, 700);
  --nsw-font-size-xxs-mobile: var(--nsw-font-size-xxs-mobile-override, 0.75rem);
  --nsw-font-size-xxs-desktop: var(
    --nsw-font-size-xxs-desktop-override,
    0.75rem
  );
  --nsw-line-height-xxs-mobile: var(--nsw-line-height-xxs-mobile-override, 1.5);
  --nsw-line-height-xxs-desktop: var(
    --nsw-line-height-xxs-desktop-override,
    1.5
  );
  --nsw-font-size-xs-mobile: var(--nsw-font-size-xs-mobile-override, 0.875rem);
  --nsw-font-size-xs-desktop: var(
    --nsw-font-size-xs-desktop-override,
    0.875rem
  );
  --nsw-line-height-xs-mobile: var(--nsw-line-height-xs-mobile-override, 1.35);
  --nsw-line-height-xs-desktop: var(
    --nsw-line-height-xs-desktop-override,
    1.35
  );
  --nsw-font-size-sm-mobile: var(--nsw-font-size-sm-mobile-override, 1rem);
  --nsw-font-size-sm-desktop: var(--nsw-font-size-sm-desktop-override, 1rem);
  --nsw-line-height-sm-mobile: var(-nsw-line-height-sm-mobile-override, 1.5);
  --nsw-line-height-sm-desktop: var(-nsw-line-height-sm-desktop-override, 1.5);
  --nsw-font-size-md-mobile: var(--nsw-font-size-md-mobile-override, 1.125rem);
  --nsw-font-size-md-desktop: var(--nsw-font-size-md-desktop-override, 1.25rem);
  --nsw-line-height-md-mobile: var(--nsw-line-height-md-mobile-override, 1.33);
  --nsw-line-height-md-desktop: var(--nsw-line-height-md-desktop-override, 1.4);
  --nsw-font-size-lg-mobile: var(--nsw-font-size-lg-mobile-override, 1.375rem);
  --nsw-font-size-lg-desktop: var(--nsw-font-size-lg-desktop-override, 1.5rem);
  --nsw-line-height-lg-mobile: var(--nsw-line-height-lg-mobile-override, 1.25);
  --nsw-line-height-lg-desktop: var(
    --nsw-line-height-lg-desktop-override,
    1.33
  );
  --nsw-font-size-xl-mobile: var(--nsw-font-size-xl-mobile-override, 1.75rem);
  --nsw-font-size-xl-desktop: var(--nsw-font-size-xl-desktop-override, 2rem);
  --nsw-line-height-xl-mobile: var(--nsw-line-height-xl-mobile-override, 1.25);
  --nsw-line-height-xl-desktop: var(
    --nsw-line-height-xl-desktop-override,
    1.25
  );
  --nsw-font-size-xxl-mobile: var(--nsw-font-size-xxl-mobile-override, 2.25rem);
  --nsw-font-size-xxl-desktop: var(--nsw-font-size-xxl-desktop-override, 3rem);
  --nsw-line-height-xxl-mobile: var(
    --nsw-line-height-xxl-mobile-override,
    1.25
  );
  --nsw-line-height-xxl-desktop: var(
    --nsw-line-height-xxl-desktop-override,
    1.25
  );

  /* Borders */

  --nsw-border-radius: var(--nsw-border-radius-override, 0.25rem);

  /* Shadows */

  --nsw-box-shadow: var(
    --nsw-box-shadow-override,
    0 0.25rem 0.75rem 0 rgba(0, 0, 0)
  );

  /* Maximum width of container */
  --nsw-container-width: var(--nsw-container-width-override, 75rem);
}
