.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
.sr-only-focusable:focus {
  clip: auto !important;
  clip-path: none !important;
  height: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}
.nsw-show-xs {
  display: none;
}
@media (min-width: 0rem) {
  .nsw-show-xs {
    display: block;
  }
}
.nsw-show-sm {
  display: none;
}
@media (min-width: 36rem) {
  .nsw-show-sm {
    display: block;
  }
}
.nsw-show-md {
  display: none;
}
@media (min-width: 48rem) {
  .nsw-show-md {
    display: block;
  }
}
.nsw-show-lg {
  display: none;
}
@media (min-width: 62rem) {
  .nsw-show-lg {
    display: block;
  }
}
.nsw-show-xl {
  display: none;
}
@media (min-width: 75rem) {
  .nsw-show-xl {
    display: block;
  }
}
@media (min-width: 0rem) {
  .nsw-hide-xs {
    display: none;
  }
}
@media (min-width: 36rem) {
  .nsw-hide-sm {
    display: none;
  }
}
@media (min-width: 48rem) {
  .nsw-hide-md {
    display: none;
  }
}
@media (min-width: 62rem) {
  .nsw-hide-lg {
    display: none;
  }
}
@media (min-width: 75rem) {
  .nsw-hide-xl {
    display: none;
  }
}
