.sfgpsds-markup-editor-title {
  font-size: 1.25rem;
  height: 21px;
  padding: 5px 0 0 15px;
  margin: 0;
}

.sfgpsds-markup-editor-tips {
  padding: 15px 15px 5px;
}

.sfgpsds-markup-editor-container {
  border: 1px solid #e1e1e1;
  margin: 15px;
  font-size: 13px;
  height: 100%;
}
