@import "c/sfGpsDsAuVicFormCssOs";

.rpl-alert-base {
  background-color: #465870;
  padding: 1.25rem;
  display: flex;
  align-items: center;
}

.rpl-alert-base--color-primary {
  background-color: var(--sf-gps-ds-au-vic-color-primary, #0052c2);
}

.rpl-alert-base--color-success {
  background-color: #027a83;
}

.rpl-alert-base--color-warning {
  background-color: #ca4c21;
}

.rpl-alert-base--color-danger {
  background-color: #af272f;
}

.rpl-alert-base__icon {
  margin: 0 1rem 0 0;
}

.rpl-icon--color_white {
  fill: #fff;
}

.rpl-alert-base__content {
  color: #fff;
}

.rpl-alert-base__content--color-white {
  color: #fff;
}

@media screen and (min-width: 0) {
  .rpl-alert-base__content {
    font-family: "VIC-Bold", "Arial", "Helvetica", "sans-serif";
    font-size: 0.875rem;
    line-height: 1em;
    font-weight: normal;
  }
}

@media screen and (min-width: 576px) {
  .rpl-alert-base__content {
    font-size: 1rem;
  }
}

.rpl-alert-base__content div {
  margin-top: 0.5rem;
  font-family: "VIC-Regular", "Arial", "Helvetica", "sans-serif";
}

.rpl-alert-base__content div:first-child {
  margin-top: 0;
  font-family: "VIC-Bold", "Arial", "Helvetica", "sans-serif";
}
