<template lwc:render-mode="light">
  <div
    lwc:if={hasAboveBody}
    data-f6-region
    id={aboveBodyId}
    class={aboveBodyClassName}
    aria-live="polite"
  >
    <slot name="aboveBody"></slot>
  </div>
  <!-- above body -->

  <main id={mainId} data-f6-region class={mainClassName} aria-live="polite">
    <slot name="main"></slot>
  </main>

  <!-- body -->

  <div
    lwc:if={hasBelowBody}
    id={belowBodyId}
    data-f6-region
    class={belowBodyClassName}
    aria-live="polite"
  >
    <slot name="belowBody"></slot>
  </div>
  <!-- below body -->
</template>
