@import "c/sfGpsDsAuNswSFormCssOs";

/*
:host {
  font-family: "Gotham A", "Gotham B", Gotham, Helvetica, Arial, sans-serif;
  color: #242934;
}

h2 {
  letter-spacing: 0px;
  font-weight: 700;
  margin-top: 1rem;
  font-size: 1.375rem;
  line-height: 1.875rem;
}

* + h2 {
  margin-top: 2rem;
}

h3 {
  margin-top: 1rem;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}

* + h3 {
  margin-top: 1.5rem;
}

h4 {
  margin-top: 1rem;
  letter-spacing: 0px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

* + h4 {
  margin-top: 1.2rem;
}

p {
  font-weight: 325;
  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: rgb(46, 82, 153);
  text-decoration: none;
  background-color: transparent;
  text-decoration-skip-ink: auto;
  text-decoration: underline;
}
*/
