@import "c/sfGpsDsAuVicFormCssOs";

.rpl-checkbox * {
  box-sizing: content-box;
}

/*
.required .rpl-checkbox:after {
  font-family: "VIC-Regular", "Arial", "Helvetica", "sans-serif";
  font-size: 0.875rem;
  line-height: 0.8em;
  font-weight: normal;
  color: #af272f;
  content: " (Required)";
}
*/

.rpl-icon--color_primary {
  fill: var(--sf-gps-ds-au-vic-color-primary, #0052c2);
}
