@import "../sfGpsDsUkGovCore/fonts-path.scss";
@import "govuk-frontend/govuk/components/file-upload/file-upload";

.omni-file-input {
  font-family: $govuk-font-family;
  font-size: 1rem;
  font-weight: $govuk-font-weight-regular;

  --lwc-spacingXxxSmall: 0.5rem;
  --slds-c-button-neutral-color-background: #eee;
  --slds-c-button-neutral-color-background-hover: #ddd;
  --slds-c-button-neutral-color-border: #767676;
  --slds-c-button-neutral-color-border-hover: #767676;
  --slds-c-button-text-color: $govuk-text-colour;
  --slds-c-button-neutral-text-color-hover: $govuk-text-colour;
  --slds-c-button-text-color-hover: $govuk-text-colour;
  --slds-c-button-spacing-block-start: 0.5rem; 
  --slds-c-button-spacing-block-end: 0.5rem;
  --slds-c-button-neutral-spacing-inline-start: 1.375rem;
  --slds-c-button-neutral-spacing-inline-end: 1.375rem;
}
