@import "node_modules/@dpc-sdp/ripple-global/scss/settings";
@import "node_modules/@dpc-sdp/ripple-global/scss/tools";

$rpl-share-this-title-color: rpl_color('extra_dark_neutral') !default;
$rpl-share-this-title-ruleset: ('l', 1.2rem, 'bold');
$rpl-share-this-title-margin: 0 0 $rpl-space-4;
$rpl-share-this-margin-l: $rpl-space-4 0;
$rpl-share-this-link-color: rpl_color('extra_dark_neutral') !default;
$rpl-share-this-icon-min-width: $rpl-space-4;
$rpl-share-this-icon-margin: $rpl-space;
$rpl-share-this-icon-margin-l: $rpl-space-2;
$rpl-share-this-social-ruleset: ('xs', 1.2rem, 'medium');
$rpl-share-this-social-margin-xs: 0 $rpl-space-2 $rpl-space 0;
$rpl-share-this-social-margin-l: 0 0 $rpl-space;

.rpl-share-this {
  @include rpl_breakpoint('l') {
    margin: $rpl-share-this-margin-l;
  }

  @include rpl_print_hidden;

  &__title {
    @include rpl_typography_ruleset($rpl-share-this-title-ruleset);
    color: $rpl-share-this-title-color;
    margin: $rpl-share-this-title-margin;
  }

  &__icon {
    min-width: $rpl-share-this-icon-min-width;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-right: $rpl-share-this-icon-margin;
    @include rpl_breakpoint('l') {
      margin-right: $rpl-share-this-icon-margin-l;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__button {
    @include rpl_typography_ruleset($rpl-share-this-social-ruleset);
    color: $rpl-share-this-link-color;
    margin: $rpl-share-this-social-margin-xs;
    display: inline-block;
    border: 0;
    background: 0;
    padding: 0;
    line-height: inherit;
    cursor: pointer;

    @include rpl_breakpoint('l') {
      display: block;
      margin: $rpl-share-this-social-margin-l;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &__hint {
    @include rpl_visually_hidden;
  }

}