@import "node_modules/@dpc-sdp/ripple-global/scss/settings";

$rpl-text-link-before-margin: auto $rpl-space auto auto !default;
$rpl-text-link-after-margin: auto auto auto $rpl-space !default;
$rpl-text-link-before-margin-rtl: auto auto auto $rpl-space-2 !default;
$rpl-text-link-after-margin-rtl: auto $rpl-space-2 auto auto !default;

.rpl-text-icon {
  &__group {
    white-space: normal;
  }

  &--before {
    margin: $rpl-text-link-before-margin;
  }

  &--after {
    margin: $rpl-text-link-after-margin;
  }
}

[dir="rtl"] {
  .rpl-text-icon {
    &--before {
      margin: $rpl-text-link-before-margin-rtl;
    }

    &--after {
      margin: $rpl-text-link-after-margin-rtl;
    }
  }
}