@import "@qhealth-design-system/core/src/styles/imports/functions.scss";
@import "@qhealth-design-system/core/src/styles/imports/mixins.scss";
@import "@qhealth-design-system/core/src/styles/imports/variables.scss";
@import "@qhealth-design-system/core/src/styles/imports/placeholders.scss";

@import "@qhealth-design-system/core/src/styles/imports/utilities.scss";

::-moz-selection {
  background: var(--QLD-color-dark__text--lighter);
  text-shadow: none;
}

::selection {
  color: var(--QLD-color-light__text);
  background: var(--QLD-color-dark__text--lighter);
  text-shadow: none;
}

body {
  overflow-y: scroll;
  font-size: $base-font-scale + em;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $QLD-font;
  color: var(--QLD-color-light__text);
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

img {
  max-width: 100%;
}

.qld__body fieldset, fieldset {
  padding:0;
}

@page {
  margin: 0.5cm;
}


/*
--------------------
Components
--------------------
*/

//@import "@qhealth-design-system/core/src/components/_global/css/**/*.scss";
@import "@qhealth-design-system/core/src/components/_global/css/**/**/*.scss";
@import "@qhealth-design-system/core/src/components/**/css/*.scss";