/* 
  Not too sure about the direction the QLD DS back to top is going; 
  we do this to keep aligning with the QLD Health one 
*/

.sfgpsdsauqld__widgets {
  bottom: 12px;
  bottom: 0.75rem;
  right: 12px;
  right: 0.75rem;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  z-index: 1;

  .qld__btn--floating {
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.3);
    box-shadow: 0px 1px 2px rgba(0,0,0,.3);
    display: inline-block;
  }

  .qld__btn, 
  a.qld__btn, 
  .sq-form-submit {
    text-decoration: none;
    -webkit-text-decoration: none;
    text-decoration-thickness: var(--QLD-underline__thickness-thin);
    -webkit-text-decoration-color: var(--QLD-color-light-underline);
    text-decoration-color: var(--QLD-color-light-underline);
    text-underline-offset: var(--QLD-underline__offset);
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
    cursor: pointer;
    display: inline-block;
    padding: 10px 24px;
    padding: 0.625rem 1.5rem;
    background-color: var(--QLD-color-light-button);
    color: var(--QLD-color-light-button__text);
    border-radius: 4px;
    border: 3px solid var(--QLD-color-light-button);
    text-align: center;
    min-width: 140px;
    min-width: 8.75rem;
  }


  .qld__btn.qld__btn--floating.qld__btn--back-to-top, 
  a.qld__btn.qld__btn--floating.qld__btn--back-to-top {
    display: none;
  }
}

body a.qld__btn.qld__btn--floating.qld__btn--back-to-top {
  @include QLD-underline('dark','noUnderline','buttonText','noVisited');
  @include QLD-space(margin-top, 0.5unit);
  background-color: var(--QLD-color-light__background--shade);
  border-color:  var(--QLD-color-light__background--shade);
  color: var(--QLD-color-light__link);
  padding: 0.5rem 1rem;
  
  &:after {
    @include QLD-space( width, 1unit );
    @include QLD-space( height, 1unit );
    @include QLD-space( margin, 0 0.25unit );
    content: '↑';
    color: var(--QLD-color-light-alt-button);
    display: inline-block;
    width: auto;
    height: auto;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: var(--QLD-color-light__background--alt-shade);
    border-color:  var(--QLD-color-light-alt__background--alt-shade);
    text-decoration-color: var(--QLD-color-light-link);
    &::after{
      content: '↑';
      color: var(--QLD-color-light-alt-button__hover);
    }
  }
}