.nsw-in-page-nav {
  margin-top: 1.5rem;
  padding: 1rem;
  border-left: solid 2px var(--nsw-brand-accent);
}
.nsw-in-page-nav:first-child {
  margin-top: 0;
}
@media (min-width: 48rem) {
  .nsw-in-page-nav {
    margin-top: 2rem;
  }
}
.nsw-in-page-nav__title {
  font-size: var(--nsw-font-size-md-mobile);
  line-height: var(--nsw-line-height-md-mobile);
  font-weight: var(--nsw-font-bold);
  margin: 0;
}
@media (min-width: 62rem) {
  .nsw-in-page-nav__title {
    font-size: var(--nsw-font-size-md-desktop);
    line-height: var(--nsw-line-height-md-desktop);
  }
}
.nsw-in-page-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.nsw-in-page-nav li {
  display: block;
  margin-top: 1rem;
}
