@import "c/sfGpsDsFrGovCoreOs";
@import "./input.gen.css";

/* Need to adjust this rule as in Omniscript they always be first child */
/* have same setup as for subsequent children. */

/*.govuk-form-group:first-child {
  margin-top: 1rem;
}
*/
.fr-disclosure {
  margin-top: 0.5rem;
  padding: 1rem;
  border-left: solid 4px var(--background-active-blue-france);
}

.fr-disclosure:first-child {
  margin-top: 0;
}

.fr-disclosure__content {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3157894737;
}

.fr-form-group {
  margin-bottom: 1.5rem;
}
