@font-face {
  font-family: "VIC-Regular";
  src:
    url(/sfsites/c/resource/sfGpsDsAuVic/fonts/VIC-Regular.woff2) format("woff2"),
    url(/resource/sfGpsDsAuVic/fonts/VIC-Regular.woff2) format("woff2"),
    url(/sfsites/c/resource/sfGpsDsAuVic/fonts/VIC-Regular.woff) format("woff"),
    url(/resource/sfGpsDsAuVic/fonts/VIC-Regular.woff) format("woff");
  display: swap;
}

@font-face {
  font-family: "VIC-Medium";
  src:
    url(/sfsites/c/resource/sfGpsDsAuVic/fonts/VIC-Medium.woff2) format("woff2"),
    url(/resource/sfGpsDsAuVic/fonts/VIC-Medium.woff2) format("woff2"),
    url(/sfsites/c/resource/sfGpsDsAuVic/fonts/VIC-Medium.woff) format("woff"),
    url(/resource/sfGpsDsAuVic/fonts/VIC-Medium.woff) format("woff");
  display: swap;
}

@font-face {
  font-family: "VIC-SemiBold";
  src:
    url(/sfsites/c/resource/sfGpsDsAuVic/fonts/VIC-SemiBold.woff2) format("woff2"),
    url(/resource/sfGpsDsAuVic/fonts/VIC-SemiBold.woff2) format("woff2"),
    url(/sfsites/c/resource/sfGpsDsAuVic/fonts/VIC-SemiBold.woff) format("woff"),
    url(/resource/sfGpsDsAuVic/fonts/VIC-SemiBold.woff) format("woff");
  display: swap;
}

@font-face {
  font-family: "VIC-Bold";
  src:
    url(/sfsites/c/resource/sfGpsDsAuVic/fonts/VIC-Bold.woff2) format("woff2"),
    url(/resource/sfGpsDsAuVic/fonts/VIC-Bold.woff2) format("woff2"),
    url(/sfsites/c/resource/sfGpsDsAuVic/fonts/VIC-Bold.woff) format("woff"),
    url(/resource/sfGpsDsAuVic/fonts/VIC-Bold.woff) format("woff");
  display: swap;
}

@import "./Form-inline";
@import "./Checkbox";
@import "./Fieldset";
@import "./Input";
@import "./Select";

.rpl-form {
  max-width: none;

  > fieldset {
    padding: 0;
    border-width: 0;
  }

  .required {
    float: none; /* deal with 'body .required' style in communities */
  }

  .form-group {
    margin-bottom: $rpl-form-element-margin-bottom-s;
    display: flex;
    flex-direction: column;
    @include rpl_breakpoint(m) {
      margin-bottom: $rpl-form-element-margin-bottom-m;
    }

    &.form-group__mid-margin-bottom {
      margin-bottom: 1rem;
      @include rpl_breakpoint(m) {
        margin-bottom: 1rem;
      }
    }

    &.form-group__low-margin-bottom {
      margin-bottom: 0.5rem;
      @include rpl_breakpoint(m) {
        margin-bottom: 0.5rem;
      }
    }

    &.form-group__no-margin-bottom {
      margin-bottom: 0;
      @include rpl_breakpoint(m) {
        margin-bottom: 0;
      }
    }

    &.required {
      > label > span {
        &:after {
          /* margin-left: $rpl-space; */ /* message already has space */
          @include rpl_typography_ruleset($rpl-form-required-ruleset);
          color: $rpl-form-required-color;
          content: $rpl-form-required-message;
        }
      }
    }

    label {
      order: 1;
    }

    .hint {
      order: 2;
    }

    .field-wrap {
      order: 3;
    }
  }

  .help-block {
    @include rpl_typography_ruleset($rpl-form-text-ruleset);

    &.errors {
      order: 4; /* move errors below the field input vs with hint */
    }
  }

  label.label--small {
    font-size: 0.875rem;
  }
}

.rpl-fieldset .form-group {
  margin-left: 0;
  margin-right: 0;
}

/* Leave space next to label for label slot  */
.form-group > label > span {
  margin-right: 0.25rem;
}
