@import "@dpc-sdp/ripple-global/scss/settings";
@import "@dpc-sdp/ripple-global/scss/tools";

$rpl-footer-breakpoint: 'l' !default;
$rpl-footer-border-width: $rpl-border-width !default;
$rpl-footer-border-color-light: rpl-color('white') !default;

.rpl-links-and-copyright__links {
  margin: 0;

  @include rpl_print_hidden;

  li {
    display: inline-block;
    border-left: $rpl-footer-border-width solid $rpl-footer-border-color-light;
    padding: 0 $rpl-space-3;
    margin-top: 0;
    margin-bottom: $rpl-space-2;

    &:first-child {
      border-left: 0;
      padding-left: 0;
    }
  }
}

.rpl-links-and-copyright__copyright {
  margin: 0 0 $rpl-space-4;
  p {
    margin-top: 0
  }
  @include rpl_breakpoint($rpl-footer-breakpoint) {
    margin-bottom: $rpl-space-2;
  }
  @include rpl_print_margin('l', 'before');
}