@import "./theme.css";

@font-face {
  font-family: Gotham;
  src: url(/sfsites/c/resource/sfGpsDsAuNswS/fonts/Gotham-Book_Web.woff2)
      format("woff2"),
    url(/sfsites/c/resource/sfGpsDsAuNswS/fonts/Gotham-Book_Web.woff)
      format("woff"),
    url(/resource/sfGpsDsAuNswS/fonts/Gotham-Book_Web.woff2) format("woff2"),
    url(/resource/sfGpsDsAuNswS/fonts/Gotham-Book_Web.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Gotham;
  src: url(/sfsites/c/resource/sfGpsDsAuNswS/fonts/Gotham-BookItalic_Web.woff2)
      format("woff2"),
    url(/sfsites/c/resource/sfGpsDsAuNswS/fonts/Gotham-BookItalic_Web.woff)
      format("woff"),
    url(/resource/sfGpsDsAuNswS/fonts/Gotham-BookItalic_Web.woff2)
      format("woff2"),
    url(/resource/sfGpsDsAuNswS/fonts/Gotham-BookItalic_Web.woff) format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Gotham;
  src: url(/sfsites/c/resource/sfGpsDsAuNswS/fonts/Gotham-Medium_Web.woff2)
      format("woff2"),
    url(/sfsites/c/resource/sfGpsDsAuNswS/fonts/Gotham-Medium_Web.woff)
      format("woff"),
    url(/resource/sfGpsDsAuNswS/fonts/Gotham-Medium_Web.woff2) format("woff2"),
    url(/resource/sfGpsDsAuNswS/fonts/Gotham-Medium_Web.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Gotham;
  src: url(/sfsites/c/resource/sfGpsDsAuNswS/fonts/Gotham-Bold_Web.woff2)
      format("woff2"),
    url(/sfsites/c/resource/sfGpsDsAuNswS/fonts/Gotham-Bold_Web.woff)
      format("woff"),
    url(/resource/sfGpsDsAuNswS/fonts/Gotham-Bold_Web.woff2) format("woff2"),
    url(/resource/sfGpsDsAuNswS/fonts/Gotham-Bold_Web.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
