.sf-gps-theme--alert-texture {
  background-image: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.025) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, 0.025) 50%,
    rgba(0, 0, 0, 0.025) 75%,
    transparent 75%,
    transparent
  );
  background-size: 64px 64px;
}
.sf-gps-theme--error {
  color: #fff;
  background-color: #ea001e;
}
.sf-gps-box {
  padding: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #e5e5e5;
}

.sf-gps-list--dotted {
  margin-left: 1.5rem;
  list-style: disc;
}

.sf-gps-who {
  border-top: 1px solid #e5e5e5;
  padding-top: 0.75rem;
  margin-top: 0.75rem;
}
