@import "c/sfGpsDsAuNswCore";

.nsw-tag {
  font-size: var(--nsw-font-size-xs-mobile);
  line-height: var(--nsw-line-height-xs-mobile);
  font-weight: var(--nsw-font-normal);
  padding: 0.125rem 1rem;
  border: solid 1px var(--nsw-brand-dark);
  border-radius: 1.5rem;
  color: var(--nsw-brand-dark);
  text-decoration: none;
  display: inline-block;
}
@media (min-width: 62rem) {
  .nsw-tag {
    font-size: var(--nsw-font-size-xs-desktop);
    line-height: var(--nsw-line-height-xs-desktop);
  }
}
.nsw-tag:visited {
  color: var(--nsw-brand-dark);
}
.nsw-tag:hover {
  outline-width: 0;
}
.nsw-tag:focus {
  outline-width: 3px;
}
.nsw-section--invert .nsw-tag {
  color: var(--nsw-text-light);
  border-color: var(--nsw-text-light);
}
.nsw-section--invert .nsw-tag:hover {
  background-color: var(--nsw-text-hover-light);
  outline-color: var(--nsw-text-hover-light);
}
.nsw-section--invert .nsw-tag:focus {
  outline-color: var(--nsw-white);
}
.nsw-section--invert .nsw-tag:visited {
  color: var(--nsw-text-light);
}
.nsw-tag--checkbox {
  padding: 0;
  border: 0;
  border-radius: 0;
  position: relative;
}
.nsw-section--invert .nsw-tag--checkbox:hover {
  background-color: transparent;
}
.nsw-tag--checkbox input {
  position: absolute;
  opacity: 0;
}
.nsw-tag--checkbox input:hover + label {
  background-color: var(--nsw-text-hover);
}
.nsw-section--invert .nsw-tag--checkbox input:hover + label {
  background-color: var(--nsw-text-hover-light);
}
.nsw-tag--checkbox input:focus + label {
  outline: solid 3px var(--nsw-focus);
  outline-offset: 0;
  outline-offset: 3px;
  outline-offset: 0;
}
.nsw-section--invert .nsw-tag--checkbox input:focus + label {
  outline-color: var(--nsw-white);
}
.nsw-tag--checkbox input:checked + label {
  background-color: var(--nsw-brand-dark);
  color: var(--nsw-text-light);
}
.nsw-section--invert .nsw-tag--checkbox input:checked + label {
  background-color: var(--nsw-white);
  color: var(--nsw-text-dark);
}
.nsw-tag--checkbox label {
  padding: 0.125rem 1rem;
  border: solid 1px var(--nsw-brand-dark);
  border-radius: 1.5rem;
  display: inline-block;
}
.nsw-section--invert .nsw-tag--checkbox label {
  border-color: var(--nsw-text-light);
}
.nsw-tag.active {
  background-color: var(--nsw-brand-dark);
  color: var(--nsw-text-light);
}
