<template lwc:render-mode="light">
  <span></span>
  <div lwc:ref="container" class={containerClassName}>
    <div data-f6-region class={alertClassName} aria-live="polite">
      <slot name="alert"></slot>
    </div>
    <div data-f6-region class={headerClassName} aria-live="polite">
      <slot name="header"></slot>
    </div>
    <main data-f6-region class={mainClassName} aria-live="polite">
      <div class={leftNavClassName}>
        <slot name="leftNav"></slot>
      </div>
      <div class={bodyClassName} id={contentId}>
        <slot></slot>
      </div>
    </main>
    <div class="sfgpsdsauqld__widgets">
      <slot name="widgets"></slot>
    </div>
    <div data-f6-region class={footerClassName} aria-live="polite">
      <slot name="footer"></slot>
    </div>
  </div>
</template>
