.rpl-col {
  width: calc(8.3333333333% - 1.5rem);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
@media screen {
  .rpl-col {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}

.rpl-col--full {
  width: calc(100% - 1.5rem);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
@media screen {
  .rpl-col--full {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}

.rpl-col--1 {
  width: calc(8.3333333333% - 1.5rem);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
@media screen {
  .rpl-col--1 {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}

.rpl-col--push-1 {
  position: relative;
  left: calc(8.3333333333%);
}

.rpl-col--pull-1 {
  position: relative;
  left: calc(8.3333333333% * -1);
}

.rpl-col--order-1 {
  order: 1;
}

.rpl-col--2 {
  width: calc(16.6666666667% - 1.5rem);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
@media screen {
  .rpl-col--2 {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}

.rpl-col--push-2 {
  position: relative;
  left: calc(16.6666666667%);
}

.rpl-col--pull-2 {
  position: relative;
  left: calc(16.6666666667% * -1);
}

.rpl-col--order-2 {
  order: 2;
}

.rpl-col--3 {
  width: calc(25% - 1.5rem);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
@media screen {
  .rpl-col--3 {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}

.rpl-col--push-3 {
  position: relative;
  left: calc(25%);
}

.rpl-col--pull-3 {
  position: relative;
  left: calc(25% * -1);
}

.rpl-col--order-3 {
  order: 3;
}

.rpl-col--4 {
  width: calc(33.3333333333% - 1.5rem);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
@media screen {
  .rpl-col--4 {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}

.rpl-col--push-4 {
  position: relative;
  left: calc(33.3333333333%);
}

.rpl-col--pull-4 {
  position: relative;
  left: calc(33.3333333333% * -1);
}

.rpl-col--order-4 {
  order: 4;
}

.rpl-col--5 {
  width: calc(41.6666666667% - 1.5rem);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
@media screen {
  .rpl-col--5 {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}

.rpl-col--push-5 {
  position: relative;
  left: calc(41.6666666667%);
}

.rpl-col--pull-5 {
  position: relative;
  left: calc(41.6666666667% * -1);
}

.rpl-col--order-5 {
  order: 5;
}

.rpl-col--6 {
  width: calc(50% - 1.5rem);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
@media screen {
  .rpl-col--6 {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}

.rpl-col--push-6 {
  position: relative;
  left: calc(50%);
}

.rpl-col--pull-6 {
  position: relative;
  left: calc(50% * -1);
}

.rpl-col--order-6 {
  order: 6;
}

.rpl-col--7 {
  width: calc(58.3333333333% - 1.5rem);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
@media screen {
  .rpl-col--7 {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}

.rpl-col--push-7 {
  position: relative;
  left: calc(58.3333333333%);
}

.rpl-col--pull-7 {
  position: relative;
  left: calc(58.3333333333% * -1);
}

.rpl-col--order-7 {
  order: 7;
}

.rpl-col--8 {
  width: calc(66.6666666667% - 1.5rem);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
@media screen {
  .rpl-col--8 {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}

.rpl-col--push-8 {
  position: relative;
  left: calc(66.6666666667%);
}

.rpl-col--pull-8 {
  position: relative;
  left: calc(66.6666666667% * -1);
}

.rpl-col--order-8 {
  order: 8;
}

.rpl-col--9 {
  width: calc(75% - 1.5rem);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
@media screen {
  .rpl-col--9 {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}

.rpl-col--push-9 {
  position: relative;
  left: calc(75%);
}

.rpl-col--pull-9 {
  position: relative;
  left: calc(75% * -1);
}

.rpl-col--order-9 {
  order: 9;
}

.rpl-col--10 {
  width: calc(83.3333333333% - 1.5rem);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
@media screen {
  .rpl-col--10 {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}

.rpl-col--push-10 {
  position: relative;
  left: calc(83.3333333333%);
}

.rpl-col--pull-10 {
  position: relative;
  left: calc(83.3333333333% * -1);
}

.rpl-col--order-10 {
  order: 10;
}

.rpl-col--11 {
  width: calc(91.6666666667% - 1.5rem);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
@media screen {
  .rpl-col--11 {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}

.rpl-col--push-11 {
  position: relative;
  left: calc(91.6666666667%);
}

.rpl-col--pull-11 {
  position: relative;
  left: calc(91.6666666667% * -1);
}

.rpl-col--order-11 {
  order: 11;
}

.rpl-col--12 {
  width: calc(100% - 1.5rem);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
@media screen {
  .rpl-col--12 {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}

.rpl-col--push-12 {
  position: relative;
  left: calc(100%);
}

.rpl-col--pull-12 {
  position: relative;
  left: calc(100% * -1);
}

.rpl-col--order-12 {
  order: 12;
}

@media screen and (min-width: 576px) {
  .rpl-col--full-s {
    width: calc(100% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--full-s {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--1-s {
    width: calc(8.3333333333% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--1-s {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--push-1-s {
    position: relative;
    left: calc(8.3333333333%);
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--pull-1-s {
    position: relative;
    left: calc(8.3333333333% * -1);
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--order-1-s {
    order: 1;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--2-s {
    width: calc(16.6666666667% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--2-s {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--push-2-s {
    position: relative;
    left: calc(16.6666666667%);
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--pull-2-s {
    position: relative;
    left: calc(16.6666666667% * -1);
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--order-2-s {
    order: 2;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--3-s {
    width: calc(25% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--3-s {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--push-3-s {
    position: relative;
    left: calc(25%);
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--pull-3-s {
    position: relative;
    left: calc(25% * -1);
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--order-3-s {
    order: 3;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--4-s {
    width: calc(33.3333333333% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--4-s {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--push-4-s {
    position: relative;
    left: calc(33.3333333333%);
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--pull-4-s {
    position: relative;
    left: calc(33.3333333333% * -1);
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--order-4-s {
    order: 4;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--5-s {
    width: calc(41.6666666667% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--5-s {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--push-5-s {
    position: relative;
    left: calc(41.6666666667%);
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--pull-5-s {
    position: relative;
    left: calc(41.6666666667% * -1);
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--order-5-s {
    order: 5;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--6-s {
    width: calc(50% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--6-s {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--push-6-s {
    position: relative;
    left: calc(50%);
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--pull-6-s {
    position: relative;
    left: calc(50% * -1);
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--order-6-s {
    order: 6;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--7-s {
    width: calc(58.3333333333% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--7-s {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--push-7-s {
    position: relative;
    left: calc(58.3333333333%);
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--pull-7-s {
    position: relative;
    left: calc(58.3333333333% * -1);
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--order-7-s {
    order: 7;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--8-s {
    width: calc(66.6666666667% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--8-s {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--push-8-s {
    position: relative;
    left: calc(66.6666666667%);
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--pull-8-s {
    position: relative;
    left: calc(66.6666666667% * -1);
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--order-8-s {
    order: 8;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--9-s {
    width: calc(75% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--9-s {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--push-9-s {
    position: relative;
    left: calc(75%);
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--pull-9-s {
    position: relative;
    left: calc(75% * -1);
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--order-9-s {
    order: 9;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--10-s {
    width: calc(83.3333333333% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--10-s {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--push-10-s {
    position: relative;
    left: calc(83.3333333333%);
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--pull-10-s {
    position: relative;
    left: calc(83.3333333333% * -1);
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--order-10-s {
    order: 10;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--11-s {
    width: calc(91.6666666667% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--11-s {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--push-11-s {
    position: relative;
    left: calc(91.6666666667%);
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--pull-11-s {
    position: relative;
    left: calc(91.6666666667% * -1);
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--order-11-s {
    order: 11;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--12-s {
    width: calc(100% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--12-s {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--push-12-s {
    position: relative;
    left: calc(100%);
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--pull-12-s {
    position: relative;
    left: calc(100% * -1);
  }
}
@media screen and (min-width: 576px) {
  .rpl-col--order-12-s {
    order: 12;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--full-m {
    width: calc(100% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--full-m {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--1-m {
    width: calc(8.3333333333% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--1-m {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--push-1-m {
    position: relative;
    left: calc(8.3333333333%);
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--pull-1-m {
    position: relative;
    left: calc(8.3333333333% * -1);
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--order-1-m {
    order: 1;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--2-m {
    width: calc(16.6666666667% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--2-m {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--push-2-m {
    position: relative;
    left: calc(16.6666666667%);
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--pull-2-m {
    position: relative;
    left: calc(16.6666666667% * -1);
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--order-2-m {
    order: 2;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--3-m {
    width: calc(25% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--3-m {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--push-3-m {
    position: relative;
    left: calc(25%);
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--pull-3-m {
    position: relative;
    left: calc(25% * -1);
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--order-3-m {
    order: 3;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--4-m {
    width: calc(33.3333333333% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--4-m {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--push-4-m {
    position: relative;
    left: calc(33.3333333333%);
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--pull-4-m {
    position: relative;
    left: calc(33.3333333333% * -1);
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--order-4-m {
    order: 4;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--5-m {
    width: calc(41.6666666667% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--5-m {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--push-5-m {
    position: relative;
    left: calc(41.6666666667%);
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--pull-5-m {
    position: relative;
    left: calc(41.6666666667% * -1);
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--order-5-m {
    order: 5;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--6-m {
    width: calc(50% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--6-m {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--push-6-m {
    position: relative;
    left: calc(50%);
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--pull-6-m {
    position: relative;
    left: calc(50% * -1);
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--order-6-m {
    order: 6;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--7-m {
    width: calc(58.3333333333% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--7-m {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--push-7-m {
    position: relative;
    left: calc(58.3333333333%);
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--pull-7-m {
    position: relative;
    left: calc(58.3333333333% * -1);
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--order-7-m {
    order: 7;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--8-m {
    width: calc(66.6666666667% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--8-m {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--push-8-m {
    position: relative;
    left: calc(66.6666666667%);
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--pull-8-m {
    position: relative;
    left: calc(66.6666666667% * -1);
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--order-8-m {
    order: 8;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--9-m {
    width: calc(75% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--9-m {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--push-9-m {
    position: relative;
    left: calc(75%);
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--pull-9-m {
    position: relative;
    left: calc(75% * -1);
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--order-9-m {
    order: 9;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--10-m {
    width: calc(83.3333333333% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--10-m {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--push-10-m {
    position: relative;
    left: calc(83.3333333333%);
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--pull-10-m {
    position: relative;
    left: calc(83.3333333333% * -1);
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--order-10-m {
    order: 10;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--11-m {
    width: calc(91.6666666667% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--11-m {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--push-11-m {
    position: relative;
    left: calc(91.6666666667%);
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--pull-11-m {
    position: relative;
    left: calc(91.6666666667% * -1);
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--order-11-m {
    order: 11;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--12-m {
    width: calc(100% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--12-m {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--push-12-m {
    position: relative;
    left: calc(100%);
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--pull-12-m {
    position: relative;
    left: calc(100% * -1);
  }
}
@media screen and (min-width: 768px) {
  .rpl-col--order-12-m {
    order: 12;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--full-l {
    width: calc(100% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--full-l {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--1-l {
    width: calc(8.3333333333% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--1-l {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--push-1-l {
    position: relative;
    left: calc(8.3333333333%);
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--pull-1-l {
    position: relative;
    left: calc(8.3333333333% * -1);
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--order-1-l {
    order: 1;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--2-l {
    width: calc(16.6666666667% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--2-l {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--push-2-l {
    position: relative;
    left: calc(16.6666666667%);
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--pull-2-l {
    position: relative;
    left: calc(16.6666666667% * -1);
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--order-2-l {
    order: 2;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--3-l {
    width: calc(25% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--3-l {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--push-3-l {
    position: relative;
    left: calc(25%);
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--pull-3-l {
    position: relative;
    left: calc(25% * -1);
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--order-3-l {
    order: 3;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--4-l {
    width: calc(33.3333333333% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--4-l {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--push-4-l {
    position: relative;
    left: calc(33.3333333333%);
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--pull-4-l {
    position: relative;
    left: calc(33.3333333333% * -1);
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--order-4-l {
    order: 4;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--5-l {
    width: calc(41.6666666667% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--5-l {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--push-5-l {
    position: relative;
    left: calc(41.6666666667%);
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--pull-5-l {
    position: relative;
    left: calc(41.6666666667% * -1);
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--order-5-l {
    order: 5;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--6-l {
    width: calc(50% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--6-l {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--push-6-l {
    position: relative;
    left: calc(50%);
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--pull-6-l {
    position: relative;
    left: calc(50% * -1);
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--order-6-l {
    order: 6;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--7-l {
    width: calc(58.3333333333% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--7-l {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--push-7-l {
    position: relative;
    left: calc(58.3333333333%);
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--pull-7-l {
    position: relative;
    left: calc(58.3333333333% * -1);
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--order-7-l {
    order: 7;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--8-l {
    width: calc(66.6666666667% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--8-l {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--push-8-l {
    position: relative;
    left: calc(66.6666666667%);
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--pull-8-l {
    position: relative;
    left: calc(66.6666666667% * -1);
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--order-8-l {
    order: 8;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--9-l {
    width: calc(75% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--9-l {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--push-9-l {
    position: relative;
    left: calc(75%);
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--pull-9-l {
    position: relative;
    left: calc(75% * -1);
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--order-9-l {
    order: 9;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--10-l {
    width: calc(83.3333333333% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--10-l {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--push-10-l {
    position: relative;
    left: calc(83.3333333333%);
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--pull-10-l {
    position: relative;
    left: calc(83.3333333333% * -1);
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--order-10-l {
    order: 10;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--11-l {
    width: calc(91.6666666667% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--11-l {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--push-11-l {
    position: relative;
    left: calc(91.6666666667%);
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--pull-11-l {
    position: relative;
    left: calc(91.6666666667% * -1);
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--order-11-l {
    order: 11;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--12-l {
    width: calc(100% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--12-l {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--push-12-l {
    position: relative;
    left: calc(100%);
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--pull-12-l {
    position: relative;
    left: calc(100% * -1);
  }
}
@media screen and (min-width: 992px) {
  .rpl-col--order-12-l {
    order: 12;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--full-xl {
    width: calc(100% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--full-xl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--1-xl {
    width: calc(8.3333333333% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--1-xl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--push-1-xl {
    position: relative;
    left: calc(8.3333333333%);
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--pull-1-xl {
    position: relative;
    left: calc(8.3333333333% * -1);
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--order-1-xl {
    order: 1;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--2-xl {
    width: calc(16.6666666667% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--2-xl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--push-2-xl {
    position: relative;
    left: calc(16.6666666667%);
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--pull-2-xl {
    position: relative;
    left: calc(16.6666666667% * -1);
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--order-2-xl {
    order: 2;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--3-xl {
    width: calc(25% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--3-xl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--push-3-xl {
    position: relative;
    left: calc(25%);
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--pull-3-xl {
    position: relative;
    left: calc(25% * -1);
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--order-3-xl {
    order: 3;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--4-xl {
    width: calc(33.3333333333% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--4-xl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--push-4-xl {
    position: relative;
    left: calc(33.3333333333%);
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--pull-4-xl {
    position: relative;
    left: calc(33.3333333333% * -1);
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--order-4-xl {
    order: 4;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--5-xl {
    width: calc(41.6666666667% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--5-xl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--push-5-xl {
    position: relative;
    left: calc(41.6666666667%);
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--pull-5-xl {
    position: relative;
    left: calc(41.6666666667% * -1);
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--order-5-xl {
    order: 5;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--6-xl {
    width: calc(50% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--6-xl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--push-6-xl {
    position: relative;
    left: calc(50%);
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--pull-6-xl {
    position: relative;
    left: calc(50% * -1);
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--order-6-xl {
    order: 6;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--7-xl {
    width: calc(58.3333333333% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--7-xl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--push-7-xl {
    position: relative;
    left: calc(58.3333333333%);
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--pull-7-xl {
    position: relative;
    left: calc(58.3333333333% * -1);
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--order-7-xl {
    order: 7;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--8-xl {
    width: calc(66.6666666667% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--8-xl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--push-8-xl {
    position: relative;
    left: calc(66.6666666667%);
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--pull-8-xl {
    position: relative;
    left: calc(66.6666666667% * -1);
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--order-8-xl {
    order: 8;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--9-xl {
    width: calc(75% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--9-xl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--push-9-xl {
    position: relative;
    left: calc(75%);
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--pull-9-xl {
    position: relative;
    left: calc(75% * -1);
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--order-9-xl {
    order: 9;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--10-xl {
    width: calc(83.3333333333% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--10-xl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--push-10-xl {
    position: relative;
    left: calc(83.3333333333%);
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--pull-10-xl {
    position: relative;
    left: calc(83.3333333333% * -1);
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--order-10-xl {
    order: 10;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--11-xl {
    width: calc(91.6666666667% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--11-xl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--push-11-xl {
    position: relative;
    left: calc(91.6666666667%);
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--pull-11-xl {
    position: relative;
    left: calc(91.6666666667% * -1);
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--order-11-xl {
    order: 11;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--12-xl {
    width: calc(100% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--12-xl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--push-12-xl {
    position: relative;
    left: calc(100%);
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--pull-12-xl {
    position: relative;
    left: calc(100% * -1);
  }
}
@media screen and (min-width: 1200px) {
  .rpl-col--order-12-xl {
    order: 12;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--full-xxl {
    width: calc(100% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--full-xxl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--1-xxl {
    width: calc(8.3333333333% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--1-xxl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--push-1-xxl {
    position: relative;
    left: calc(8.3333333333%);
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--pull-1-xxl {
    position: relative;
    left: calc(8.3333333333% * -1);
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--order-1-xxl {
    order: 1;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--2-xxl {
    width: calc(16.6666666667% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--2-xxl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--push-2-xxl {
    position: relative;
    left: calc(16.6666666667%);
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--pull-2-xxl {
    position: relative;
    left: calc(16.6666666667% * -1);
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--order-2-xxl {
    order: 2;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--3-xxl {
    width: calc(25% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--3-xxl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--push-3-xxl {
    position: relative;
    left: calc(25%);
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--pull-3-xxl {
    position: relative;
    left: calc(25% * -1);
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--order-3-xxl {
    order: 3;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--4-xxl {
    width: calc(33.3333333333% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--4-xxl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--push-4-xxl {
    position: relative;
    left: calc(33.3333333333%);
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--pull-4-xxl {
    position: relative;
    left: calc(33.3333333333% * -1);
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--order-4-xxl {
    order: 4;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--5-xxl {
    width: calc(41.6666666667% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--5-xxl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--push-5-xxl {
    position: relative;
    left: calc(41.6666666667%);
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--pull-5-xxl {
    position: relative;
    left: calc(41.6666666667% * -1);
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--order-5-xxl {
    order: 5;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--6-xxl {
    width: calc(50% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--6-xxl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--push-6-xxl {
    position: relative;
    left: calc(50%);
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--pull-6-xxl {
    position: relative;
    left: calc(50% * -1);
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--order-6-xxl {
    order: 6;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--7-xxl {
    width: calc(58.3333333333% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--7-xxl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--push-7-xxl {
    position: relative;
    left: calc(58.3333333333%);
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--pull-7-xxl {
    position: relative;
    left: calc(58.3333333333% * -1);
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--order-7-xxl {
    order: 7;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--8-xxl {
    width: calc(66.6666666667% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--8-xxl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--push-8-xxl {
    position: relative;
    left: calc(66.6666666667%);
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--pull-8-xxl {
    position: relative;
    left: calc(66.6666666667% * -1);
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--order-8-xxl {
    order: 8;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--9-xxl {
    width: calc(75% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--9-xxl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--push-9-xxl {
    position: relative;
    left: calc(75%);
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--pull-9-xxl {
    position: relative;
    left: calc(75% * -1);
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--order-9-xxl {
    order: 9;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--10-xxl {
    width: calc(83.3333333333% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--10-xxl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--push-10-xxl {
    position: relative;
    left: calc(83.3333333333%);
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--pull-10-xxl {
    position: relative;
    left: calc(83.3333333333% * -1);
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--order-10-xxl {
    order: 10;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--11-xxl {
    width: calc(91.6666666667% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--11-xxl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--push-11-xxl {
    position: relative;
    left: calc(91.6666666667%);
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--pull-11-xxl {
    position: relative;
    left: calc(91.6666666667% * -1);
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--order-11-xxl {
    order: 11;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--12-xxl {
    width: calc(100% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--12-xxl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--push-12-xxl {
    position: relative;
    left: calc(100%);
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--pull-12-xxl {
    position: relative;
    left: calc(100% * -1);
  }
}
@media screen and (min-width: 1600px) {
  .rpl-col--order-12-xxl {
    order: 12;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--full-xxxl {
    width: calc(100% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--full-xxxl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--1-xxxl {
    width: calc(8.3333333333% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--1-xxxl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--push-1-xxxl {
    position: relative;
    left: calc(8.3333333333%);
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--pull-1-xxxl {
    position: relative;
    left: calc(8.3333333333% * -1);
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--order-1-xxxl {
    order: 1;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--2-xxxl {
    width: calc(16.6666666667% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--2-xxxl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--push-2-xxxl {
    position: relative;
    left: calc(16.6666666667%);
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--pull-2-xxxl {
    position: relative;
    left: calc(16.6666666667% * -1);
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--order-2-xxxl {
    order: 2;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--3-xxxl {
    width: calc(25% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--3-xxxl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--push-3-xxxl {
    position: relative;
    left: calc(25%);
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--pull-3-xxxl {
    position: relative;
    left: calc(25% * -1);
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--order-3-xxxl {
    order: 3;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--4-xxxl {
    width: calc(33.3333333333% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--4-xxxl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--push-4-xxxl {
    position: relative;
    left: calc(33.3333333333%);
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--pull-4-xxxl {
    position: relative;
    left: calc(33.3333333333% * -1);
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--order-4-xxxl {
    order: 4;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--5-xxxl {
    width: calc(41.6666666667% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--5-xxxl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--push-5-xxxl {
    position: relative;
    left: calc(41.6666666667%);
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--pull-5-xxxl {
    position: relative;
    left: calc(41.6666666667% * -1);
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--order-5-xxxl {
    order: 5;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--6-xxxl {
    width: calc(50% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--6-xxxl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--push-6-xxxl {
    position: relative;
    left: calc(50%);
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--pull-6-xxxl {
    position: relative;
    left: calc(50% * -1);
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--order-6-xxxl {
    order: 6;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--7-xxxl {
    width: calc(58.3333333333% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--7-xxxl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--push-7-xxxl {
    position: relative;
    left: calc(58.3333333333%);
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--pull-7-xxxl {
    position: relative;
    left: calc(58.3333333333% * -1);
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--order-7-xxxl {
    order: 7;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--8-xxxl {
    width: calc(66.6666666667% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--8-xxxl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--push-8-xxxl {
    position: relative;
    left: calc(66.6666666667%);
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--pull-8-xxxl {
    position: relative;
    left: calc(66.6666666667% * -1);
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--order-8-xxxl {
    order: 8;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--9-xxxl {
    width: calc(75% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--9-xxxl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--push-9-xxxl {
    position: relative;
    left: calc(75%);
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--pull-9-xxxl {
    position: relative;
    left: calc(75% * -1);
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--order-9-xxxl {
    order: 9;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--10-xxxl {
    width: calc(83.3333333333% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--10-xxxl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--push-10-xxxl {
    position: relative;
    left: calc(83.3333333333%);
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--pull-10-xxxl {
    position: relative;
    left: calc(83.3333333333% * -1);
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--order-10-xxxl {
    order: 10;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--11-xxxl {
    width: calc(91.6666666667% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--11-xxxl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--push-11-xxxl {
    position: relative;
    left: calc(91.6666666667%);
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--pull-11-xxxl {
    position: relative;
    left: calc(91.6666666667% * -1);
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--order-11-xxxl {
    order: 11;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--12-xxxl {
    width: calc(100% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--12-xxxl {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--push-12-xxxl {
    position: relative;
    left: calc(100%);
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--pull-12-xxxl {
    position: relative;
    left: calc(100% * -1);
  }
}
@media screen and (min-width: 2560px) {
  .rpl-col--order-12-xxxl {
    order: 12;
  }
}

/*# sourceMappingURL=sfGpsDsAuVicCol.css.map */
