.nsw-pagination {
  margin-top: 1.5rem;
}
.nsw-pagination:first-child {
  margin-top: 0;
}
@media (min-width: 48rem) {
  .nsw-pagination {
    margin-top: 2rem;
  }
}
.nsw-pagination ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.nsw-pagination li {
  margin: 0;
}
.nsw-pagination li > span {
  padding: 0.25rem;
}
.nsw-pagination a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 0.25rem;
  min-width: 1.875rem;
  border-radius: var(--nsw-border-radius);
  color: var(--nsw-brand-dark);
}
.nsw-pagination a:hover {
  background-color: var(--nsw-text-hover);
  outline-width: 0;
}
.nsw-pagination a:focus {
  outline-width: 3px;
}
.nsw-pagination a.active {
  position: relative;
  color: var(--nsw-text-dark);
}
.nsw-pagination a.active:hover {
  background-color: rgba(0, 0, 0, 0);
}
.nsw-pagination a.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0.25rem;
  right: 0.25rem;
  height: 2px;
  background-color: var(--nsw-brand-accent);
}
.nsw-section--invert .nsw-pagination a.active {
  color: var(--nsw-text-light);
}
.nsw-pagination a[aria-disabled="true"] {
  opacity: 0.4;
  cursor: not-allowed;
}
.nsw-pagination a[aria-disabled="true"]:hover {
  background-color: rgba(0, 0, 0, 0);
}
