/* 
  Based on
  digitalnsw/nsw-design-system/src/components/pagination/_pagination.scss  
  5e4c4c2 on Oct 13, 2021
*/

@import "../../../../../node_modules/nsw-design-system/src/global/scss/settings/settings";
@import "../../../../../node_modules/nsw-design-system/src/global/scss/base/functions";
@import "../../../../../node_modules/nsw-design-system/src/global/scss/base/mixins";

@import "../../../../../node_modules/nsw-design-system/src/components/pagination/pagination";

/* TODO deal with inverted section colour scheme */

/* DEVIATION: introducing disabled for back/next buttons */

.nsw-pagination {
  a {
    &[aria-disabled="true"] {
      opacity: 0.4;
      cursor: not-allowed;

      &:hover {
        background-color: transparent;
      }
    }
  }
}