@import "omnistudio";

@import "slds-fixes";

@import "global.gen";
@import "style.gen";
@import "forms.gen";
@import "RplProgress";

@import "omnistudio-file-upload";
@import "omnistudio-custom-lwc";
@import "ripple2-fixes";

@import "byo_aura_layout";

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sfgpsds-content {
  font-size: var(--rpl-type-size-2);
  line-height: var(--rpl-type-lh-4);
  letter-spacing: var(--rpl-type-ls-1);
}
