@media (min-width: 699px) {
  .sf-gps-ds-au-qld-banner--background-type--image {
    background-image: var(--sfgpsds-au-qld-banner--background-image-lg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: var(
      --sfgpsds-au-qld-banner--background-image-alignment
    );
  }
}

.qld__banner.sf-gps-ds-au-qld-banner--background-type--texture {
  background-image: var(--sfgpsds-au-qld-banner--default-texture);
}

.qld__banner--dark.sf-gps-ds-au-qld-banner--background-type--texture,
.qld__banner--dark-alt.sf-gps-ds-au-qld-banner--background-type--texture {
  background-image: var(--sfgpsds-au-qld-banner--default-texture-dark);
}

@media (min-width: 1312px) {
  .sf-gps-ds-au-qld-banner--background-min-height {
    min-height: var(--sfgpsds-au-qld-banner--background-min-height);
  }
}
