.nsw-table {
  margin-top: 1.5rem;
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.nsw-table:first-child {
  margin-top: 0;
}
@media (min-width: 48rem) {
  .nsw-table {
    margin-top: 2rem;
  }
}
.nsw-table:focus {
  outline: solid 3px var(--nsw-focus);
  outline-offset: 0;
  outline-offset: 3px;
}
.nsw-table table {
  margin: 0;
  min-width: 37.5rem;
}
.nsw-table--caption-top table {
  caption-side: top;
}
.nsw-table--striped th,
.nsw-table--striped td {
  border-bottom: 0;
}
.nsw-table--striped tbody tr:nth-of-type(even) {
  background-color: var(--nsw-off-white);
}
.nsw-section--invert .nsw-table--striped tbody tr:nth-of-type(even) {
  background-color: var(--nsw-text-hover-light);
}
.nsw-table--bordered th,
.nsw-table--bordered td {
  border: solid 1px var(--nsw-grey-01);
}
.nsw-table--valign-baseline th,
.nsw-table--valign-baseline td {
  vertical-align: baseline;
}
.nsw-table--valign-top th,
.nsw-table--valign-top td {
  vertical-align: top;
}
.nsw-table--valign-middle th,
.nsw-table--valign-middle td {
  vertical-align: middle;
}
.nsw-table--valign-bottom th,
.nsw-table--valign-bottom td {
  vertical-align: bottom;
}
