.THIS {
  position: relative;
  z-index: 1;
}

.THIS .sr-only {
  display: none;
}

.THIS .rpl-site-content-container {
  background-repeat: no-repeat;
  background-position: -0.5rem -9rem;
  background-size: 18rem;
}

@media (min-width: 576px) {
  .THIS .rpl-site-content-container {
    background-position: -1rem -8.5rem;
    background-size: 20rem;
  }
}

@media (min-width: 768px) {
  .THIS .rpl-site-content-container {
    background-position: -1rem -6.5rem;
  }
}

@media (min-width: 992px) {
  .THIS .rpl-site-content-container {
    background-position: -1.5rem -4.5rem;
  }
}

@media (min-width: 1200px) {
  .THIS .rpl-site-content-container {
    background-position: left -4.5rem;
  }
}

@media (min-width: 1600px) {
  .THIS .rpl-site-content-container {
    background-position: calc(50.001% - 43rem) -13rem;
    background-size: 40rem;
  }
}

@media (min-width: 1900px) {
  .THIS .rpl-site-content-container {
    background-position: left -13rem;
  }
}
