.rpl-description-list-icon {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 30.3125rem;
}
.rpl-description-list-icon__item {
  position: relative;
  margin: 1rem 0;
}
.rpl-description-list-icon__item:first-child {
  margin-top: 0;
}
.rpl-description-list-icon__item:last-child {
  margin-bottom: 0;
}
.rpl-description-list-icon__icon {
  position: absolute;
  left: 0;
  top: 0.25rem;
}
.rpl-description-list-icon dt,
.rpl-description-list-icon dd {
  margin: 0;
  padding: 0;
}
.rpl-description-list-icon dt {
  font-family: "VIC-Bold", "Arial", "Helvetica", "sans-serif";
  font-size: 0.875rem;
  line-height: 1.5em;
  font-weight: normal;
}
.rpl-description-list-icon dd {
  font-family: "VIC-Regular", "Arial", "Helvetica", "sans-serif";
  font-size: 0.875rem;
  line-height: 1.5em;
  font-weight: normal;
}
.rpl-description-list-icon dd .rpl-markup__inner:first-child {
  margin-top: 0;
}
.rpl-description-list-icon
  dd
  .rpl-markup__inner
  .rpl-description-list-icon__content-item {
  margin-top: 0;
  margin-bottom: 0;
}
.rpl-description-list-icon--has-icons dt,
.rpl-description-list-icon--has-icons dd {
  padding-left: 1.5rem;
}
