.nsw-scope {
  .nsw-button,
  .nsw-button:hover,
  &.nsw-button,
  &.nsw-button:hover {
    text-decoration: none;
  }

  .nsw-button:focus {
    &.nsw-button--dark,
    &.nsw-button--dark-outline,
    &.nsw-button--dark-outline-solid,
    &.nsw-button--danger,
    &.nsw-button--info {
      color: var(--nsw-text-light);
    }
    &.nsw-button--light,
    &.nsw-button--light-outline,
    &.nsw-button--white {
      color: var(--nsw-text-dark);
    }
  }
}