/*@import "./fixes.scss";*/
.rpl-menu--vertical.rpl-menu--root {
  position: relative;
  margin: 1.5rem auto auto;
  left: 0;
  transition: left 0.5s;
}
@media screen and (min-width: 1200px) {
  .rpl-menu--vertical.rpl-menu--root {
    padding: auto 1rem auto 0;
  }
}
.rpl-menu--vertical.rpl-menu--root[data-vpos="1"] {
  left: -100%;
}
.rpl-menu--vertical.rpl-menu--root[data-vpos="2"] {
  left: -200%;
}
.rpl-menu--vertical.rpl-menu--root[data-vpos="3"] {
  left: -300%;
}
.rpl-menu--vertical .rpl-menu__heading {
  margin: 1.5rem auto 0.75rem auto;
}
.rpl-menu--vertical .rpl-menu__heading:focus {
  outline: 1px solid #fff;
}
.rpl-menu--vertical .rpl-menu__quickexit {
  padding: 1rem;
}
.rpl-menu--vertical .rpl-menu__quickexit > a {
  width: 100%;
}
.rpl-menu--vertical .rpl-menu__quickexit > a:focus {
  outline: 1px solid #fff;
}
@media screen and (min-width: 576px) {
  .rpl-menu--vertical .rpl-menu__quickexit {
    float: right;
  }
  .rpl-menu--vertical .rpl-menu__quickexit > a {
    width: auto;
  }
}
.rpl-menu--vertical .rpl-menu {
  position: absolute;
  top: 0;
  width: 100%;
}
.rpl-menu--vertical .rpl-menu[data-depth] {
  left: 100%;
}
.rpl-menu--vertical .rpl-menu:not(.rpl-menu--open) {
  display: none;
}
.rpl-menu--vertical .rpl-menu__items {
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  padding: 0 1.5rem;
}
.rpl-menu--vertical .rpl-menu__header {
  padding: 0 1.5rem;
}
.rpl-menu--vertical .rpl-menu__back {
  font-family: "VIC-Bold", "Arial", "Helvetica", "sans-serif";
  font-size: 0.875rem;
  line-height: 1em;
  font-weight: normal;
  padding: 1rem 0;
  margin-bottom: 0.5rem;
  color: #fff;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.rpl-menu--vertical .rpl-menu__back:focus {
  outline: 1px solid #fff;
}
.rpl-menu--vertical .rpl-menu__back .rpl-icon {
  margin: auto 0.25rem auto 0;
}
.rpl-menu--vertical .rpl-menu__item-link.rpl-menu__item-link--home {
  font-family: "VIC-Bold", "Arial", "Helvetica", "sans-serif";
  font-size: 0.875rem;
  line-height: 1.1em;
  font-weight: normal;
  margin-bottom: 0.5rem;
}
.rpl-menu--vertical .rpl-menu__item-link.rpl-menu__item-link--home span {
  margin-right: 0;
}

.rpl-menu--horizontal {
  margin: 0;
}
.rpl-menu--horizontal .rpl-menu__heading {
  margin: 0;
}
.rpl-menu--horizontal .rpl-menu__heading:focus {
  outline: 1px solid #fff;
}
.rpl-menu--horizontal .rpl-menu__items--root {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
.rpl-menu--horizontal
  .rpl-menu__items--root
  > .rpl-menu__item
  > .rpl-menu__item-link {
  font-family: "VIC-Bold", "Arial", "Helvetica", "sans-serif";
  font-size: 0.875rem;
  line-height: 1em;
  font-weight: normal;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: #fff;
  margin: auto 1.75rem auto auto;
}
.rpl-menu--horizontal
  .rpl-menu__items--root
  > .rpl-menu__item
  > .rpl-menu__item-link:focus {
  outline: 1px solid #fff;
}
.rpl-menu--horizontal
  .rpl-menu__items--root
  > .rpl-menu__item
  > .rpl-menu__item-link:hover::after,
.rpl-menu--horizontal
  .rpl-menu__items--root
  > .rpl-menu__item
  > .rpl-menu__item-link:focus::after {
  content: "";
  width: 100%;
  position: absolute;
  display: inline-block;
  bottom: -0.3125rem;
  border-radius: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #0095ec;
  background-image: none;
}
.rpl-menu--horizontal
  .rpl-menu__items--root
  > .rpl-menu__item
  > .rpl-menu__item-link
  .rpl-icon {
  vertical-align: middle;
  margin: auto auto auto 0.25rem;
  display: inline;
}
.rpl-menu--horizontal
  .rpl-menu__items--root
  > .rpl-menu__item
  > .rpl-menu__item-link--active::after {
  content: "";
  width: 100%;
  position: absolute;
  display: inline-block;
  bottom: -0.25rem;
  border-radius: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-image: linear-gradient(90deg, #0052c2 0%, #0095ec 100%);
}
.rpl-menu--horizontal .rpl-menu__quickexit {
  margin-bottom: 1.5rem;
  position: absolute;
  right: 2.5rem;
}
.rpl-menu--horizontal .rpl-menu__items:not(.rpl-menu__items--root) {
  list-style: none;
  padding: 0;
}
.rpl-menu--horizontal .rpl-menu--horizontal-floating-wrapper.rpl-menu--open {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  top: 3rem;
  height: calc(100vh - 4.25rem);
}
@media screen and (min-width: 576px) {
  .rpl-menu--horizontal .rpl-menu--horizontal-floating-wrapper.rpl-menu--open {
    height: calc(100vh - 5.5rem);
  }
}
@media screen and (min-width: 992px) {
  .rpl-menu--horizontal .rpl-menu--horizontal-floating-wrapper.rpl-menu--open {
    top: 3.875rem;
    height: calc(100vh - 6.375rem);
  }
}
.rpl-menu--horizontal
  .rpl-menu--horizontal-floating-wrapper
  > .rpl-menu__inner {
  position: relative;
}
@media screen and (min-width: 768px) {
  .rpl-menu--horizontal
    .rpl-menu--horizontal-floating-wrapper
    > .rpl-menu__inner {
    padding-left: calc(2rem - 1.25rem);
    padding-right: calc(2rem - 1.25rem);
  }
}
@media screen and (min-width: 992px) {
  .rpl-menu--horizontal
    .rpl-menu--horizontal-floating-wrapper
    > .rpl-menu__inner {
    padding-left: calc(4.25rem - 1.25rem);
    padding-right: calc(4.25rem - 1.25rem);
  }
}
@media screen and (min-width: 1200px) {
  .rpl-menu--horizontal
    .rpl-menu--horizontal-floating-wrapper
    > .rpl-menu__inner {
    padding-left: calc(5.75rem - 1.25rem);
    padding-right: calc(5.75rem - 1.25rem);
  }
}
@media screen and (min-width: 1600px) {
  .rpl-menu--horizontal
    .rpl-menu--horizontal-floating-wrapper
    > .rpl-menu__inner {
    padding-left: calc(17rem - 1.25rem);
    padding-right: calc(17rem - 1.25rem);
  }
}
@media screen and (min-width: 1200px) {
  .rpl-menu--horizontal
    .rpl-menu--horizontal-floating-wrapper
    > .rpl-menu__inner {
    padding-left: calc((100% - 66rem) / 2);
    padding-right: calc((100% - 66rem) / 2);
  }
}
@media screen and (min-width: 2560px) {
  .rpl-menu--horizontal
    .rpl-menu--horizontal-floating-wrapper
    > .rpl-menu__inner {
    padding-left: calc((100% - 88.75rem) / 2);
    padding-right: calc((100% - 88.75rem) / 2);
  }
}
@media screen and (min-width: 992px) {
  .rpl-menu--horizontal
    .rpl-menu--horizontal-floating-wrapper
    > .rpl-menu__inner {
    margin: 3rem auto auto;
  }
}
.rpl-menu--horizontal
  .rpl-menu--horizontal-floating-wrapper
  > .rpl-menu__inner
  > .rpl-menu__inner_root {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  width: calc(100% + 0.75rem * 2);
}
@media screen {
  .rpl-menu--horizontal
    .rpl-menu--horizontal-floating-wrapper
    > .rpl-menu__inner
    > .rpl-menu__inner_root {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
.rpl-menu--horizontal
  .rpl-menu--horizontal-floating-wrapper
  > .rpl-menu__inner
  > .rpl-menu__inner_root
  > .rpl-menu__column {
  position: relative;
  width: calc(33.3333333333% - 1.5rem);
  margin-left: calc(25% + 0.75rem);
}
.rpl-menu--horizontal
  .rpl-menu--horizontal-floating-wrapper
  > .rpl-menu__inner
  > .rpl-menu__inner_root
  > .rpl-menu__column
  > .rpl-menu__header {
  position: absolute;
  right: calc(100% + 1.5rem);
  width: calc((100% + 1.5rem) * 0.75 - 1.5rem);
}
.rpl-menu--horizontal[data-visibledepth="3"]
  .rpl-menu--horizontal-floating-wrapper
  > .rpl-menu__inner
  > .rpl-menu__inner_root
  > .rpl-menu__column {
  width: calc(25% - 1.5rem);
  margin-left: calc(25% + 0.75rem);
}
.rpl-menu--horizontal[data-visibledepth="3"]
  .rpl-menu--horizontal-floating-wrapper
  > .rpl-menu__inner
  > .rpl-menu__inner_root
  > .rpl-menu__column
  > .rpl-menu__header {
  width: 100%;
}
.rpl-menu--horizontal .rpl-menu:not(.rpl-menu--open) {
  display: none;
}
.rpl-menu--horizontal .rpl-menu--subs .rpl-menu__column {
  top: 0;
  position: absolute;
  left: calc(100% + 1.5rem);
  width: 100%;
}

.rpl-menu__heading {
  color: #fff;
  display: block;
}
@media screen and (min-width: 0) {
  .rpl-menu__heading {
    font-family: "VIC-Bold", "Arial", "Helvetica", "sans-serif";
    font-size: 1.5rem;
    line-height: 1.33em;
    font-weight: normal;
  }
}
@media screen and (min-width: 576px) {
  .rpl-menu__heading {
    font-family: "VIC-Bold", "Arial", "Helvetica", "sans-serif";
    font-size: 1.75rem;
    line-height: 1.14em;
  }
}
.rpl-menu__heading--horizontal-sub {
  padding: 0.75rem 0;
}
@media screen and (min-width: 0) {
  .rpl-menu__heading--horizontal-sub {
    font-family: "VIC-Bold", "Arial", "Helvetica", "sans-serif";
    font-size: 1.5rem;
    line-height: 1.33em;
    font-weight: normal;
  }
}
@media screen and (min-width: 576px) {
  .rpl-menu__heading--horizontal-sub {
    font-family: "VIC-Bold", "Arial", "Helvetica", "sans-serif";
    font-size: 1.25rem;
    line-height: 1.14em;
  }
}

.rpl-menu--vertical .rpl-menu__items--root > .rpl-menu__item:nth-of-type(2) {
  border-top: 0;
}
.rpl-menu--vertical .rpl-menu__item {
  border-top: 1px solid #0052c2;
}
.rpl-menu--vertical .rpl-menu__item:first-child {
  border-top: 0;
}
.rpl-menu--vertical .rpl-menu__item.rpl-menu__item--after-active,
.rpl-menu--vertical .rpl-menu__item.rpl-menu__item--active {
  border-top-color: transparent;
}

.rpl-menu--horizontal-floating-wrapper .rpl-menu__item,
.rpl-menu--horizontal .rpl-menu--subs .rpl-menu__item {
  border-top: 1px solid #0052c2;
}
.rpl-menu--horizontal-floating-wrapper .rpl-menu__item:first-child,
.rpl-menu--horizontal .rpl-menu--subs .rpl-menu__item:first-child {
  border-top: 0;
}
.rpl-menu--horizontal-floating-wrapper
  .rpl-menu__item.rpl-menu__item--after-active,
.rpl-menu--horizontal-floating-wrapper .rpl-menu__item.rpl-menu__item--active,
.rpl-menu--horizontal
  .rpl-menu--subs
  .rpl-menu__item.rpl-menu__item--after-active,
.rpl-menu--horizontal .rpl-menu--subs .rpl-menu__item.rpl-menu__item--active {
  border-top-color: transparent;
}

.rpl-menu--vertical .rpl-menu__item-link,
.rpl-menu--horizontal-floating-wrapper .rpl-menu__item-link,
.rpl-menu--horizontal .rpl-menu--subs .rpl-menu__item-link {
  font-family: "VIC-Medium", "Arial", "Helvetica", "sans-serif";
  font-size: 0.875rem;
  line-height: 1.1em;
  font-weight: normal;
  font-weight: 400;
  display: flex;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  background-color: transparent;
  border: 0;
  margin: 0;
  border-radius: 0;
  cursor: pointer;
  text-decoration: none;
  padding: 1rem 1.25rem 1rem 0;
  color: #fff;
  transition: padding-left 0.25s;
}
.rpl-menu--vertical .rpl-menu__item-link:focus,
.rpl-menu--horizontal-floating-wrapper .rpl-menu__item-link:focus,
.rpl-menu--horizontal .rpl-menu--subs .rpl-menu__item-link:focus {
  outline: 1px solid #fff;
}
.rpl-menu--vertical .rpl-menu__item-link .rpl-icon,
.rpl-menu--horizontal-floating-wrapper .rpl-menu__item-link .rpl-icon,
.rpl-menu--horizontal .rpl-menu--subs .rpl-menu__item-link .rpl-icon {
  margin: auto 0.5rem auto;
  margin-left: auto;
  min-width: 5px;
}
.rpl-menu--vertical .rpl-menu__item-link span,
.rpl-menu--horizontal-floating-wrapper .rpl-menu__item-link span,
.rpl-menu--horizontal .rpl-menu--subs .rpl-menu__item-link span {
  margin-right: 1.25rem;
  transition: margin-right 0.25s;
}
.rpl-menu--vertical .rpl-menu__item-link--active,
.rpl-menu--vertical .rpl-menu__item-link:focus,
.rpl-menu--horizontal-floating-wrapper .rpl-menu__item-link--active,
.rpl-menu--horizontal-floating-wrapper .rpl-menu__item-link:focus,
.rpl-menu--horizontal .rpl-menu--subs .rpl-menu__item-link--active,
.rpl-menu--horizontal .rpl-menu--subs .rpl-menu__item-link:focus {
  border-radius: 0.25rem;
  align-items: center;
  padding: 1rem 1.25rem;
  color: #fff;
}
.rpl-menu--vertical .rpl-menu__item-link--active span,
.rpl-menu--vertical .rpl-menu__item-link:focus span,
.rpl-menu--horizontal-floating-wrapper .rpl-menu__item-link--active span,
.rpl-menu--horizontal-floating-wrapper .rpl-menu__item-link:focus span,
.rpl-menu--horizontal .rpl-menu--subs .rpl-menu__item-link--active span,
.rpl-menu--horizontal .rpl-menu--subs .rpl-menu__item-link:focus span {
  margin-right: 0;
}
.rpl-menu--vertical .rpl-menu__item-link:focus,
.rpl-menu--horizontal-floating-wrapper .rpl-menu__item-link:focus,
.rpl-menu--horizontal .rpl-menu--subs .rpl-menu__item-link:focus {
  background-color: #0052c2;
}
.rpl-menu--vertical .rpl-menu__item-link--active,
.rpl-menu--horizontal-floating-wrapper .rpl-menu__item-link--active,
.rpl-menu--horizontal .rpl-menu--subs .rpl-menu__item-link--active {
  background-image: linear-gradient(90deg, #0052c2 0%, #0095ec 100%);
  background-color: transparent;
  color: #fff;
}

.rpl-menu--horizontal-floating-wrapper .rpl-menu__item-link:hover,
.rpl-menu--horizontal .rpl-menu--subs .rpl-menu__item-link:hover {
  border-radius: 0.25rem;
  align-items: center;
  padding: 1rem 1.25rem;
  color: #fff;
  background-color: #0052c2;
}
.rpl-menu--horizontal-floating-wrapper .rpl-menu__item-link:hover span,
.rpl-menu--horizontal .rpl-menu--subs .rpl-menu__item-link:hover span {
  margin-right: 0;
}

/*# sourceMappingURL=sfGpsDsAuVicMenu.css.map */
