@import "c/sfGpsDsAuNswSFormCssOs";

.form__group:first-child {
  margin-top: 1rem;
}

.nsw-col.street,
.nsw-col.suburb,
.nsw-col.state,
.nsw-col.postalcode,
.nsw-col.country {
  padding-top: 0;
  padding-bottom: 0;
}

.has-text-link {
  cursor: pointer;
}

.label-link {
  text-decoration: underline;
  color: var(--nsw-s-link);
}

.has-text-link {
  color: var(--nsw-s-link) !important;
}

.address-container input {
  text-transform: capitalize;
}

.sfgpsds-hide {
  display: none;
}

.sfgpsds-label__group {
  display: flex;
}

.sfgpsds-label__group_label_container {
  display: flex;
  flex-grow: 1;
  min-width: 0;
}

.sfgpsds-label__group_label {
  display: inline-flex;
  flex-grow: 1;
  align-items: center;
  min-width: 0;
}

.sfgpsds-label__group_action {
  min-width: 0;
  flex-grow: 0;
  flex-shrink: 0;
}
