@import "c/sfGpsDsAuNswSFormCssOs";

.omni-file-input {
  --lwc-spacingXxxSmall: 0.5rem;
  --lwc-colorBorder: var(--nsw-s-border);
  --slds-c-button-neutral-color-background: var(--nsw-s-brand-dark);
  --slds-c-button-neutral-color-background-hover: #002664d9;
  --slds-c-button-neutral-color-border: transparent;
  --slds-c-button-neutral-color-border-hover: transparent;
  --slds-c-button-text-color: var(--nsw-s-white);
  --slds-c-button-neutral-text-color-hover: var(--nsw-s-text-light);
  --slds-c-button-spacing-block-start: 0.5rem; /* Found by trial & error, due to lightning primitive icon height */
  --slds-c-button-spacing-block-end: 0.5rem;
  --slds-c-button-neutral-spacing-inline-start: 1.375rem;
  --slds-c-button-neutral-spacing-inline-end: 1.375rem;
  font-weight: var(--nsw-s-font-bold);
}
