@import "c/sfGpsDsAuNswSFormCssOs";

.omni-file-input {
  --lwc-spacingXxxSmall: 0.5rem;
  --lwc-colorBorder: var(--nsw-s-border);
  --slds-c-button-neutral-color-background: #c60c30;
  --slds-c-button-neutral-color-border: #a71930;
  --slds-c-button-neutral-color-background-hover: #e80229;
  --slds-c-button-neutral-color-border-hover: transparent;
  --slds-c-button-text-color: var(--nsw-s-white);
  --slds-c-button-text-color-hover: var(--nsw-s-white);
  --slds-c-button-spacing-block-start: 0.5rem; /* Found by trial & error, due to lightning primitive icon height */
  --slds-c-button-spacing-block-end: 0.5rem;
  --slds-c-button-neutral-spacing-inline-start: 1.375rem;
  --slds-c-button-neutral-spacing-inline-end: 1.375rem;
  font-weight: var(--nsw-s-font-bold);
}

ul.omni-file {
  margin: 0;
}

ul.omni-file li {
  background: none;
  padding: var(--lwc-spacingXSmall, 0.5rem);
}
