.siteforceContentArea .forceCommunitySection .cb-section_column,
.siteforceContentArea .forceCommunitySection .cb-section_column:first-child,
.siteforceContentArea .forceCommunitySection .cb-section_column:last-child {
  padding-left: 8px;
  padding-right: 8px;
}

.siteforceContentArea .forceCommunitySection .cb-section_row {
  margin-left: -8px;
  margin-right: -8px;
  max-width: calc(100% + 16px) !important;
}

/* mimic rpl-site-constrain--on-all, partial width */
/* does it on all sections but first section will be overriden below */

.siteforceContentArea .siteforceDesignTimeSection .forceCommunitySection,
.siteforceContentArea div > .ui-widget .forceCommunitySection {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media screen and (min-width: 768px) {
.siteforceContentArea .siteforceDesignTimeSection .forceCommunitySection,
.siteforceContentArea div > .ui-widget .forceCommunitySection {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (min-width: 992px) {
.siteforceContentArea .siteforceDesignTimeSection .forceCommunitySection,
.siteforceContentArea div > .ui-widget .forceCommunitySection {
    padding-left: 4.25rem;
    padding-right: 4.25rem;
  }
}

@media screen and (min-width: 1200px) {
  .siteforceContentArea .siteforceDesignTimeSection .forceCommunitySection,
  .siteforceContentArea div > .ui-widget .forceCommunitySection {
    padding-left: calc((100% - 66rem) / 2) /*!important*/;
    padding-right: calc((100% - 66rem) / 2) /*!important*/;
  }
}
@media screen and (min-width: 2560px) {
  .siteforceContentArea .siteforceDesignTimeSection .forceCommunitySection,
  .siteforceContentArea div > .ui-widget .forceCommunitySection {
    padding-left: calc((100% - 88.75rem) / 2) /*!important*/;
    padding-right: calc((100% - 88.75rem) / 2) /*!important*/;
  }
}

/* manage space under menu bar */
/* first child is for breadcrumbs hero and campaign - full width */

@media screen and (min-width: 0px) { 
  .siteforceContentArea .siteforceDesignTimeSection:first-child .forceCommunitySection,
  .siteforceContentArea div > .ui-widget:first-child .forceCommunitySection {
    padding-top: 3.875rem;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 576px) {
  .siteforceContentArea .siteforceDesignTimeSection:first-child .forceCommunitySection,
  .siteforceContentArea div > .ui-widget:first-child .forceCommunitySection {
    padding-top: 4.5rem;
     padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .siteforceContentArea .siteforceDesignTimeSection:first-child .forceCommunitySection,
  .siteforceContentArea div > .ui-widget:first-child .forceCommunitySection {
    padding-top: 5.375rem;
    padding-bottom: 0;
  }
}

.siteforceContentArea .siteforceDesignTimeSection:first-child .forceCommunitySection .cb-section_column,
.siteforceContentArea div > .ui-widget:first-child .forceCommunitySection .cb-section_column {
  padding-top: 0;
}

/* mimic rpl-content, adds padding after hero and prior to footer */

@media screen and (min-width: 0) {
  .siteforceContentArea .siteforceDesignTimeSection:nth-child(2) .cb-section_row,
  .siteforceContentArea div > .ui-widget:nth-child(2) .cb-section_row {
    padding-top: 1rem;
  }
  .siteforceContentArea .siteforceDesignTimeSection:last-child .cb-section_row,
  .siteforceContentArea div > .ui-widget:last-child .cb-section_row {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .siteforceContentArea .siteforceDesignTimeSection:nth-child(2) .cb-section_row,
  .siteforceContentArea div > .ui-widget:nth-child(2) .cb-section_row {
    padding-top: 2.5rem;
  }
}

@media screen and (min-width: 992px) {
  .siteforceContentArea .siteforceDesignTimeSection:nth-child(2) .cb-section_row,
  .siteforceContentArea div > .ui-widget:nth-child(2) .cb-section_row {
    padding-top: 4.25rem;
  }
  .siteforceContentArea .siteforceDesignTimeSection:last-child .cb-section_row,
  .siteforceContentArea div > .ui-widget:last-child .cb-section_row {
    padding-bottom: 2.75rem;
  }
}

@media screen and (min-width: 1200px) {
  .siteforceContentArea .siteforceDesignTimeSection:nth-child(2) .cb-section_row,
  .siteforceContentArea div > .ui-widget:nth-child(2) .cb-section_row {
    padding-top: 5rem;
  }
}



.cb-section_row {
 min-height: 0 !important;
}

a {
  text-decoration: underline;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.rpl-site-layout img {
  max-width: none;
  vertical-align: baseline;
}

.app-wysiwyg,
.forceCommunityRichText .app-wysiwyg {
  font-size: 0.875rem;
  line-height: 1.4em;
  font-weight: 400;
}

@media (min-width: 768px) {
  .app-wysiwyg,
  .forceCommunityRichText .app-wysiwyg {
    font-size: 1rem;
    line-height: 1.5em;
  }
}

@media (min-width: 2560px) {
  .app-wysiwyg,
  .forceCommunityRichText .app-wysiwyg {
    font-size: 1.125rem;
    line-height: 1.5em;
  }
}

.app-wysiwyg p,
.forceCommunityRichText .app-wysiwyg p {
  margin-bottom: 1em; /* 16px */
  margin-top: 1em; /* 16px */
}

.app-wysiwyg h1,
.forceCommunityRichText .app-wysiwyg h1 {
  font-size: 1.5rem;
  line-height: 1.2em;
  margin-bottom: 0.83em; /* 19.92px */
  margin-top: 0.83em;
}

.app-wysiwyg h2,
.forceCommunityRichText .app-wysiwyg h2 {
  font-size: 1.25rem;
  line-height: 1.2em;
  margin-bottom: 0.83rem; /* 16.6px */
  margin-top: 0.83rem;
}

.app-wysiwyg h3,
.forceCommunityRichText .app-wysiwyg h3 {
  font-size: 1.125rem;
  line-height: 1.2em;
  margin-bottom: 0.9em; /* 16.2px */
  margin-top: 0.9em;
}

.app-wysiwyg h4,
.forceCommunityRichText .app-wysiwyg h4 {
    font-size: 1rem;
    line-height: 1em;
    margin-bottom: 1em; /* 16px */
    margin-top: 1em;
}


@media (min-width: 576px) {
  .app-wysiwyg h1,
  .forceCommunityRichText .app-wysiwyg h1 {
    font-size: 1.75rem;
  }

  .app-wysiwyg h2,
  .forceCommunityRichText .app-wysiwyg h2 {
    font-size: 1.5rem;
  }

  .app-wysiwyg h3,
  .forceCommunityRichText .app-wysiwyg h3 {
    font-size: 1.5rem;
  }

  .app-wysiwyg h4,
  .forceCommunityRichText .app-wysiwyg h4 {
    font-size: 1.25rem;
  }
}

@media (min-width: 768px) {
  .app-wysiwyg h1,
  .forceCommunityRichText .app-wysiwyg h1 {
    font-size: 2rem;
  }

  .app-wysiwyg h2,
  .forceCommunityRichText .app-wysiwyg h2 {
    font-size: 1.75rem;
  }

  .app-wysiwyg h3,
  .forceCommunityRichText .app-wysiwyg h3 {
    font-size: 1.5rem; /* 24px */
  }

  .app-wysiwyg h4,
  .forceCommunityRichText .app-wysiwyg h4 {
    font-size: 1.25rem; /* 22px */
  }
}

/* Fix some issues linked to default customer-service styling */

.rpl-footer-nav__heading {
  margin-bottom: 0.83em;
  margin-top: 0.83em;
}