.siteforceContentArea .forceCommunitySection .cb-section_column:only-child {
  padding: 0;
}

.siteforceContentArea .forceCommunitySection .cb-section_column:first-child {
  padding-left: 0;
}

.siteforceContentArea .forceCommunitySection .cb-section_column:last-child {
  padding-right: 0;
}

/* mimic rpl-site-constrain--on-all, partial width */
/* does it on all sections but first section will be overriden below */

.siteforceContentArea .siteforceDesignTimeSection .forceCommunitySection {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media screen and (min-width: 768px) {
.siteforceContentArea .siteforceDesignTimeSection .forceCommunitySection {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (min-width: 992px) {
.siteforceContentArea .siteforceDesignTimeSection .forceCommunitySection {
    padding-left: 4.25rem;
    padding-right: 4.25rem;
  }
}

@media screen and (min-width: 1200px) {
.siteforceContentArea .siteforceDesignTimeSection .forceCommunitySection {
    padding-left: calc(50% - 33rem);
    padding-right: calc(50% - 33rem);
  }
}

/* manage space under menu bar */
/* first child is for breadcrumbs hero and campaign - full width */

@media screen and (min-width: 0px) { 
.siteforceContentArea .siteforceDesignTimeSection:first-child .forceCommunitySection {
  padding-top: 3.875rem;
  padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
   }
}

@media screen and (min-width: 576px) {
.siteforceContentArea .siteforceDesignTimeSection:first-child .forceCommunitySection {
  padding-top: 4.5rem;
     padding-bottom: 0;
}
}

@media screen and (min-width: 768px) {
.siteforceContentArea .siteforceDesignTimeSection:first-child .forceCommunitySection {
  padding-top: 5.375rem;
  padding-bottom: 0;
 }
}

/* mimic rpl-content, adds padding after hero and prior to footer */

@media screen and (min-width: 0) {
.siteforceContentArea .siteforceDesignTimeSection:nth-child(2) .cb-section_row {
    padding-top: 1rem;
  }
.siteforceContentArea .siteforceDesignTimeSection:last-child .cb-section_row {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
.siteforceContentArea .siteforceDesignTimeSection:nth-child(2) .cb-section_row {
    padding-top: 2.5rem;
  }
}

@media screen and (min-width: 992px) {
.siteforceContentArea .siteforceDesignTimeSection:nth-child(2) .cb-section_row {
    padding-top: 4.25rem;
  }
.siteforceContentArea .siteforceDesignTimeSection:last-child .cb-section_row {
    padding-bottom: 2.75rem;
  }
}

@media screen and (min-width: 1200px) {
.siteforceContentArea .siteforceDesignTimeSection:nth-child(2) .cb-section_row {
    padding-top: 5rem;
  }
}



.cb-section_row {
 min-height: 0 !important;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

img {
  max-width: none;
  vertical-align: baseline;
}
