@import "node_modules/@dpc-sdp/ripple-global/scss/settings";
@import "node_modules/@dpc-sdp/ripple-global/scss/tools";

$rpl-search-back-to-top-offset: 72px / 2;
$rpl-content-bg-color-grey: rpl_color('light_neutral') !default;
$rpl-page-header-bg-color: rpl_color('secondary') !default;
$rpl-page-header-title-bg-color-s: rpl_color('primary') !default;

.rpl-above-content {
  background-repeat: no-repeat;
  background-position: -.5rem -9rem;
  background-size: 18rem;

  @include rpl_breakpoint(s) {
    background-position: -1rem -8.5rem;
    background-size: 20rem;
  }

  @include rpl_breakpoint(m) {
    background-position: -1rem -6.5rem;
  }

  @include rpl_breakpoint(l) {
    background-position: -1.5rem -4.5rem;
  }

  @include rpl_breakpoint(xl) {
    background-position: left -4.5rem;
  }

  @include rpl_breakpoint(xxl) {
    // Decimal point to solve Safari's lack of sub-pixel rendering / rounding.
    background-position: calc(50.001% - 43rem) -13rem;
    background-size: 40rem;
  }

  @media (min-width: 1900px) {
    background-position: left -13rem;
  }

  @include rpl_print {
    background-image: none !important;
  }

  &__inner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @each $bp, $val in $rpl-layout-top-margin {
      @include rpl_breakpoint($bp) {
        padding-top: $val;
      }
    }

    @include rpl_print {
      padding-top: 0;
      background-image: none !important;
    }
  }

  &__top {
    display: flex;
    padding: 0 $rpl-header-horizontal-padding-xs;
    @include rpl_breakpoint(s) {
      justify-content: space-between;
      padding: 0 $rpl-header-horizontal-padding-s;
    }
  }
}