@import "c/sfGpsDsAuNswCore";
@import "c/sfGpsDsAuNswForm";
@import "c/sfGpsDsAuNswAccordionGroupCss";

.non-collapsible .nsw-accordion__title .active,
.non-collapsible .nsw-accordion__title:hover .nsw-accordion__title,
.non-collapsible .nsw-accordion__button .active,
.non-collapsible .nsw-accordion__title:hover .nsw-accordion__button,
.non-collapsible .nsw-accordion__button:hover .nsw-accordion__title,
.non-collapsible .nsw-accordion__button:hover .nsw-accordion__button {
  cursor: default;
}

.nsw-accordion:first-child {
  margin-top: 1rem;
}

@media (min-width: 48rem) {
  .nsw-accordion:first-child {
    margin-top: 1rem;
  }
}
