@import "c/sfGpsDsAuNswCore";

.nsw-global-alert {
  padding: 1.5rem 0;
  background-color: var(--nsw-status-info);
  color: var(--nsw-text-light);
}
.nsw-global-alert .nsw-icon-button {
  position: absolute;
  top: -0.5rem;
  right: 0.25rem;
  color: var(--nsw-text-light);
}
.nsw-global-alert .nsw-icon-button:hover {
  background-color: var(--nsw-text-hover);
  background-color: var(--nsw-text-hover-light);
}
.nsw-global-alert .nsw-icon-button:focus {
  outline: solid 3px var(--nsw-text-light);
  outline-offset: 0;
  outline-offset: 3px;
}
.nsw-global-alert__wrapper {
  max-width: var(--nsw-container-width);
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.nsw-global-alert__title {
  font-size: var(--nsw-font-size-md-mobile);
  line-height: var(--nsw-line-height-md-mobile);
  font-weight: var(--nsw-font-bold);
}
@media (min-width: 62rem) {
  .nsw-global-alert__title {
    font-size: var(--nsw-font-size-md-desktop);
    line-height: var(--nsw-line-height-md-desktop);
  }
}
.nsw-global-alert__content {
  margin-right: 2.25rem;
}
.nsw-global-alert__content a {
  color: var(--nsw-text-light);
}
.nsw-global-alert__content a:hover {
  background-color: var(--nsw-text-hover-light);
  outline-color: var(--nsw-text-hover-light);
}
.nsw-global-alert__content a:focus {
  outline-color: var(--nsw-white);
}
.nsw-global-alert__content a:visited {
  color: var(--nsw-text-light);
}
.nsw-global-alert .nsw-button {
  margin-right: 0;
}
.nsw-global-alert--critical {
  background-color: var(--nsw-status-error);
}
.nsw-global-alert--light {
  background-color: var(--nsw-status-info-bg);
  color: var(--nsw-text-dark);
}
.nsw-global-alert--light .nsw-global-alert__content a {
  color: var(--nsw-brand-dark);
}
.nsw-global-alert--light .nsw-global-alert__content a:hover {
  background-color: var(--nsw-text-hover);
  outline-color: var(--nsw-text-hover);
}
.nsw-global-alert--light .nsw-global-alert__content a:focus {
  outline-color: var(--nsw-focus);
}
.nsw-global-alert--light .nsw-global-alert__content a:visited {
  color: var(--nsw-text-visited);
}
.nsw-global-alert--light .nsw-icon-button {
  color: var(--nsw-brand-dark);
}
.nsw-global-alert--light .nsw-icon-button:hover {
  background-color: var(--nsw-text-hover);
}
.nsw-global-alert--light .nsw-icon-button:focus {
  outline-color: var(--nsw-focus);
}
