/* Ontario Design System Loading Indicator Styles */
/* Using CSS Custom Properties with fallbacks for theming */

@import "../../staticresources/sfGpsDsCaOnGlobalStyles/_ontario-variables.scss";

$spinner-size: 3rem;
$duration: 1.5s;
$dasharray: 89, 200;
$offset: 1, 200;

.ontario-loading-indicator__overlay {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;

  &[aria-hidden='false'] {
    display: block;
  }

  &[aria-hidden='true'] {
    display: none;
  }
}

.ontario-loading-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;

  p {
    color: var(--ontario-greyscale-70, #{$ontario-greyscale-70});
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 700;
    word-spacing: 0.025rem;
    margin: 0.75rem 0 0;
  }

  &--inline {
    position: relative;
    top: auto;
    transform: none;
    width: auto;
    height: auto;
    padding: 1rem;

    &[aria-hidden='true'] {
      display: none;
    }

    &[aria-hidden='false'] {
      display: flex;
    }
  }
}

.ontario-loading-indicator__spinner {
  animation: rotator $duration linear infinite;
  width: $spinner-size;
  height: $spinner-size;
  overflow: visible;

  circle {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke: var(--ontario-greyscale-70, #{$ontario-greyscale-70});
    animation: dash $duration ease-in-out infinite;
  }
}

@keyframes rotator {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: $dasharray;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: $dasharray;
    stroke-dashoffset: -124px;
  }
}
