.lwc-configuration code {
  word-break: break-all;
}

.rpl-table {
  border-collapse: collapse;
  width: 100%;
}
.rpl-table thead tr {
  background-color: #f6f6f9;
}
.rpl-table tbody tr {
  background-color: #fff;
}
.rpl-table tbody tr:nth-child(even) {
  background-color: #f6f6f9;
}
.rpl-table th {
  text-align: left;
}
.rpl-table td {
  font-family: "VIC-Regular", "Arial", "Helvetica", "sans-serif";
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: normal;
}
.rpl-table th,
.rpl-table td {
  padding: 1rem;
}
@media screen and (min-width: 0) and (max-width: 575px) {
  .rpl-table th,
  .rpl-table td {
    font-size: 0.875rem;
    line-height: 1.4em;
  }
}

/* Correct logo */

header .rpl-site-header__logo-container--vic-logo-primary img {
  width: 3rem;
}

@media (min-width: 992px) {
  header .rpl-site-header__logo-container--vic-logo-primary img {
    width: 3.5rem;
  }  
}

footer .rpl-site-footer__logo img {
  width: 3rem;
}