.lwc-configuration code {
  word-break: break-all;
}

.rpl-table {
  border-collapse: collapse;
  width: 100%;

  thead tr {
    background-color: #f6f6f9;
  }

  tbody {
    tr {
      background-color: #fff;
    }

    tr:nth-child(even) {
      background-color: #f6f6f9;
    }
  }

  th {
    text-align: left;
  }

  td {
    font-family: "VIC-Regular", "Arial", "Helvetica", "sans-serif";
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: normal;
  }

  th, td {
    padding: 1rem;

    @media screen and (min-width: 0) and (max-width: 575px) {
      font-size: 0.875rem;
      line-height: 1.4em;
    }
  }
}

/* Correct logo */

header .rpl-site-header__logo-container--vic-logo-primary img {
  width: 3rem;

  @media (min-width: 992px) {
    width: 3.5rem;
  }  
}

footer .rpl-site-footer__logo img {
  width: 3rem;
}

/* HERO BANNER */

.comm-page-custom-hero-bannner .siteforceContentArea,
.comm-page-custom-hero-banner .siteforceContentArea {
  @media screen and (min-width: 0px) { 
    .siteforceDesignTimeSection:nth-child(3) .forceCommunitySection,
    div > .ui-widget:nth-child(3) .forceCommunitySection {
      padding-left: 0;
      padding-right: 0;
    }
    
    .siteforceDesignTimeSection:nth-child(3) .forceCommunitySection .cb-section_column .ui-widget,
    div > .ui-widget:nth-child(3) .forceCommunitySection .cb-section_column .ui-widget {
      margin-bottom: 0;
    }
    
    .comm-page-custom-hero-banner .siteforceContentArea .siteforceDesignTimeSection:nth-child(6) .forceCommunitySection,
    .comm-page-custom-hero-banner .siteforceContentArea div > .ui-widget:nth-child(6) .forceCommunitySection {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

/* HERO BANNER CTA */

.comm-page-custom-hero-banner-cta .siteforceContentArea {
  @media screen and (min-width: 0px) { 
    .siteforceDesignTimeSection:nth-child(3) .forceCommunitySection,
    .comm-page-custom-hero-banner-cta .siteforceContentArea div > .ui-widget:nth-child(3) .forceCommunitySection {
      padding-left: 0;
      padding-right: 0;
        
      background-image: url(https://content.vic.gov.au/sites/default/files/2022-01/JTM-banner-top-left-corner.png);
      background-repeat: no-repeat;
      background-position: -0.5rem -9rem;
      background-size: 18rem;
    }
        
    .siteforceDesignTimeSection:nth-child(3) .forceCommunitySection .cb-section_column .ui-widget,
    div > .ui-widget:nth-child(3) .forceCommunitySection .cb-section_column .ui-widget {
      margin-bottom: 0;
    }
      
    .siteforceContentArea .siteforceDesignTimeSection:nth-child(6) .forceCommunitySection,
    div > .ui-widget:nth-child(6) .forceCommunitySection {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media screen and (min-width: 576px) {
    .siteforceDesignTimeSection:nth-child(3) .forceCommunitySection,
    div > .ui-widget:nth-child(3) .forceCommunitySection {
      background-position: -1rem -8.5rem;
      background-size: 20rem;
    }
  }

  @media screen and (min-width: 768px) {
    .siteforceDesignTimeSection:nth-child(3) .forceCommunitySection,
    div > .ui-widget:nth-child(3) .forceCommunitySection {
      background-position: -1rem -6.5rem;
    }
  }

  @media screen and (min-width: 992px) {
    .siteforceDesignTimeSection:nth-child(3) .forceCommunitySection,
    div > .ui-widget:nth-child(3) .forceCommunitySection {
      background-position: -1.5rem -4.5rem;
    }
  }

  @media screen and (min-width: 1200px) {
    .siteforceDesignTimeSection:nth-child(3) .forceCommunitySection,
    div > .ui-widget:nth-child(3) .forceCommunitySection {
      background-position: left -4.5rem;
    }
  }

  @media screen and (min-width: 1600px) {
    .siteforceDesignTimeSection:nth-child(3) .forceCommunitySection,
    div > .ui-widget:nth-child(3) .forceCommunitySection {
      background-position: calc(50.001% - 43rem) -13rem;
      background-size: 40rem;
    }
  }
}

/* SITE HEADER */

.comm-page-custom-site-header .siteforceContentArea {
  @media screen and (min-width: 0px) { 
    .siteforceDesignTimeSection:nth-child(3) .forceCommunitySection,
    div > .ui-widget:nth-child(3) .forceCommunitySection,
    .siteforceDesignTimeSection:nth-child(5) .forceCommunitySection,
    div > .ui-widget:nth-child(5) .forceCommunitySection {
      padding-left: 0;
      padding-right: 0;
    }
  }
}