/* sldsValidatorIgnore -*/
@import "c/sfGpsDsAuNswCore";
@import "c/sfGpsDsAuNswForm";

.sf-gps-ds-au-nsw-login-container {
  margin: 0 auto;
  min-width: 18rem;
  max-width: 40rem;
  color: var(--lwc-colorTextDefault, var(--dxp-g-root-contrast-1));
  background-color: var(--lwc-cardBackgroundColor, --dxp-g-root-1);
}

.form-actions {
  display: flex;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  flex-wrap: wrap;
}
