@import "c/sfGpsDsAuVicFormCssOs";

/* inspired from slds */
/* ------------------ */

.sfgpsds-dropdown {
  position: absolute;
  z-index: 7000;
  left: 50%;
  float: left;
  min-width: 6rem;
  max-width: 20rem;
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
  font-size: 0.75rem;
  background: rgb(255, 255, 255);
  transform: translateX(-50%);
  color: rgb(3, 45, 96);
}

.sfgpsds-dropdown-trigger .sfgpsds-dropdown {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.1s linear, visibility 0.1s linear;
  transition: opacity 0.1s linear, visibility 0.1s linear;
}

.sfgpsds-dropdown-trigger .sfgpsds-dropdown {
  top: 100%;
}

.sfgpsds-dropdown-trigger--click .sfgpsds-dropdown,
.sfgpsds-dropdown-trigger--click:hover .sfgpsds-dropdown,
.sfgpsds-dropdown-trigger_click .sfgpsds-dropdown,
.sfgpsds-dropdown-trigger_click:hover .sfgpsds-dropdown {
  display: none;
}

.sfgpsds-dropdown-trigger_click.sfgpsds-is-open .sfgpsds-dropdown {
  display: block;
  visibility: visible;
  opacity: 1;
}

.sfgpsds-dropdown_fluid,
.sfgpsds-dropdown--fluid {
  min-width: 12rem;
  max-width: 100%;
  width: 100%;
}

.sfgpsds-dropdown_length-5,
.sfgpsds-dropdown--length-5 {
  -webkit-overflow-scrolling: touch;
  max-height: calc(((1rem * 1.5) + 1rem) * 5);
  overflow-y: auto;
}

.sfgpsds-dropdown_length-7,
.sfgpsds-dropdown--length-7 {
  -webkit-overflow-scrolling: touch;
  max-height: calc(((1rem * 1.5) + 1rem) * 7);
  overflow-y: auto;
}

.sfgpsds-dropdown_length-10,
.sfgpsds-dropdown--length-10 {
  -webkit-overflow-scrolling: touch;
  max-height: calc(((1rem * 1.5) + 1rem) * 10);
  overflow-y: auto;
}

.sfgpsds-input {
  padding-top: 0;
  padding-right: 1rem;
  padding-bottom: 0;
  padding-left: 0.75rem;
  width: 100%;
  line-height: 1.875rem;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 0.25rem;
  background-color: rgb(255, 255, 255);
  color: rbg(3, 45, 96);
  transition: border 0.1s linear, background-color 0.1s linear;
  display: inline-block;
}

/* icon stuff 

.sfgpsds-input-has-icon {
  position: relative;
}

.sfgpsds-input-has-icon .sfgpsds-input__icon:not(button) {
  pointer-events: none;
}

.sfgpsds-input-has-icon .sfgpsds-input__icon {
  fill: rgb(174, 174, 174);
}

.sfgpsds-input-has-icon .sfgpsds-input__icon {
  width: 0.875rem;
  height: 0.875rem;
  position: absolute;
  top: 50%;
  margin-top: -0.4375rem;
  line-height: 1;
  border: 0;
  z-index: 2;
}

.sfgpsds-input-has-icon_right .sfgpsds-input__icon,
.sfgpsds-input-has-icon--right .sfgpsds-input__icon {
  right: 0.75rem;
}

.sfgpsds-input-has-icon_left .sfgpsds-input__icon,
.sfgpsds-input-has-icon--left .sfgpsds-input__icon {
  left: 0.75rem;
}

.sfgpsds-input-has-icon_right .sfgpsds-input {
  --sfgpsds-c-input-spacing-horizontal-end: 2rem;
}

.sfgpsds-input-has-icon_left .sfgpsds-input {
  --sfgpsds-c-input-spacing-horizontal-start: 2rem;
}

.sfgpsds-input-has-icon_left .sfgpsds-combobox__input.sfgpsds-combobox__input-value {
  padding-left: 2.25rem;
}

*/

.sfgpsds-listbox_vertical .sfgpsds-listbox__option_plain,
.sfgpsds-listbox_vertical .sfgpsds-listbox__option--plain,
.sfgpsds-listbox--vertical .sfgpsds-listbox__option_plain,
.sfgpsds-listbox--vertical .sfgpsds-listbox__option--plain {
  padding: 0.5rem 0.75rem;
}

.sfgpsds-listbox_vertical .sfgpsds-listbox__option:focus,
.sfgpsds-listbox_vertical .sfgpsds-listbox__option:hover,
.sfgpsds-listbox_vertical .sfgpsds-listbox__option.sfgpsds-has-focus,
.sfgpsds-listbox--vertical .sfgpsds-listbox__option:focus,
.sfgpsds-listbox--vertical .sfgpsds-listbox__option:hover,
.sfgpsds-listbox--vertical .slds-listbox__option.sfgpsds-has-focus {
  background-color: rgb(243, 243, 243);
  text-decoration: none;
}

.sfgpsds-media {
  display: flex;
  align-items: flex-start;
}

.sfgpsds-media_center,
.sfgpsds-media--center {
  align-items: center;
}

.sfgpsds-media__figure {
  flex-shrink: 0;
  margin-right: 0.75rem;
}

.sfgpsds-media_small .sfgpsds-media__figure,
.sfgpsds-media--small .sfgpsds-media__figure {
  margin-right: 0.25rem;
}

.sfgpsds-media__body {
  flex: 1;
  min-width: 0;
}

.sfgpsds-media__body,
.sfgpsds-media__body > :last-child {
  margin-bottom: 0;
}

/* end slds */
/* -------- */

/* omnistudio slds additions + our addition for input */

.sfgpsds-listbox__option-text_entity,
.sfgpsds-input {
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  overflow: hidden;
}

/* end slds */
/* -------- */

.sfgpsds-combobox > label > span {
  margin-right: 0.25rem;
}

.rpl-form .form-group.required > .sfgpsds-combobox > label > span:after {
  /* margin-left: $rpl-space; */ /* message already has space */
  font-family: "VIC-Regular", "Arial", "Helvetica", "sans-serif";
  font-size: 0.875rem;
  line-height: 0.8em;
  font-weight: normal;
  color: #af272f;
  content: " (Required)";
}

/* specific */
/* -------- */

.sfgpsds-input {
  position: relative;
  cursor: default;
  background-color: #f6f6f9;
  border: 1px solid #d7dbe0;
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: #011a3c;
  height: auto;
  width: 100%;
  font-family: "VIC-Regular", "Arial", "Helvetica", "sans-serif";
  font-size: 0.875rem;
  line-height: 1em;
  font-weight: normal;
  color: #011a3c;
}

.sfgpsds-dropdown {
  top: 0;
  background-color: #f6f6f9;
  position: relative;
  margin: auto;
  /*  font-size: 0.875rem;
  padding-top: 0;
  padding-bottom: 0;*/
}

.sfgpsds-dropdown_fluid,
.sfgpsds-dropdown--fluid {
  min-width: auto;
}

.sfgpsds-listbox {
  outline: 0;
  position: absolute;
  top: -1px;
  z-index: 1;
  background: #f6f6f9;
  /*left: -1px;*/
  width: 100%;
  border: 1px solid #d7dbe0;
  border-radius: 0.25rem;
  /*border-top: 1px solid #d7dbe0;*/
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  max-height: 18.375rem;
  overflow-y: auto;
}

.sfgpsds-is-open .sfgpsds-listbox {
  border: 1px solid var(--sf-gps-ds-au-vic-color-primary, #0052c2);
  border-top: none;
}

.sfgpsds-listbox__item {
  height: 2.625rem;
  background: #f6f6f9;
  font-family: "VIC-Regular", "Arial", "Helvetica", "sans-serif";
  line-height: 1em;
  font-weight: normal;
  color: #011a3c;
  cursor: default;

  font-size: 0.875rem;
}

.sfgpsds-listbox_vertical .sfgpsds-listbox__option {
  padding: 0.875rem 1rem;
}

@media screen and (min-width: 768px) {
  .sfgpsds-listbox_vertical .sfgpsds-listbox__option {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.sfgpsds-listbox__item:nth-child(odd) {
  background-color: #fff;
}

.sfgpsds-listbox__item:hover {
  background-color: var(--sf-gps-ds-au-vic-color-primary, #0052c2);
  color: #fff;
}

.sfgpsds-listbox__option:focus,
.sfgpsds-listbox__option:hover,
.sfgpsds-listbox__option.sfgpsds-has-focus,
.sfgpsds-listbox_vertical .sfgpsds-listbox__option:focus,
.sfgpsds-listbox_vertical .sfgpsds-listbox__option:hover,
.sfgpsds-listbox_vertical .sfgpsds-listbox__option.sfgpsds-has-focus,
.sfgpsds-listbox--vertical .sfgpsds-listbox__option:focus,
.sfgpsds-listbox--vertical .sfgpsds-listbox__option:hover,
.sfgpsds-listbox--vertical .slds-listbox__option.sfgpsds-has-focus {
  outline: 0;
  color: #fff;
  background-color: var(--sf-gps-ds-au-vic-color-primary, #0052c2);
}

.sfgpsds-listbox__option.sfgpsds-is-selected,
.sfgpsds-listbox_vertical .sfgpsds-listbox__option.sfgpsds-is-selected {
  outline: 0;
  background-color: var(--sf-gps-ds-au-vic-color-primary, #0052c2);
  color: #fff;
}

.dropdown-container {
  max-height: 300px;
  overflow-y: scroll;
}

.rpl-form .sfgpsds-is-open input[type="text"],
.rpl-form .sfgpsds-is-open input:not([type]) {
  /* it's typed for the date picker, :not([type]) for select { */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid var(--sf-gps-ds-au-vic-color-primary, #0052c2);
  border-bottom: 0;
}

.rpl-form input[type="text"],
.rpl-form input:not([type]) {
  /* it's typed for the date picker, :not([type]) for combobox/select { */
  padding-right: 3rem;
  background: #f6f6f9
    url("data:image/svg+xml,%3Csvg fill='%230052c2' version='1.1' xmlns='http://www.w3.org/2000/svg' width='32px' height='32px' viewBox='0 0 24 24' %3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm.5-13H11v6l5.25 3.15.75-1.23-4.5-2.67z'/%3E%3C/svg%3E")
    no-repeat right 1rem center;
  background-size: 1rem auto;
}
