.nsw-results-bar {
  margin: 1.5rem 0;
}
@media (min-width: 62rem) {
  .nsw-results-bar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.nsw-results-bar__sorting {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
}
@media (min-width: 62rem) {
  .nsw-results-bar__sorting {
    padding-top: 0;
  }
}
.nsw-results-bar__sorting label {
  white-space: nowrap;
  margin-right: 0.5rem;
}
.nsw-results-bar__sorting select {
  margin-top: 0;
  min-width: 12.5rem;
}
