@import "@dpc-sdp/ripple-global/scss/settings";

$rpl-all-colors: rpl-get-colors();
@each $color-name, $color-value in $rpl-all-colors {
  .rpl-icon--color_#{str-replace($color-name, ' ', '-')} {
    fill: rpl-color($color-name);
  }
}