@import "@dpc-sdp/ripple-global/scss/settings";
@import "@dpc-sdp/ripple-global/scss/tools";

$rpl-form-input-icon-size: $rpl-space-4;
.rpl-form-input {
  $root: &;
  position: relative;
  &--with-icon {
    &-before {
      & #{$root}__input {
        &[type="text"] {
          padding-left: $rpl-form-input-icon-size + $rpl-space-3 * 2;
        }
      }
    }
    &-after {
      & #{$root}__input {
        &[type="text"] {
          padding-right: $rpl-form-input-icon-size + $rpl-space-3 * 2;
        }
      }
    }
  }
  &__btn {
    @include rpl_btn_reset;
    height: $rpl-form-input-icon-size;
    width: $rpl-form-input-icon-size;
    position: absolute;
    top: calc(50% - #{$rpl-space-2});
    &-before {
      left: $rpl-space-3;
    }
    &-after {
      right: $rpl-space-3;
    }
  }
  &__icon {
    width: $rpl-form-input-icon-size !important; // required to overide inline style on rpl-icon
    height: $rpl-form-input-icon-size !important;
  }
}