@import "c/sfGpsDsAuNswCore";

.nsw-progress-indicator {
  margin-top: 1.5rem;
}
.nsw-progress-indicator:first-child {
  margin-top: 0;
}
@media (min-width: 48rem) {
  .nsw-progress-indicator {
    margin-top: 2rem;
  }
}
.nsw-progress-indicator__count {
  font-size: var(--nsw-font-size-sm-mobile);
  line-height: var(--nsw-line-height-sm-mobile);
}
@media (min-width: 62rem) {
  .nsw-progress-indicator__count {
    font-size: var(--nsw-font-size-sm-desktop);
    line-height: var(--nsw-line-height-sm-desktop);
  }
}
.nsw-progress-indicator__bar {
  display: flex;
  padding-top: 0.5rem;
}
.nsw-progress-indicator__bar div {
  height: 0.25rem;
  width: 100%;
  background-color: var(--nsw-grey-04);
}
.nsw-progress-indicator__bar div:not(:first-child) {
  margin-left: 0.25rem;
}
.nsw-progress-indicator__bar div.active {
  background-color: var(--nsw-brand-accent);
}
