.rpl-footer-nav__submenu-item--socials > li .rpl-link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.rpl-footer-nav__submenu-item--socials > li svg {
  position: absolute;
}
.rpl-footer-nav__submenu-item--socials > li .rpl-link__inner {
  margin-left: 0.5rem;
  padding-left: 1rem;
}
.rpl-footer-nav__submenu-item--socials c-sf-gps-ds-au-vic-icon {
  position: absolute;
}
.rpl-footer-nav__submenu-item--socials > li svg {
  position: static;
}
