@import "node_modules/@dpc-sdp/ripple-global/scss/settings";
@import "node_modules/@dpc-sdp/ripple-global/scss/tools";

.rpl-footer-nav__submenu-item {
&--socials > li {
  .rpl-link {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  svg {
    position: absolute;
  }

  .rpl-link__inner {
    margin-left: $rpl-space-2;
    padding-left: $rpl-space-4;
  }
}
}