@import "c/sfGpsDsAuNswCore";

/* stylelint-disable declaration-no-important */
/* stylelint-enable declaration-no-important */
.nsw-breadcrumbs {
  font-size: var(--nsw-font-size-xs-mobile);
  line-height: var(--nsw-line-height-xs-mobile);
  margin-top: 1.5rem;
}
@media (min-width: 62rem) {
  .nsw-breadcrumbs {
    font-size: var(--nsw-font-size-xs-desktop);
    line-height: var(--nsw-line-height-xs-desktop);
  }
}
.nsw-breadcrumbs ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.nsw-breadcrumbs li {
  display: none;
}
.nsw-breadcrumbs li::before {
  font-family: "Material Icons";
  -webkit-font-feature-settings: "liga";
  /* stylelint-disable-line property-no-vendor-prefix */
  content: "keyboard_arrow_right";
  font-size: 1.25rem;
  line-height: 0.5rem;
  display: inline-block;
  position: relative;
  top: 0.375rem;
}
@media (min-width: 48rem) {
  .nsw-breadcrumbs li {
    display: inline;
  }
}
.nsw-breadcrumbs li:nth-last-child(2),
.nsw-breadcrumbs li:last-child {
  display: inline;
}
.nsw-breadcrumbs li:nth-last-child(2)::before {
  display: none;
}
@media (min-width: 48rem) {
  .nsw-breadcrumbs li:nth-last-child(2)::before {
    display: inline-block;
  }
}
.nsw-breadcrumbs li:first-child::before {
  display: none;
}
@media (min-width: 48rem) {
  .nsw-breadcrumbs li:first-child::before {
    display: none;
  }
}
.nsw-breadcrumbs a {
  font-weight: var(--nsw-font-normal);
}
.nsw-breadcrumbs a.current {
  text-decoration: none;
  pointer-events: none;
  color: var(--nsw-text-dark);
}
.nsw-section--invert .nsw-breadcrumbs a.current {
  color: var(--nsw-text-light);
}
