@import "node_modules/@dpc-sdp/ripple-global/scss/settings";
@import "node_modules/@dpc-sdp/ripple-global/scss/tools";

.rpl-responsive-image {
  width: 100%;
  &--fit-cover {
    @include object_fit_image(cover);
  }
  &--fit-contain {
    @include object_fit_image(contain);
  }
}