@import "c/sfGpsDsAuNswCore";

.nsw-card {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  color: var(--nsw-text-dark);
  border-radius: var(--nsw-border-radius);
}
.nsw-card:hover {
  color: var(--nsw-text-light);
}
.nsw-card:hover .nsw-card__content {
  background-color: var(--nsw-brand-dark);
  border-color: transparent;
}
.nsw-card:hover .nsw-card__content::after {
  background-color: transparent;
}
.nsw-card:hover .nsw-card__image::after {
  background-color: transparent;
}
.nsw-card:hover a {
  color: var(--nsw-text-light);
}
.nsw-card:hover .nsw-material-icons {
  color: var(--nsw-text-light);
}
.nsw-section--invert .nsw-card:hover {
  color: var(--nsw-text-dark);
}
.nsw-section--invert .nsw-card:hover .nsw-card__content {
  background-color: var(--nsw-brand-light);
}
.nsw-section--invert .nsw-card:hover .nsw-card__content::after {
  background-color: transparent;
}
.nsw-card:focus-within {
  outline: solid 3px var(--nsw-focus);
  outline-offset: 0;
  outline-offset: 3px;
}
.nsw-card:focus-within a {
  text-decoration: none;
}
.nsw-card__content {
  font-size: var(--nsw-font-size-sm-mobile);
  line-height: var(--nsw-line-height-sm-mobile);
  padding: 1rem 1rem 3.875rem 1rem;
  background-color: var(--nsw-white);
  border-radius: var(--nsw-border-radius);
  border: 1px solid var(--nsw-grey-03);
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: background 0.15s ease-in-out, border 0.15s ease-in-out;
}
@media (min-width: 62rem) {
  .nsw-card__content {
    font-size: var(--nsw-font-size-sm-desktop);
    line-height: var(--nsw-line-height-sm-desktop);
  }
}
@media (min-width: 62rem) {
  .nsw-card__content {
    padding: 2rem 2rem 5.875rem 2rem;
  }
}
.nsw-section--invert .nsw-card__content {
  border-color: transparent;
}
.nsw-card__title {
  font-size: var(--nsw-font-size-md-mobile);
  line-height: var(--nsw-line-height-md-mobile);
  font-weight: var(--nsw-font-bold);
}
@media (min-width: 62rem) {
  .nsw-card__title {
    font-size: var(--nsw-font-size-md-desktop);
    line-height: var(--nsw-line-height-md-desktop);
  }
}
.nsw-card__title a {
  text-decoration: none;
  color: var(--nsw-text-dark);
  transition: color 0.15s ease-in-out;
}
.nsw-card__title a::after {
  z-index: 100;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.nsw-card__title a:focus {
  outline: none;
}
.nsw-card__title a:hover {
  background-color: transparent;
  outline: none;
}
.nsw-section--invert .nsw-card__title a {
  color: var(--nsw-text-dark);
}
.nsw-card__copy {
  margin-top: 1rem;
  transition: color 0.15s ease-in-out;
}
.nsw-card__tag,
.nsw-card__date {
  font-size: var(--nsw-font-size-xs-mobile);
  line-height: var(--nsw-line-height-xs-mobile);
  transition: color 0.15s ease-in-out;
  margin-bottom: 1rem;
}
@media (min-width: 62rem) {
  .nsw-card__tag,
  .nsw-card__date {
    font-size: var(--nsw-font-size-xs-desktop);
    line-height: var(--nsw-line-height-xs-desktop);
  }
}
.nsw-card__tag {
  font-weight: var(--nsw-font-bold);
}
.nsw-card__tag + .nsw-card__date {
  margin-top: -0.5rem;
}
.nsw-card .nsw-material-icons {
  font-size: 1.875rem;
  color: var(--nsw-brand-dark);
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  transition: color 0.15s ease-in-out;
}
@media (min-width: 62rem) {
  .nsw-card .nsw-material-icons {
    bottom: 2rem;
    left: 2rem;
  }
}
.nsw-section--invert .nsw-card .nsw-material-icons {
  color: var(--nsw-brand-dark);
}
.nsw-card__image {
  min-height: 12.5rem;
  height: 12.5rem;
  position: relative;
}
.nsw-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nsw-card__image + .nsw-card__content {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-width: 0;
}
.nsw-card__image + .nsw-card__content::after {
  display: none;
}
.nsw-section--invert .nsw-card--light:hover .nsw-card__content {
  background-color: var(--nsw-white);
}
.nsw-card--light .nsw-card__content {
  background-color: var(--nsw-brand-light);
  border-color: transparent;
}
.nsw-card--light .nsw-card__content::before,
.nsw-card--light .nsw-card__content::after {
  display: none;
}
.nsw-card--light .nsw-card__image::after {
  display: none;
}
.nsw-card--dark {
  color: var(--nsw-text-light);
}
.nsw-card--dark:hover {
  color: var(--nsw-text-dark);
}
.nsw-card--dark:hover .nsw-card__content {
  background-color: var(--nsw-white);
  border-color: var(--nsw-grey-03);
}
.nsw-card--dark:hover .nsw-card__title a {
  color: var(--nsw-text-dark);
}
.nsw-card--dark:hover .nsw-material-icons {
  color: var(--nsw-brand-dark);
}
.nsw-section--invert .nsw-card--dark:hover .nsw-card__content {
  background-color: var(--nsw-white);
}
.nsw-section--invert .nsw-card--dark:hover .nsw-material-icons {
  color: var(--nsw-brand-dark);
}
.nsw-card--dark .nsw-card__content {
  background-color: var(--nsw-brand-dark);
  border-color: transparent;
}
.nsw-card--dark .nsw-card__content::before,
.nsw-card--dark .nsw-card__content::after {
  display: none;
}
.nsw-section--invert .nsw-card--dark .nsw-card__content {
  border-color: var(--nsw-white);
}
.nsw-card--dark .nsw-card__image::after {
  display: none;
}
.nsw-card--dark .nsw-card__title a {
  color: var(--nsw-text-light);
}
.nsw-card--dark .nsw-material-icons {
  color: var(--nsw-text-light);
}
.nsw-section--invert .nsw-card--dark .nsw-material-icons {
  color: var(--nsw-text-light);
}
.nsw-card--headline .nsw-card__title {
  font-size: var(--nsw-font-size-lg-mobile);
  line-height: var(--nsw-line-height-lg-mobile);
}
@media (min-width: 62rem) {
  .nsw-card--headline .nsw-card__title {
    font-size: var(--nsw-font-size-lg-desktop);
    line-height: var(--nsw-line-height-lg-desktop);
  }
}
.nsw-card--highlight .nsw-card__content::before {
  content: "";
  height: 4px;
}
.nsw-card--highlight .nsw-card__content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color: var(--nsw-brand-accent);
  transition: background 0.15s ease-in-out;
}
.nsw-card--highlight .nsw-card__image::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  height: 4px;
  background-color: var(--nsw-brand-accent);
  transition: background 0.15s ease-in-out;
}
@media (min-width: 48rem) {
  .nsw-card--horizontal {
    flex-direction: row;
    align-items: stretch;
  }
  .nsw-card--horizontal .nsw-card__content {
    flex: 1 1 50%;
    height: auto;
  }
  .nsw-card--horizontal .nsw-card__content > .nsw-material-icons {
    left: calc(50% + 1rem);
  }
  .nsw-card--horizontal .nsw-card__image {
    flex: 1 1 50%;
    position: relative;
    height: auto;
  }
  .nsw-card--horizontal .nsw-card__image + .nsw-card__content {
    border-top-right-radius: var(--nsw-border-radius);
    border-bottom-left-radius: 0;
    border-top-width: 1px;
    border-left-width: 0;
  }
  .nsw-card--horizontal.nsw-card--highlight .nsw-card__image::after {
    top: 0;
    bottom: 0;
    left: auto;
    right: -4px;
    width: 4px;
    height: auto;
  }
}
@media (min-width: 62rem) {
  .nsw-card--horizontal .nsw-card__content > .nsw-material-icons {
    left: calc(50% + 2rem);
  }
}
