@import "node_modules/@dpc-sdp/ripple-global/scss/settings";
@import "node_modules/@dpc-sdp/ripple-global/scss/tools";

$rpl-contact-background: transparent !default;
$rpl-contact-title-ruleset: ('l', 1.2em, 'bold');
$rpl-contact-title-margin: 0 0 $rpl-space-4;
$rpl-contact-title-color: rpl_color('extra_dark_neutral') !default;
$rpl-contact-text-color: rpl_color('extra_dark_neutral') !default;
$rpl-contact-link-color: rpl_color('extra_dark_neutral') !default;
$rpl-contact-name-ruleset: ('xs', 1.4em, 'medium');
$rpl-contact-ruleset: ('xs', 1.4em, 'regular');
$rpl-contact-department-ruleset: ('xs', 1.4em, 'regular');
$rpl-contact-postal-ruleset: ('xs', 1.4em, 'regular');
$rpl-contact-list-ruleset: ('xs', 1em, 'medium');
$rpl-contact-details-padding: 0 0 0 ($rpl-space * 5);
$rpl-contact-details-border-image: rpl-gradient('decorative_gradient_90') !default;
$rpl-contact-paragraph-margin: $rpl-space-4 0;

.rpl-contact {
  @include rpl_text_color($rpl-contact-text-color);
  padding-top: $rpl-space-4;
  background: $rpl-contact-background;
  position: relative;

  @include rpl_print {
    page-break-inside: avoid;
  }

  &__title {
    @include rpl_typography_ruleset($rpl-contact-title-ruleset);
    @include rpl_text_color($rpl-contact-title-color);
    margin: $rpl-contact-title-margin;
  }

  .rpl-list__list-item {
    @include rpl_typography_ruleset($rpl-contact-list-ruleset);
  }

  .rpl-list__text {
    @include rpl_typography_ruleset($rpl-contact-list-ruleset);
    margin: $rpl-contact-paragraph-margin;
    vertical-align: bottom;
  }

  &__contact-details {
    position: relative;
    padding: $rpl-contact-details-padding;
    margin: $rpl-contact-paragraph-margin;

    @include rpl_print {
      padding: 0;
    }

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: rem(4px);
      background-image: $rpl-contact-details-border-image;

      @include rpl_print_hidden;
    }

  }

  &__name {
    @include rpl_typography_ruleset($rpl-contact-name-ruleset);
    display: block;
  }

  &__department {
    @include rpl_typography_ruleset($rpl-contact-department-ruleset);
    display: block;
  }

  &__postal {
    @include rpl_typography_ruleset($rpl-contact-postal-ruleset);
    display: block;
  }

  .rpl-link {
    @include rpl_text_color($rpl-contact-link-color);
  }
}