.step-id {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  min-width: 32px;
  min-height: 32px;
  border: 2px solid var(--sf-gps-ds-au-vic-color-primary, #0052c2);
  border-radius: 100px;
  font-size: 19px;
  z-index: 2;

  font-family: "VIC-Bold", "Arial", "Helvetica", "sans-serif";
  font-weight: normal;
  color: #011a3c;
}

.step_horizontal .step-id {
  min-width: 24px;
  min-height: 24px;
  font-size: 12px;
}

.step-container {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.step_horizontal .step-container {
  flex-direction: column;
}

.step-container__completed .step-id,
.step-container__in-progress .step-id {
  background-color: var(--sf-gps-ds-au-vic-color-primary, #0052c2);
  color: #ffffff;
}

.step-container__pristine .step-id {
  background-color: #ffffff;
  color: var(--sf-gps-ds-au-vic-color-primary, #0052c2);
}

.step-container__nonpristine .step-id {
  background-color: var(--sf-gps-ds-au-vic-color-secondary, #0095ec);
  color: #ffffff;
}

.step-label {
  white-space: pre-wrap;
  word-break: break-word;
  overflow: hidden;
  margin-left: 12px;
  margin-right: 12px;
  letter-spacing: -0.3px;
  line-height: 22px;
  max-height: 44px;
  min-height: 22px;
  color: rgb(60, 74, 96);
  font-weight: 600;
  font-size: 1.1rem;
  font-family: "VIC-Regular", "Arial", "Helvetica", "sans-serif";
}

.step-container__in-progress .step-label {
  color: var(--sf-gps-ds-au-vic-color-primary, #0052c2);
  font-family: "VIC-Bold", "Arial", "Helvetica", "sans-serif";
}

.step_horizontal .step-label {
  font-size: 0.875rem;
  position: absolute;
  top: 5px;
  max-width: 30rem;
  white-space: nowrap;
  padding-top: 1.25rem;
}

.step-icon {
  width: 16px;
  height: 16px;
  transition: all 0.5s ease 0s;
  transform: translateX(0px);
}

.step_horizontal .step-icon {
  width: 12px;
  height: 12px;
}

.sfgpsds-assistive-text {
  border: 0px;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0px;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
}
