@import "c/sfGpsDsAuNswSFormCssOs";
@import "c/sfGpsDsAuNswSPredictiveListOsN";

/* For repeatable icons in omni */
/*
.nsw-form__label {
  display: inline;
  margin-right: 0.5rem;
}
*/
/* even though it's not marked as readonly, it does not accept typing in */

.sfgpsds-combobox__input {
  cursor: pointer;
}

/* side icon */

.sfgpsds-combobox__input.lookup {
  padding-right: 3rem;
  background: var(--nsw-s-white)
    url("data:image/svg+xml,%3Csvg fill='%2322272B' version='1.1' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'  %3E%3Cg%3E%3Cpath d='M0,0h24v24H0V0z' fill='none'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M7,9H2V7h5V9z M7,12H2v2h5V12z M20.59,19l-3.83-3.83C15.96,15.69,15.02,16,14,16c-2.76,0-5-2.24-5-5s2.24-5,5-5s5,2.24,5,5 c0,1.02-0.31,1.96-0.83,2.75L22,17.59L20.59,19z M17,11c0-1.65-1.35-3-3-3s-3,1.35-3,3s1.35,3,3,3S17,12.65,17,11z M2,19h10v-2H2 V19z'/%3E%3C/g%3E%3C/svg%3E")
    no-repeat right 1rem center;
  background-size: 1rem auto;
}

.sfgpsds-combobox__input.lookup:disabled {
  background: var(--nsw-off-white-1)
    url("data:image/svg+xml,%3Csvg fill='%2322272B' version='1.1' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'  %3E%3Cg%3E%3Cpath d='M0,0h24v24H0V0z' fill='none'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M7,9H2V7h5V9z M7,12H2v2h5V12z M20.59,19l-3.83-3.83C15.96,15.69,15.02,16,14,16c-2.76,0-5-2.24-5-5s2.24-5,5-5s5,2.24,5,5 c0,1.02-0.31,1.96-0.83,2.75L22,17.59L20.59,19z M17,11c0-1.65-1.35-3-3-3s-3,1.35-3,3s1.35,3,3,3S17,12.65,17,11z M2,19h10v-2H2 V19z'/%3E%3C/g%3E%3C/svg%3E")
    no-repeat right 1rem center;
  background-size: 1rem auto;
  color: var(--nsw-s-text-dark); /* counter generic omni grey out */
}

.sfgpsds-combobox__input.lookup[aria-invalid="true"]:hover,
.sfgpsds-combobox__input.lookup.has-error:hover {
  background: var(--nsw-s-off-white-1)
    url("data:image/svg+xml,%3Csvg fill='%2322272B' version='1.1' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'  %3E%3Cg%3E%3Cpath d='M0,0h24v24H0V0z' fill='none'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M7,9H2V7h5V9z M7,12H2v2h5V12z M20.59,19l-3.83-3.83C15.96,15.69,15.02,16,14,16c-2.76,0-5-2.24-5-5s2.24-5,5-5s5,2.24,5,5 c0,1.02-0.31,1.96-0.83,2.75L22,17.59L20.59,19z M17,11c0-1.65-1.35-3-3-3s-3,1.35-3,3s1.35,3,3,3S17,12.65,17,11z M2,19h10v-2H2 V19z'/%3E%3C/g%3E%3C/svg%3E")
    no-repeat right 1rem center;
  background-size: 1rem auto;
}
